﻿@model IEnumerable<inventory_accounting_system.Models.Asset>

@{
    ViewData["Title"] = "ReportOnStockResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="printMe" style="margin-bottom: 15px;">


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Отчёт по категории: @ViewBag.CategoryName</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Assets/ReportOnStockChoice">Отчёты</a>
            </li>           
            <li class="active">
                <strong>Отчёт по категории</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead class="gradeX">
        <tr>
            <th >
                Название актива
            </th>
            <th >
                Инвентарный номер
            </th>
            <th >
               Категория
            </th>
            <th >
                Дата поступления
            </th>
            <th >
                Цена ($)
            </th>
            <th >
                Офис
            </th>
            <th >
                сотрудник
            </th>
            <th >
                поставщик
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.InventNumber)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Office.Title)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<a class="btn btn-w-m btn-primary"  onclick="printDiv('printMe');" style="margin-bottom: 15px;">Печать</a>


@section scripts{
    <script>
        function printDiv(eleId) {
            var PW = window.open('', '_blank', 'Print content');

            //IF YOU HAVE DIV STYLE IN CSS, REMOVE BELOW COMMENT AND ADD CSS ADDRESS
            //PW.document.write('<link rel="stylesheet" type="text/css" href="CSS-FILE-ADDRESS"/>');

            PW.document.write(document.getElementById(eleId).innerHTML);
            PW.document.close();
            PW.focus();
            PW.print();
            PW.close();
        }
    </script>
}
