﻿
@model inventory_accounting_system.Models.Asset

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var events = (List<Event>) ViewData["Events"];
}
<body onload="myFunction()">

   
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Создать</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Offices/Index">Главная</a>
            </li>
            <li>
                <a href="~/Assets/Index">Имущество</a>
            </li>
            <li class="active">
                <strong>Создать</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

    <hr />
    <div style="margin-bottom: 15px;">
        <div style="margin: auto; width: 40%; padding: 15px; border-radius: 7px; background-color: #F3F3F3">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group" id="catSelect">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="target form-control" id="onChangeText" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Событие</label>
                    <select name="eventId" class="form-control" id="eventId"></select>                   
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupplierId" class="control-label"></label>
                    <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Количество</label>
                    <input name="count" class="form-control" type="number" value="1"/>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" asp-for="Image" class="form-control" id="asd" />
                </div>
                <div class="form-group">
                    <label asp-for="Document" class="control-label"></label>
                    <input type="file" asp-for="Document" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-w-m btn-primary" />
                </div>
            </form>
            <div class="container"></div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".target").change(myFunction);

        function myFunction() {
            var selectText = document.getElementById("onChangeText");
            var selectedText = selectText.options[selectText.selectedIndex].text;
            if (selectedText === "Компьютеры") {
                var input = document.createElement('input');
                var label = document.createElement('label');

                label.style.marginTop = ".15in";
                label.setAttribute("id", "labelId");

                input.className = "form-control";
                input.setAttribute("id", "inputId");
                input.setAttribute("name", "serialNum");
                document.getElementById('catSelect').appendChild(label);
                document.getElementById('catSelect').appendChild(input);

                document.getElementById("labelId").innerHTML = "Серийный номер";
            } else {
                var input = document.getElementById("inputId");
                var label = document.getElementById("labelId");
                if (input != null) {
                    input.parentNode.removeChild(input);
                }
                if (label != null) {
                    label.parentNode.removeChild(label);
                }
            }
            if ($("#onChangeText").val() != null) {
                var select = document.getElementById('eventId');
                select.innerHTML = ""; //clear events list

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCategoryEvents", "Assets")',
                    data: { categoryId: $("#onChangeText").val() },
                    success: function(result) { //get responce
                        var obj = JSON.parse(result);

                        for (var i = 0; i < obj.length; i++) { //adding events
                            var opt = document.createElement('option');

                            opt.value = obj[i].Id;
                            opt.innerHTML = obj[i].Title;

                            select.appendChild(opt);
                        }
                    }
                });
            }

        }
    </script>
}
