﻿@model inventory_accounting_system.Models.Asset

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Удалить</h2>
        <h3 style="color: #EF5352">Вы уверены что хотите удалить это имущество</h3>
        <ol class="breadcrumb">
            <li>
                <a href="~/Assets/Details?id=@Model.Id">Информация о имуществе</a>
            </li>           
            <li class="active">
                <strong>Удалить</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<hr/>

<div style="width: 100%;">
    <div style="margin: auto; width: 100%">
        <h1 class="no-margins" style="font-size: 35pt; color: #1ab394">
            @Html.DisplayFor(model => model.Name)
        </h1>
    </div>
    <div style="display: flex;">
        <div style="width: 100%;">
            <div class="profile-image" style="width: 300px;">
                <img style="margin:5px; width: 320px; height: 250px" class="img-container m-b-md" src="../@Model.ImagePath" />
            </div>
        </div>
        <div style="width: 100%;">
            <h2> I/N: @Html.DisplayFor(model => model.InventNumber)</h2>
           <small>
                <h4> @Html.DisplayFor(model => model.Date) </h4>
                <h4> Категория: @Html.DisplayFor(model => model.Category.Name) </h4>
                <h4> Поставщик: @Html.DisplayFor(model => model.Supplier.Name) </h4>
                <h2>Цена: @Html.DisplayFor(model => model.Price) </h2>
            </small>
            <small>                                    
                @if (Model.SerialNum != null)
                    {
                        <h3> S/N: @Html.DisplayFor(model => model.SerialNum)</h3>
                    }
            </small>
        </div>
       
    </div>
</div>

                     <hr/>
                         <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Удалить"  style="margin: 15px 10px 20px 15px;" class="btn btn-w-m btn-danger" /> 
                        </form>
                </div>


                

<div>  
    
   
</div>
