﻿@model inventory_accounting_system.ViewModel.DetailsAssetViewModel

@{
ViewData["Title"] = "Details";
Layout = "~/Views/Shared/_Layout.cshtml";
var offMId = @ViewBag.OfficeIdGetMethodDetails;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Информация о имуществе</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Offices/Index?officeid=@offMId">Главная</a>
            </li>
            <li>
                <a href="~/Assets">Имущество</a>
            </li>
            <li class="active">
                <strong>Информация о имуществе</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr />

<div style="width: 100%">
    <div style="margin: auto; width: 100%">
        <h1 class="no-margins" style="font-size: 35pt; color: #1ab394">
            @Html.DisplayFor(model => model.Asset.Name)
        </h1>
    </div>
    <div style="display: flex">
        <div style="width: 100%;">
            <div class="profile-image" style="width: 300px;">
                <img style="margin:5px; width: 320px; height: 250px" class="img-container m-b-md" src="../@Model.Asset.ImagePath" />
            </div>
        </div>
        <div style="width: 100%;">
            <h2> I/N: @Html.DisplayFor(model => model.Asset.InventNumber)</h2>
            <small>
                <h4> @Html.DisplayFor(model => model.Asset.Date) </h4>
                <h4> Категория: @Html.DisplayFor(model => model.Asset.Category.Name) </h4>
                <h4> Поставщик: @Html.DisplayFor(model => model.Asset.Supplier.Name) </h4>
                <h2>Цена: @Html.DisplayFor(model => model.Asset.Price) $</h2>
            </small>
            <small>
                @if (Model.Asset.SerialNum != null)
                {
                <h3> S/N: @Html.DisplayFor(model => model.Asset.SerialNum)</h3>
                }
            </small>
        </div>
        <div>
            <div id="printMe" style="/* margin-top: 35px; */padding-bottom: 20px;">
                <img src="@String.Format(" data:image/png;base64,{0}", @Model.Barcode)" />
            </div>
            <button class="btn btn-w-m btn-primary" onclick="printDiv('printMe');" style="margin-left: 25.5px;">Печать
            </button>
        </div>
    </div>
</div>

<div class="m-t-lg" style="margin-top: 170px; margin-right: 959px;">
    <div class="attachment">
        <div class="file-box" style="width: auto;">
            <div class="file" style="width: 1586px;">
                @foreach (Document Doc in Model.Documents)
                {
                <a asp-controller="Assets" asp-action="GetFile" asp-route-documentId="@Doc.Id" style="float: left">
                    <span class="corner"></span>
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="file-name">
                        @Doc.Name
                        <br>
                        <small>@DateTime.Now</small>
                    </div>
                </a>
                }

                <form action="/Assets/UploadDocument" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="uploadedFile" class="form-control" />
                        <input type="hidden" name="AssetId" value="@Model.Asset.Id" />
                    </div>
                    <input type="submit" value="Загрузка" style="margin-left: 13px; margin-bottom: 15px; "
                        class="btn btn-w-m btn-primary" />
                </form>

            </div>
        </div>

        <div class="clearfix"></div>
    </div>

</div>



<h4>История перемещения</h4>
<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>

        <tr>
            <th>
                От Сотрудника
            </th>
            <th>
                От Офиса/Склада
            </th>
            <th>
                К Сотруднику
            </th>
            <th>
                К Офису/Складу
            </th>
            <th>
                Дата
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    @foreach (AssetsMoveStory Story in Model.AssetsMoveStories)
    {
    <tr>
        <td>
            @Story.EmployeeFrom.Login
        </td>
        <td>
            @Story.OfficeFrom.Title
        </td>
        <td>
            @if (Story.EmployeeTo != null)
            {
               @Story.EmployeeTo.Login
            }else{
                 
            }
            
        </td>
        <td>
            @Story.OfficeTo.Title
        </td>
        <td>@Story.DateStart</td>
        <td>@Story.StatusMovinHistory</td>
    </tr>
    }
</table>
<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Asset.Id" style="font-size: 13pt; color: #566275">Редактировать
        <i class="fa fa-edit" style="color: #1ab394; font-size: 15pt; margin: 0 20px 20px 5px;"></i></a>
        
    <a asp-controller="Assets" asp-action="EditAssetEvents" asp-route-assetId="@Model.Asset.Id" style="font-size: 13pt; color: #566275">Добавить событие
        <i class="fa fa-calendar" style="color: #11a7c2; font-size: 15pt;  margin: 0 20px 20px 5px;"></i></a>
        
    <a asp-controller="Assets" asp-action="Delete" asp-route-id="@Model.Asset.Id" style="font-size: 13pt; color: #566275">Удалить
        <i class="fa fa-times" style="color: #cc5965; font-size: 15pt; margin: 0 0px 20px 5px;"></i></a>
</div>
@section scripts{
<script>
    function printDiv(eleId) {
        var PW = window.open('', '_blank', 'Print content');

        //IF YOU HAVE DIV STYLE IN CSS, REMOVE BELOW COMMENT AND ADD CSS ADDRESS
        //PW.document.write('<link rel="stylesheet" type="text/css" href="CSS-FILE-ADDRESS"/>');

        PW.document.write(document.getElementById(eleId).innerHTML);
        PW.document.close();
        PW.focus();
        PW.print();
        PW.close();
    }
</script>
}