﻿@using Microsoft.AspNetCore.Identity
@using inventory_accounting_system.ViewModel

@model EditAssetViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string serialNum = Model.SerialNum;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Редактирование</h2>
        <ol class="breadcrumb">           
            <li>
                <a href="~/Assets/Details?id=@Model.Id">Информация о имуществе</a>
            </li>
            <li class="active">
                <strong>Редактирование</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr />
<div style="margin-bottom: 15px;">
        <div style="margin: auto; width: 40%; padding: 15px; border-radius: 7px; background-color: #F3F3F3">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" id="catSelect">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="target form-control" asp-items="ViewBag.CategoryId" id="onChangeText"></select>
            </div>
            <div class="form-group">
                <label asp-for="InventNumber" class="control-label"></label>
                <input asp-for="InventNumber" class="form-control" />
                <span asp-validation-for="InventNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <img src="../@Model.ImagePath" width="100" height="100" />
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OfficeId" value="@Model.OfficeId" />
            <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />
            <input type="hidden" name="ImagePath" value="@Model.ImagePath" />

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-w-m btn-primary" />
            </div>

            <input type="hidden" asp-for="SerialNum" id="passingToJs" value="@Model.SerialNum">
            <input type="hidden" asp-for="OldInventNumber" value="@Model.InventNumber">
        </form>
    </div>
</div>
<hr/>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(".target").change(function () {

            var selectText = document.getElementById("onChangeText");
            var selectedText = selectText.options[selectText.selectedIndex].value;
            console.log(selectedText);
            if (selectedText === "3b7a65bf-7ca3-456c-a703-52c104d5ad76") {
                var input = document.createElement('input');
                var label = document.createElement('label');
                console.log(selectText);
                label.style.marginTop = ".15in";
                label.setAttribute("id", "labelId");

                input.className = "form-control";
                input.setAttribute("id", "inputId");
                input.setAttribute("name", "serialNum");
                document.getElementById('catSelect').appendChild(label);
                document.getElementById('catSelect').appendChild(input);

                document.getElementById("labelId").innerHTML = "Серийный номер";
                var serialNum = $('#passingToJs').val()
                document.getElementById("inputId").value = serialNum;

            } else {
                var input = document.getElementById("inputId");
                var label = document.getElementById("labelId");
                if (input != null) {
                    input.parentNode.removeChild(input);
                }
                if (label != null) {
                    label.parentNode.removeChild(label)
                }
            }
        });
    </script>
    <script>
        var selectedValue = $('#onChangeText').val()
        if (selectedValue === "3b7a65bf-7ca3-456c-a703-52c104d5ad76") {
            var input = document.createElement('input');
            var label = document.createElement('label');

            label.style.marginTop = ".15in";
            label.setAttribute("id", "labelId");

            input.className = "form-control";
            input.setAttribute("id", "inputId");
            input.setAttribute("name", "serialNum");
            document.getElementById('catSelect').appendChild(label);
            document.getElementById('catSelect').appendChild(input);
            document.getElementById("labelId").innerHTML = "Серийный номер";
            var serialNum = $('#passingToJs').val()
            document.getElementById("inputId").value = serialNum;
        }
    </script>
}
