@model AssetMovingVM
@using inventory_accounting_system.ViewModel

@{
    ViewData["Title"] = "ReportOnStockResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="printMe">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Имущество закреплённое за @ViewBag.OfficeTitle</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Assets/ReportOnStockChoice">Отчёты</a>
            </li>           
            <li class="active">
                <strong>Имущество закреплённое за @ViewBag.OfficeTitle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead class="gradeX">
        <tr>
            <th >
                Название актива
            </th>
            <th >
                I\N
            </th>
            <th >
                Дата перемещения
            </th>
            <th >
                Офис from
            </th>
            <th >
                Офис to
            </th>
            <th >
                сотрудник from
            </th>
            <th >
                сотрудник to
            </th>
            <th >
                статус
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssetsMoveStories) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Asset.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Asset.InventNumber)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>            
            <td >
                @Html.DisplayFor(modelItem => item.OfficeFrom.Title)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.OfficeTo.Title)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.EmployeeFrom.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.EmployeeTo.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.StatusMovinHistory)
            </td>
        </tr>
}
    </tbody>
</table>

    <div>
        @if (Model.PageVM.HasPreviousPage)
            {
                <a asp-action="HistoryMoving"
                    asp-route-page="@(Model.PageVM.PageNumber - 1)"
                    class="btn btn-w-m btn-info" style="margin-right: 10px;">
                     <i class="fa fa-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageVM.HasNextPage)
            {
                <a asp-action="HistoryMoving"
                    asp-route-page="@(Model.PageVM.PageNumber + 1)"
                    class="btn btn-w-m btn-info">
                    Вперед
                    <i class="fa fa-chevron-right"></i>
                </a>
            }
    </div>

</div>

<a  class="btn btn-w-m btn-primary" style="margin-top: 15px;"  onclick="printDiv('printMe');">Печать</a>

@section scripts{
    <script>
        function printDiv(eleId) {
            var PW = window.open('', '_blank', 'Print content');

            //IF YOU HAVE DIV STYLE IN CSS, REMOVE BELOW COMMENT AND ADD CSS ADDRESS
            //PW.document.write('<link rel="stylesheet" type="text/css" href="CSS-FILE-ADDRESS"/>');

            PW.document.write(document.getElementById(eleId).innerHTML);
            PW.document.close();
            PW.focus();
            PW.print();
            PW.close();
        }
    </script>
}
