﻿
@model IndexVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@using inventory_accounting_system.ViewModel




@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dateAction = @ViewBag.dateAction;
    string dateActionSale = @ViewBag.dateActionSale;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Имущество</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Offices/Index">Главная</a>
            </li>           
            <li class="active">
                <strong>Имущество</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

        @if (SignInManager.IsSignedIn(User))
        {
                if (User.IsInRole("Admin"))
                {
                        <p>
                            <a class="btn btn-w-m btn-primary"  asp-action="Create">Создать</a>
                        </p>
                }
        }

                @using (Html.BeginForm("Index", "Assets", FormMethod.Post))
                {
                    <div>
                        <p>
                             @Html.TextBox("searchString",null, new { @class="form-control", @placeholder="Search for something..." })
                        </p>
                    </div>
                }
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr class="gradeX">
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.IsActiveSort">
                                    <strong>Выбрать</strong>
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.NameSort">
                                    Имя
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.NameSort">
                                    Инвентарный номер
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.DateSort">
                                    Дата
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.ImageSort">
                                    Фото
                                </a>
                            </th>

                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.CategorySort">
                                   Категория
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.PriceSort">
                                    Цена
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.SupplierSort">
                                    Поставщик
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Asset item in Model.Assets)
                        {
                            <tr class="gradeX">
                                <td>
                                    <input type="checkbox" id="assetIdCheckBox" value="@item.Id" data-name="@item.Name" onchange="OnChangeCheckBoxFunc(this)" />
                                </td>
                                <td onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                   @item.Name
                                </td>
                                <td onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @item.InventNumber
                                </td>
                                <td onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                     @item.Date
                                </td>
                                <td onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    <img src="@item.ImagePath" width="50" height="50" />
                                </td>

                                <td onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @item.Category.Name
                                </td>
                                <td  onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @item.Price
                                </td>
                                <td   onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @item.Supplier.Name
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div>
                    @if (Model.PageVM.HasPreviousPage)
                        {
                            <a asp-action="Index"
                                asp-route-page="@(Model.PageVM.PageNumber - 1)"
                                class="btn btn-w-m btn-info" style="margin-right: 10px;">
                                 <i class="fa fa-chevron-left"></i>
                                Назад
                            </a>
                        }
                        @if (Model.PageVM.HasNextPage)
                        {
                            <a asp-action="Index"
                                asp-route-page="@(Model.PageVM.PageNumber + 1)"
                                class="btn btn-w-m btn-info">
                                Вперед
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        }
                </div>
                

                <div class="col" style="margin-top: 10px;">
                    <a class="btn btn-w-m btn-primary" style="margin-right: 10px;" onclick="modalShowHendler()">Закрепить</a>
                    
                    @if (User.IsInRole("Admin"))
                    {
                    <a class="btn btn-w-m btn-primary" style="margin-right: 10px;" onclick="modalShowHendlerSale()">Продажа</a>
                    <a class="btn btn-w-m btn-info" asp-action="ReportOnStockChoice">Получить отчёт</a>
                    <button id="CreateMethodAssetsWritten_off" type="submit" onclick="getCheckedCheckBoxesAssetsWritten_off()" class="btn btn-w-m btn-danger">Списать</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal window Закрепить*@

<div class="modal fade" id="newAssetModal">
    <div class="modal-dialog modal-lg" style=" width: 300px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Закрепить</h4>

                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="form-group" id="officeSelect">
                                <label class="control-label">Офис/Склад</label>
                                <select class="form-control" id="officeIdSelect" onchange="OnChangeOfficeId(this)" style=" width: 270px !important;" asp-items="ViewBag.OfficeId"></select>
                            </div>
                            <div class="form-group" id="employeeSelect">
                                <label class="control-label">Сотрудник</label>
                                <select class="form-control" id="employeeIdSelect" onchange="OnChangeEmployeeId(this)" style=" width: 270px !important;" asp-items="ViewBag.EmployeeId"></select>
                            </div>
                            <div class="form-group" id="dateActionMove">
                                <label class="control-label">Дата</label>
                                <input id="dateAction" type="date" class="form-control" style=" width: 270px !important;" value="@dateAction" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <form id="NewAssetForm">

                <div class="modal-footer">
                    <div>
                        <button id="CreateMethod" type="submit" onclick="getCheckedCheckBoxesMove()" class="btn btn-w-m btn-primary">Ok</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>


@*Modal window Продажа*@

<div class="modal fade" id="newAssetModalSale">
    <div class="modal-dialog modal-lg" style=" width: 300px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Продажа</h4>

                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group hidden" id="officeSelectSale">
                                <label class="control-label">Офис/Склад</label>
                                <select class="form-control" id="officeIdSelectSale" onchange="OnChangeOfficeIdSale(this)" style=" width: 270px !important;" asp-items="ViewBag.OfficeIdSale"></select>
                            </div>
                            <p>@ViewBag.OfficeIdSaleOne</p>
                            <div class="form-group" id="employeeSelectSale">
                                <label class="control-label">Сотрудник</label>
                                <select class="form-control" id="employeeIdSelectSale" onchange="OnChangeEmployeeIdSale(this)" style=" width: 270px !important;" asp-items="ViewBag.EmployeeIdSale"></select>
                            </div>
                            <div class="form-group hidden" id="statusMovingAssets">
                                <label class="control-label">Статус передачи</label>
                                <select class="form-control" id="statusMovingAssetsSelect" onchange="OnChangeStatusAssetMoving(this)" style=" width: 270px !important;" asp-items="ViewBag.StatusMovingAssets"></select>
                            </div>
                            <p><strong>Статус: </strong>@ViewBag.StatusMovingAssetsOne</p>
                            <div class="form-group" id="dateActionSaleNowDiv">
                                <label class="control-label">Дата:</label>
                                <p>@dateActionSale</p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <form id="NewAssetFormSale">

                <div class="modal-footer">
                    <div>
                        <button id="CreateMethodSale" type="submit" onclick="getCheckedCheckBoxesSale()" class="btn btn-w-m btn-primary">Продать</button>
                    </div>
                </div>

                
            </form>
            
        </div>
        
    </div>
    
</div>




@section scripts{
    <script>

        function showModalReportOnStockComponents() {
        $("#newModalOfficeComponent").modal();
        }

        var officeId;
        var employeeId;
        var dateAction;

        function modalShowHendler() {
            $("#newAssetModal").modal();
            officeId = document.getElementById('officeIdSelect').children[0].value;
            employeeId = document.getElementById('employeeIdSelect').children[0].value;
            dateAction = document.getElementById('dateAction').value;
        }


        var officeIdSale;
        var employeeIdSale;
        var dateActionSaleNew;
        var statusAssetsMving;


        function modalShowHendlerSale() {
            $("#newAssetModalSale").modal();
            officeIdSale = document.getElementById('officeIdSelectSale').children[0].value;
            employeeIdSale = document.getElementById('employeeIdSelectSale').children[0].value;
            statusAssetsMving = document.getElementById('statusMovingAssetsSelect').children[0].value;
        }

        checkedCheckBox = [];
        checkedCheckBoxSale = [];
        var idName;

        function OnChangeCheckBoxFunc(e) {
            var assetId = e.value;
           
            if (checkedCheckBox.indexOf(assetId) > -1) {
                var elementIndex = checkedCheckBox.indexOf(assetId);
                checkedCheckBox.splice(elementIndex, 1);
                checkedCheckBoxSale.splice(elementIndex, 1);
            } else {
                checkedCheckBox.push(assetId);
                checkedCheckBoxSale.push(assetId);
            }
        }

        function OnChangeOfficeId(e) {
            officeId = e.value;
        }

        function OnChangeEmployeeId(e) {
            employeeId = e.value;
        }

        function OnChangeOfficeIdSale(e) {
            officeIdSale = e.value;
        }

        function OnChangeEmployeeIdSale(e) {
            employeeIdSale = e.value;
        }

        function OnChangeStatusAssetMoving(e) {
            statusAssetsMving = e.value;
        }



        function getCheckedCheckBoxesMove() {
            officeId = document.querySelector('#officeIdSelect').value;
            employeeId = document.querySelector('#employeeIdSelect').value;
            dateAction = document.querySelector('#dateAction').value;

            debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AssetsMove", "Assets")',
                data: {
                    officeId: officeId,
                    assetId: checkedCheckBox,
                    dateActionSaleNew: dateActionSaleNew,
                    employeeId: employeeId,
                    dateAction: dateAction,
                    inIndex: 1
                },
                success: function (data) {
                    console.log('success!');
                }
            });
        }

        
        function getCheckedCheckBoxesAssetsWritten_off() {
            officeId = document.querySelector('#officeIdSelect').value;
            employeeId = document.querySelector('#employeeIdSelect').value;
            dateAction = document.querySelector('#dateAction').value;

            debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AssetsWritten_off", "Assets")',
                data: {
                    officeId: officeId,
                    assetId: checkedCheckBox,
                    dateActionSaleNew: dateActionSaleNew,
                    employeeId: employeeId,
                    dateAction: dateAction,
                    inIndex: 1
                },
                success: function (data) {
                    alert("Актив успешно списан. Информация сохранена в историю");
                    window.location.reload();
                }
            });
        }


        function getCheckedCheckBoxesSale() {

            employeeIdSale = document.getElementById('employeeIdSelectSale').children[0].value;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaleAsste", "Assets")',
                data: {
                    officeIdSale: officeIdSale,
                    assetIdSale: checkedCheckBoxSale,
                    employeeIdSale: employeeIdSale,
                    statusAssetsMving: statusAssetsMving,
                    inIndex: 1
                },
                success: function (data) {
                    console.log('success!');
                }
            });
        }

    </script>
}
