﻿
@model StayTrueWebAdmin.Models.Banner
<div class="st-row st-news" style="display: none;" id="add-banner">
    @using (Html.BeginForm("AddBanner", "Banner", FormMethod.Post, new { id = "createNewsForm", enctype = "multipart/form-data" }))
    {
        <div class="news-top">
            <div class="news-title news-top-column">
                Название
                @Html.TextBoxFor(model => model.Name, new {@class = "news_edit_items new-title-field"})
            </div>
            <div class="news-title news-top-column">
                Активно
                @Html.CheckBoxFor(model => model.IsActive, new {@class = "news_edit_items new-title-field"})
            </div>
        </div>
        <div class="news-midddle">
            <div class="news-middle-column">
                <div>
                    Фото
                    @Html.TextBoxFor(model => model.Image, new {type = "file"})
                </div>
            </div>
            <div class="st-btn">
                <button type="submit" class="st-btn bg-danger border-danger">Добавить</button>
            </div>
            <div class="st-btn">
                <button type="button" class="gallery-edit-abort bg-warning border-warning" id="cancel-btn">Отменить</button>
            </div>
        </div>
    }
</div>
<div class="formError" style="display: none;">
    <span><ion-icon name="alert" role="img" class="hydrated" aria-label="alert"></ion-icon> </span>
</div>