﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  IQueryable<DataAccessLayer.Banners>

@{
    ViewBag.Title = "Баннеры";
    string urlPath = (string)ViewBag.FolderUrl;
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")

    <div class="content">
        <div class="container-fluid">
            <div class="content-body">
                <div id="add-news" class="add-new-wrap">
                    <div id="add-new-tgl">
                        <span></span>
                        <span>Добавить баннер</span>
                    </div>
                    @Html.Action("AddBanner")
                </div>
                @foreach (var item in Model)
                {
                    <div class="st-row st-news">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", @class = "entity-edit" }))
                        {
                            <div class="news-top">
                                <div class="news-title news-top-column">
                                    @Html.TextBoxFor(modelItem => item.Name, new { @class = "news_edit_items new-title-field", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="news-midddle">
                                <div class="news-middle-column">
                                    <div class="st-upload news_img_upload" style="background-image: url(@urlPath@item.ImagePath)">
                                        <a href="@urlPath@item.ImagePath" data-fancybox></a>
                                        <label for="imageP_@item.Id"></label>
                                        <input type="file" id="imageP_@item.Id" accept='image/*' name="imageP" class="st-upload-input user_edit_items">
                                    </div>
                                    <div class="battle-status">
                                        <span>Статус: @(item.IsActive ? "Активно" : "Скрыто")</span>
                                    </div>
                                </div>
                                <div class="st-btn">
                                    <button type="button" data-id="@item.Id" class="delete-btn bg-danger border-danger" data-fancybox data-src="#delete-popup">Удалить</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="formError" style="display: none;">
                        <span><ion-icon name="alert" role="img" class="hydrated" aria-label="alert"></ion-icon> </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("_DeleteConfirmDialogPartial")
@section Scripts {
    @Scripts.Render($"~/bundles/js/banner-page-{BundleConfig.Version}")
}
