﻿@using System.Security.Policy
@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.GamesFilteredModel
@{
    ViewBag.Title = "Игры";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Game", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column">
                            <div class="filter-item-title">Дата публикации</div>
                            @Html.TextBoxFor(model => model.Filter.PublicationDateFrom, new { name = "news_published_date_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.PublicationDateTo, new { name = "news_published_date_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Заголовок</div>
                            @Html.TextBoxFor(model => model.Filter.Title)
                        </div>
                        @*<div class="st-column">
                            <div class="filter-item-title">Кол-во игроков</div>
                            @Html.TextBoxFor(model => model.Filter.Players, new { placeholder = "Укажите количество" })
                        </div>*@
                        <div class="st-column">
                            <div class="filter-item-title">Кол-во Wincoin</div>
                            @Html.TextBoxFor(model => model.Filter.Wincointsfrom, new { placeholder = "Укажите количество от" })
                            @Html.TextBoxFor(model => model.Filter.Wincointsto, new { placeholder = "Укажите количество до" })
                            @*<input type="text" name="wincoin_amount" id="wincoin_amount" placeholder="Укажите количество">*@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.EditorFor(model => model.Filter.Status, "SearchPublicationStatus")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span>
                                <ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button reset-btn">
                                <span>Сбросить</span>
                                <ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div id="add-game" class="add-new-wrap">
                    <div id="add-new-tgl">
                        <span></span>
                        <span>Добавить игру</span>
                    </div>
                    @Html.Action("CreateGame")
                </div>

                @foreach (var item in Model.Games)
                {
                <div class="st-row st-game">
                    @using (Html.BeginForm("Edit", "Game", FormMethod.Post, new {enctype = "multipart/form-data", @class = "entity-edit"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => item.Id)
                        <div class="st-game-header">
                            <div class="header-left">
                                <div class="st-upload game_img_upload" style="background-image: url(@item.ImagePath)">
                                    <a href="@item.ImagePath" data-fancybox></a>
                                    <label for="preview_@item.Id"></label>
                                    <input type="file" id="preview_@item.Id" accept='image/*' name="preview" class="st-upload-input user_edit_items">
                                </div>
                                <div class="game-title">
                                    @Html.TextBoxFor(modelItem => item.Name, new {@class = "game-edit-item", placeholder = "Название игры", disabled = "disabled"})
                                    <div class="game-zip">
                                        <span>Загрузите архив игры:</span>
                                        <br>
                                        <input type="file" id="gameZip_@item.Id" name="gameZip" class="game_zip" accept=".zip">
                                    </div>
                                </div>
                            </div>
                            <div class="header-middle">
                                <div class="middle-item">
                                    <div class="item-label">Количество Wincoin:</div>
                                    @Html.TextBoxFor(modelItem => item.Wincoins, new {@class = "game-edit-item", disabled = "disabled"})
                                    @*<input type="text" value=@Html.TextBoxFor(modelItem => item.Points) class="game-edit-item" disabled>*@
                                    <div class="item-icon">
                                        <ion-icon name="ios-trophy"></ion-icon>
                                    </div>
                                </div>
                                <div class="middle-item">
                                    <div class="item-label">Курс Wincoin:</div>
                                    @Html.TextBoxFor(modelItem => item.WincoinsExchange, new {@class = "game-edit-item", disabled = "disabled"})
                                    <div class="item-icon">
                                        <ion-icon name="logo-game-controller-b"></ion-icon>
                                    </div>
                                </div>
                                <div class="middle-item">
                                    <div class="item-label">Показать:</div>
                                    @Html.CheckBoxFor(modelItem => item.IsActive, new {@class = "checkbox game-edit-item", @id = "item_IsActive_" + item.Id, disabled = "disabled"})
                                    @*<input type="text" value=@Html.TextBoxFor(modelItem => item.Points) class="game-edit-item" disabled>*@
                                </div>
                            </div>
                            <div class="header-right">
                                <div class="game-date">
                                    @Html.TextBoxFor(modelItem => item.PublicationDate, "{0:dd/MM/yyyy}", new {@class = "datepicker game-edit-item", disabled = "disabled", placeholder = "дд/мм/гггг"})
                                    <ion-icon name="calendar"></ion-icon>
                                </div>
                            </div>
                            <div class="game-btns">
                                <div class="st-btn game-edit">
                                    <button type="button" class="bg-info">Редактировать</button>
                                </div>
                                <div class="st-btn" style="display: none;">
                                    <button type="button" class="delete-btn bg-danger" data-id="@item.Id" data-fancybox data-src="#delete-popup">Удалить</button>
                                </div>
                                <div class="st-btn game-edit-abort" style="display: none;">
                                    <button type="reset" class="bg-warning">Отменить</button>
                                </div>
                                <div class="st-btn game-save" style="display: none;">
                                    <button type="submit" class="bg-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                        <div class="st-game-footer">
                            <div class="game-statistics">
                                <div class="statistics-header">
                                    <div class="st-row">
                                        <div class="st-column">
                                            <span class="column-title">Таблица лидеров</span>
                                        </div>
                                        <div class="st-column">
                                            <span class="column-title">Кол-во очков</span>
                                        </div>
                                        <div class="st-column">
                                            @*<span class="column-title">Курс Wincoin</span>
                                            <select class="game-wincoin-currency" name="currency" disabled>
                                                <option value="0.45">0.45</option>
                                                <option value="0.48">0.48</option>
                                                <option value="0.5">0.5</option>
                                                <option value="0.55">0.55</option>
                                            </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="user-statistic">
                                  
                                </div>
                            </div>
                        </div>
                    }
                </div>
                }
            </div>
            @Html.PagedListPager(Model.Games, page => Url.Action("Index", new
       {
           Model.Filter.Status,
           Model.Filter.PublicationDateFrom,
           Model.Filter.PublicationDateTo,
           Model.Filter.Title,
           Model.Filter.Wincointsfrom,
           Model.Filter.Wincointsto,

           page
       }), new PagedListRenderOptions()
       {
           Display = PagedListDisplayMode.IfNeeded,
           ContainerDivClasses = new[] { "pagination" },
           UlElementClasses = new[] { "" }
       })
        </div>
    </div>
</div>

@Html.Partial("_DeleteConfirmDialogPartial")
@section Scripts {
    @Scripts.Render($"~/bundles/js/game-page-{BundleConfig.Version}")
}