﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Winston Darkness</title>
    <!-- Standardised web app manifest -->
    <link rel="manifest" href="appmanifest.json" />
    <!-- Allow fullscreen mode on iOS devices. (These are Apple specific meta tags.) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="256x256" href="icon-256.png" />
    <meta name="HandheldFriendly" content="true" />
    <!-- Chrome for Android web app tags -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" sizes="256x256" href="icon-256.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- All margins and padding must be zero for the canvas to fill the screen. -->
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        html,
        body {
            background: #000;
            color: #fff;
            overflow: hidden;
            touch-action: none;
            -ms-touch-action: none;
        }

        canvas {
            touch-action-delay: none;
            touch-action: none;
            -ms-touch-action: none;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- <script>window.RADIOHEAD = <%= current_user.id %>;</script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script>
        var token;
        var game;
        function checkAuth(callback) {
            token = Cookies.get('Token');
            if (token != undefined) {
                callback(null, token);
            } else if (sessionStorage.getItem('Token') != undefined) {
                callback(null, sessionStorage.getItem('Token'));
            } else {
                callback({ err: "no token" }, null);
            }
        }

        $(function () {
            checkAuth(function (err, result) {
                if (err) {
                    window.location.replace("index.html");
                } else {
                    tocken = result;

                    // alert('Токен: ' + tocken);

                    LVL = -1;

                    game = JSON.parse(localStorage.getItem('currentGame'));

                    // alert(game.Id);

                    $.ajax({
                        async: true,
                        url: '../../Service.svc/GetUserBestScore?gameId=' + game.Id,
                        type: 'GET',
                        headers: {
                            "Content-Type": "application/json",
                            "SecureKey": "f1c188fe-8024-4663-960d-197054d9658e",
                            "Authorization": 'Bearer ' + tocken
                        }
                    }).done(function (response) {
                        LVL = (response.Score == undefined || response.Score == 0) ? 1 : response.Score + 1;
                        console.log('Best points ' + LVL);
                        console.log('Токен: ' + tocken);
                    }).fail(function (error) {
                        // alert(error);
                    });

                    //---------------------------------------------------------
                }
            });
        });

        window.afsdyunir = function () {
            data = {
                GameId: game.Id,
                Score: c2_callFunction("SendBestScoreToServer")
            };

            var scoreData = myFunction(checkId(), JSON.stringify(data));

            $.ajax({
                url: '../../Service.svc/SaveGameResult',
                type: 'POST',
                data: JSON.stringify({ 'Result': scoreData.toString() }),
                headers: {
                    "Content-Type": "application/json",
                    "SecureKey": "f1c188fe-8024-4663-960d-197054d9658e",
                    "Authorization": 'Bearer ' + tocken
                }
            }).done(function (response) {
                console.log("Result saved " + data.Score);
            }).fail(function (error) {
                console.log(error);
            });
        };

        window.GetLevelFromServer = function () {
            return LVL;
        };

        encode = function (data) {
            x = JSON.stringify(data).split('').map(function (a) {
                return a.charCodeAt(0) + YOBA;
            }).join(',');
            return btoa(x).split('').reverse().join('');
        };
    </script>
    <div id="fb-root"></div>
    <script>
    </script>
    <!-- The canvas must be inside a div called c2canvasdiv -->
    <div id="c2canvasdiv">
        <!-- The canvas the project will render to.  If you change its ID, don't forget to change the
		ID the runtime looks for in the jQuery events above (ready() and cr_sizeCanvas()). -->
        <canvas id="c2canvas" width="1920" height="1080">
            <!-- This text is displayed if the visitor's browser does not support HTML5.
			You can change it, but it is a good idea to link to a description of a browser
			and provide some links to download some popular HTML5-compatible browsers. -->
            <h1>Your browser does not appear to support HTML5. Try upgrading your browser to the latest version. <a
                    href="http://www.whatbrowser.org">What is a browser?</a>
                <br /><br /><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Microsoft
                    Internet Explorer</a><br />
                <a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a><br />
                <a href="http://www.google.com/chrome/">Google Chrome</a><br />
                <a href="http://www.apple.com/safari/download/">Apple Safari</a></h1>
        </canvas>
    </div>
    <!-- Pages load faster with scripts at the bottom -->
    <!-- Construct 2 exported games require jQuery. -->
    <script></script>
    <!-- The runtime script.  You can rename it, but don't forget to rename the reference here as well.
    This file will have been minified and obfuscated if you enabled "Minify script" during export. -->
    <script></script>
    <script src="c2runtime.js"></script>
    <script src="../games.js"></script>
    <script>
        // Start the Construct 2 project running on window load.
        jQuery(document).ready(function () {
            // Create new runtime using the c2canvas
            cr_createRuntime("c2canvas");
        });

        // Pause and resume on page becoming visible/invisible
        function onVisibilityChanged() {
            if (document.hidden || document.mozHidden || document.webkitHidden || document.msHidden)
                cr_setSuspended(true);
            else
                cr_setSuspended(false);
        };

        document.addEventListener("visibilitychange", onVisibilityChanged, false);
        document.addEventListener("mozvisibilitychange", onVisibilityChanged, false);
        document.addEventListener("webkitvisibilitychange", onVisibilityChanged, false);
        document.addEventListener("msvisibilitychange", onVisibilityChanged, false);
    </script>
</body>

</html>