﻿@using System.Web.UI.WebControls
@using PagedList.Mvc
@using StayTrueWebAdmin.Models.FilterModels
@model PaymentReportFilteredModel
@{
    ViewBag.Title = "Payment Reports";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content support-page-content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "PaymentReport", FormMethod.Post, new { }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column num-list">
                            <div class="filter-item-title"></div>
                            <div class="num-list-icon">
                                <img src="img/a-z.png" alt="" />
                            </div>
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Имя</div>
                            @Html.TextBoxFor(model => model.Filter.FirstName, new { type = "text", name = "sms_title" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Фамилия</div>
                            @Html.TextBoxFor(model => model.Filter.LastName, new { type = "text", name = "sms_title" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Номер</div>
                            @Html.TextBoxFor(model => model.Filter.Phone, new { type = "text", name = "sms_title" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Дата от и до
                            </div>
                            @Html.TextBoxFor(model => model.Filter.DateFrom, new { type = "text", name = "send_date_start", @class = "datepicker", placeholder = "до дд/мм/гггг", id="fromId" })
                            @Html.TextBoxFor(model => model.Filter.DateTo, new { type = "text", name = "send_date_start", @class = "datepicker", placeholder = "до дд/мм/гггг", id="toId" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Сумма пополнения от и до
                            </div>
                            @Html.TextBoxFor(model => model.Filter.AmountFrom, new { type = "text", name = "price_start" })
                            @Html.TextBoxFor(model => model.Filter.AmountTo, new { type = "text", name = "price_end" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Статус
                            </div>
                            @Html.DropDownListFor(model => model.Filter.Status, new SelectList(ViewBag.Statuses), new { type = "text", name = "price_end" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="button"
                                    class="sms-excel-report border-info bg-info text-white" id="exportExcel" data-id="">
                                Экспорт
                            </button>
                            <button type="submit"
                                    class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button" id="reset-btn">
                                <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div class="st-row st-user">
                    @{
                        foreach (var item in Model.Reports)
                        {
                            using (Html.BeginForm(FormMethod.Post))
                            {
                                <div class="d-flex justify-content-center st-user-header">
                                    <div class="st-column num-list">
                                        @Html.TextBoxFor(model => item.Id, new { disabled = "disabled", @class = "smsReportId" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.FirstName, new { type = "text", name = "send_date", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.LastName, new { type = "text", name = "sms_title", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.Phone, new { type = "text", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.Date, new { type = "text", name = "amount", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.Amount, new { type = "text", name = "price", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.Status, new { type = "text", name = "email", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column"></div>
                                </div>
                            }
                        }
                    }
                </div>
                <div id="content-list-pager">
                    @Html.PagedListPager(Model.Reports, page => Url.Action("Index", "PaymentReport", new
                    {
                        Model.Filter.FirstName,
                        Model.Filter.LastName,
                        Model.Filter.Phone,
                        Model.Filter.AmountFrom,
                        Model.Filter.AmountTo,
                        Model.Filter.DateFrom,
                        Model.Filter.DateTo,
                        Model.Filter.Status,
                        page
                    }), new PagedListRenderOptions
                    {
                        Display = PagedListDisplayMode.IfNeeded,
                        ContainerDivClasses = new[] {"pagination"},
                        UlElementClasses = new[] {""}
                    })
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/payment-report-{BundleConfig.Version}")
}