﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerResponseError</title>
</head>
<body>
<div>
    Payment service error...Cant get response from service
</div>
</body>
</html>
