﻿@model inventory_accounting_system.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Создать категорию</h2>
        <ol class="breadcrumb">           
            <li>
                 <a href="~/Categories">Главная</a>
            </li>
            <li class="active">
                <strong>Создать категорию</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<hr />
<div style="margin-bottom: 15px;">
        <div style="margin: auto; width: 40%; padding: 15px; border-radius: 7px; background-color: #F3F3F3">                                                                                                                                                                                                                                                                                                        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"  style="margin-top: 70px;">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefix" class="control-label"></label>
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-w-m btn-primary" style="margin-top: 250px;"  />
            </div>
        </form>
    </div>
</div>


<hr />
@section Scripts {                              
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
