﻿<!-- Chat Delete Pop Up Window -->
<div style="display: none;" id="chat-delete-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить?</div>

            <input type="hidden" id="popup-action-url" data-json="">
            <div class="st-btn">
                <button type="button" id="popup-no" data-fancybox-close>Нет</button>
                <button type="button" id="popup-yes" data-fancybox-close>Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Chat Delete Pop Up Window End -->

<!-- Chat User Ban Pop Up Window -->
<div style="display: none;" id="chat-user-ban-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы хотите забанить пользователя?</div>
            <div class="description">Данный пользователь не сможет заходить на сайт и в приложение пока не будет разбанен.</div>
            <div class="error-message">
                <span></span>
            </div>

            <textarea name="ban-warn-text" id="ban-warn-text" placeholder="Укажите причину бана. Этот текст будет отправлен пользователю на почту и виден ему при входе на сайт и приложение."></textarea>
            <input type="hidden" id="ban-popup-user-list" data-json="">

            <div class="ban-period">
                <div class="ban-end-date">
                    <span>Срок БАНа</span>
                    <input type="text" id="ban-unblock-date" name="ban_end_date" class="timepicker" placeholder="дд/мм/гггг чч:мин" autocomplete="false">
                </div>
            </div>

            <div class="st-btn">
                <button type="button" id="bun-popup-no" data-fancybox-close>Нет</button>
                <button type="button" id="bun-popup-yes">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Chat User Ban Pop Up Window End -->

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-8">
                    <div class="content-header chat-members-filter">
                        <form action="#" id="filter-form" data-chat-id="">
                            <div class=" d-flex">
                                <div class="st-column checkbox-column"></div>
                                <div class="st-column num-list">
                                    <div class="filter-item-title"></div>
                                    <div class="num-list-icon">
                                        <img src="/Content/img/a-z.png" alt="">
                                    </div>
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title">Имя</div>
                                    <input type="text" name="Name" id="first_name">
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title">Фамилия</div>
                                    <input type="text" name="Surname" id="last_name">
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title">Дата рождения</div>
                                    <input type="text" name="BirthDateFrom" id="birthdate_from" class="datepicker" placeholder="от дд/мм/гггг">
                                    <input type="text" name="BirthDateTo" id="birthdate_to" class="datepicker" placeholder="до дд/мм/гггг">
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title">Город</div>
                                    <select name="City" id="city" class="st-selectize" placeholder="Город">
                                        <option value="all">Все</option>
                                        <option value="bishkek">Бишкек</option>
                                        <option value="osh">Ош</option>
                                        <option value="batken">Баткен</option>
                                        <option value="talas">Талас</option>
                                    </select>
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title">Последнее посещение</div>
                                    <input type="text" name="LastVisitDateFrom" id="last_visit_from" class="datepicker" placeholder="от дд/мм/гггг">
                                    <input type="text" name="LastVisitDateTo" id="last_visit_to" class="datepicker" placeholder="до дд/мм/гггг">
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title">Номер телефона</div>
                                    <input type="text" name="Phone" id="phone">
                                </div>
                                <div class="st-column">
                                    <div class="filter-item-title"></div>
                                    <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                                        <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                                    </button>
                                    <button type="button" class="st-button"><span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="content-header chat-header" style="display: none">
                        <div class="current-admin">
                            <div class="current-admin-avatar">
                                <img src="/Content/img/avatar-template.jpg" alt="">
                            </div>
                            <span id="adminFullName">Имя Фамилия</span>
                        </div>
                        <div class="chat-filter">
                            <div class="st-column chat-column chat-date">
                                <div class="filter-item-title">Дата публикации</div>
                                <input type="text" name="news_published_date_min" class="timepicker date-min" placeholder="от дд/мм/гггг">
                                <input type="text" name="news_published_date_max" class="timepicker date-max" placeholder="до дд/мм/гггг">
                            </div>
                        </div>
                        <div class="chat-search">
                            <form action="#">
                                <div class="seacrh-items-wrap">
                                    <input type="text" name="chat_search" id="search-by-user" placeholder="Поиск сообщений по пользователю">
                                    <button type="button" id="search-by-user-btn">
                                        <ion-icon name="ios-search"></ion-icon>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="content-body chat-members-body">
                        <div class="chat-members-ban">
                            <button class="bg-danger border-danger text-white chat-member-delete" onclick="return confirm('Вы уверены?')" data-chat-id="">Удалить<span>0</span></button>
                        </div>
                    </div>
                    <div class="content-body chat-body" style="display: none">
                        <div class="search-message-list">
                            <div class="top-bar">
                                <span>Резуьтаты поиска</span>
                                <div class="close-search"><ion-icon name="ios-close-circle-outline"></ion-icon></div>
                            </div>
                            <div class="search-wrap"></div>
                        </div>
                        <div class="chat-list" id="message-list"></div>
                        <div class="message-form">
                            <div class="text-indicate">
                                <span>Кто то печатает</span>
                                <div class="indicate-animation">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="chat-control-btns">
                                <button class="bg-warning border-warning text-white chat-ban" data-fancybox data-src="#chat-user-ban-popup">Забанить<span>0</span></button>
                                <button class="bg-danger border-danger text-white chat-delete" data-fancybox data-src="#chat-delete-popup">Удалить<span>0</span></button>
                            </div>
                            <form action="#">
                                <div class="form-wrap">
                                    <div class="message-to-forward">
                                        <span class="name"></span>
                                        <p class="txt"></p>
                                        <div class="forward-message-close">
                                            <ion-icon name="close"></ion-icon>
                                        </div>
                                    </div>
                                    <input type="hidden" id="forwardedId" value="">
                                    <textarea id="new-message-area" name="" id="" rows="1" placeholder="Пишите сообщение"></textarea>
                                    <div id="sticker-icon-toggle">
                                        <img src="/Content/img/stickers/stickers.png" alt="">
                                    </div>
                                    <div id="stickers-container">
                                        <div id="stickers-top">
                                            <div id="stickers-list-close">
                                                <ion-icon name="ios-close-circle"></ion-icon>
                                            </div>
                                        </div>
                                        <div id="stickers-list">
                                            <div class="sticker" data-stciker="1">
                                                <img src="/Content/img/stickers/1.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="2">
                                                <img src="/Content/img/stickers/2.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="3">
                                                <img src="/Content/img/stickers/3.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="4">
                                                <img src="/Content/img/stickers/4.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="5">
                                                <img src="/Content/img/stickers/5.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="6">
                                                <img src="/Content/img/stickers/6.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="7">
                                                <img src="/Content/img/stickers/7.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="8">
                                                <img src="/Content/img/stickers/8.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="9">
                                                <img src="/Content/img/stickers/9.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="10">
                                                <img src="/Content/img/stickers/10.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="11">
                                                <img src="/Content/img/stickers/11.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="st-button">
                                        <button type="button" id="new-message-send">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-header tab-list-header">
                        <div class="tab-tgl" data-tab="chat-groups">
                            <ion-icon name="ios-contacts"></ion-icon>
                            <div class="item-title">Чаты</div>
                        </div>
                        <div class="tab-tgl active" data-tab="chat-members">
                            <ion-icon name="ios-people"></ion-icon>
                            <div class="item-title">Участники</div>
                        </div>
                        <div class="tab-tgl" data-tab="messages">
                            <ion-icon name="ios-chatbubbles"></ion-icon>
                            <div class="item-title">Сообщения</div>
                        </div>
                        <div class="tab-tgl" data-tab="dictionary">
                            <span>*!#?</span>
                            <div class="item-title">Словарь</div>
                        </div>
                    </div>
                    <div class="content-body tab-bodies">
                        <div class="tab" id="chat-groups" style="display: none;">
                            <div class="chatgroup-list"></div>
                            <form class="add-new-group">
                                <div class="chatgroup-control-btns">
                                    <button type="button" class="bg-success border-success text-white chatroup-show">Показать</button>
                                    <button type="button" class="bg-warning border-warning text-white chatroup-hide">Скрыть</button>
                                    <button class="bg-danger border-danger text-white chatgroup-delete" data-fancybox data-src="#chat-delete-popup">Удалить</button>
                                </div>
                                <div class="st-upload edit" style="background-image: url(/Content/img/upload-plus.png)">
                                    <label for="new-group-add"></label>
                                    <input type="file" id="new-group-add" accept='image/*' name="image" class="st-upload-input user_edit_items">
                                </div>
                                <input type="text" id="add-chat-input" name="name" placeholder="Введите название чата">
                                <label for="hide-chat" id="hide-chat-label">
                                    <span>Закрытый<br>чат</span>
                                    <input type="checkbox" name="IsPrivate" id="hide-chat" value="true">
                                </label>
                                <button type="submit" id="add-chat-btn">Создать</button>
                            </form>
                        </div>
                        <div class="tab" id="chat-members">
                            <div class="chatgroup-list"></div>
                        </div>
                        <div class="tab" id="messages" style="display: none;">
                            <div class="chat-list" id="admin-messages"></div>
                        </div>
                        <div class="tab" id="dictionary" style="display: none;">
                            <div id="ban-word-list"></div>
                            <div class="add-ban-word">
                                <input type="text" id="add-word-input" placeholder="Пишите слово">
                                <button type="button" id="add-word-btn">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var localStrg = {
        unread: {}
    };
    var unreadCount = {};
    var globalAuthor;
    var globalUserId;
    var urlPort = ':8085';
    // var urlPort = ':10180';
    var mainUrl;
    var chatSocketUrl;
    var chatToken = '';

    var hostName = document.location.hostname;
    var hostProtocol = document.location.protocol;

    if (hostName.includes('localhost') === true) {
        // chatSocketUrl = 'wss://qa.staytrue.kg' + urlPort;
        // mainUrl = 'https://qa.staytrue.kg';
    
        chatSocketUrl = 'wss://staytrue.demo.irokez.me' + urlPort; //staytrue.demo.irokez.me
        mainUrl = 'https://staytrue.demo.irokez.me';
    } else {
        if (hostProtocol === 'https:') {
            chatSocketUrl = 'wss://' + hostName + urlPort;
        } else {
            chatSocketUrl = 'ws://' + hostName + urlPort;
        }
        mainUrl = hostProtocol + '//' + hostName;
    }

    //chatSocketUrl = 'wss://staytrue.demo.irokez.me' + urlPort;
    //mainUrl = 'http://staytrue.demo.irokez.me';
    
    var globalUrl = mainUrl + urlPort;

    var currentChatGroupId = "#chat";
    var minId = [];

    function request(options) {
        return new Promise(function (resolve, reject) {
            $.ajax(options).done(resolve).fail(reject);
        });
    }

    $(async function () {

        try {
            var creditails = {
                url: '/Chat/GetCreditails',
                dataType: "json",
                type: 'POST',
            };
            chatToken = (await request(creditails)).creditails.token;
            console.log(chatToken);
        } catch(error) {
            console.warn('Ошибка при получении токена для чата: ', error);
        }

        // ------------------------------------------------------------------------------------------------

        try {
            var options = {
                url: '/Chat/GetAdminInfo',
                dataType: "json",
                type: 'POST'
            };
            var response = await request(options);

            globalToken = response.userInfo.token;
            globalAuthor = response.userInfo.firstName + ' ' + response.userInfo.lastName;
            globalUserId = response.userInfo.id;

            $('#adminFullName').text(globalAuthor);
        } catch (error) {
            console.log('Ошибка при получении данных о пользователе: ', error);
        }

        // ------------------------------------------------------------------------------------------------

        // Getting List of Groups
        try {
            var options = {
                url: '/Chat/GetChatGroups',
                dataType: "json",
                type: 'GET'
            };
            var groupsResponse = (await request(options)).data;

            if (groupsResponse != null && groupsResponse.length != 0) {
                var foreachProcessed = 0;
                var memberCount = 0;

                groupsResponse.forEach(async function (e) {

                    // -------------------------------------------------------------------------------------------------------------------

                    if (e.IsPrivate) {
                        
                        $('#chat-members .chatgroup-list').append(
                            createChatGroup(e, 'member')
                        );

                        var hideStyle = '';
                        if (memberCount == 0) {
                            memberCount++;
                            hideStyle = '';
                            $('#filter-form').attr('data-chat-id', e.Id);
                            $('button.chat-member-delete').attr('data-chat-id', e.Id);
                            $('.chat-members-group[data-content=' + e.Id + ']').addClass('active-chat-toggle');
                        } else {
                            hideStyle = 'style="display: none;"';
                        }
                        $('.content-body.chat-members-body').prepend(`<div class="chatgroup-members" id="chatgroup-members-${e.Id}" ${hideStyle}></div>`);

                        /*
                         *  {
                         *      "id": "57",
                         *      "page": 1,
                         *      "filter": {
                         *          "PageSize": 50,
                         *          "Name": "Игорь",
                         *          "Surname": "",
                         *          "BirthDateFrom": null,
                         *          "BirthDateTo": null,
                         *          "City": null,
                         *          "LastVisitDateFrom": null,
                         *          "LastVisitDateTo": null,
                         *          "Phone": ""
                         *      }
                         *  }
                         */
                        localStorage.setItem('chatgroup-members-filters-' + e.Id, JSON.stringify({
                            "id": e.Id,
                            "page": '',
                            "filter": {
                                "PageSize": 50,
                                "Name": "",
                                "Surname": "",
                                "BirthDateFrom": "",
                                "BirthDateTo": "",
                                "City": "",
                                "LastVisitDateFrom": "",
                                "LastVisitDateTo": "",
                                "Phone": ""
                            }
                        }));

                        try {
                            var currentFilter = JSON.parse(localStorage.getItem('chatgroup-members-filters-' + e.Id));
                            //console.log(currentFilter);

                            var options = {
                                url: '/Chat/getPrivateChatUsers',
                                dataType: "json",
                                type: 'POST',
                                data: currentFilter
                            };
                            var membersResponse = (await request(options)).data;

                            var chatMembersList = membersResponse.ChatGroupsUsers;

                            //console.log('current test: ', await request(options));

                            chatMembersList.forEach(async function (member) {
                                $('#chatgroup-members-' + e.Id).append(createMember(member));
                            });

                            $('#chatgroup-members-' + groupsResponse[0].Id).show();
                        } catch (error) {
                            console.log(error);
                        }

                        $('#chatgroup-members-' + e.Id).append(renderPagination(membersResponse.PageCount, 1, e.Id));
                        // $('#chatgroup-members-' + e.Id).append(renderPagination(20, 1, e.Id)); //For Test
                    }

                    // -------------------------------------------------------------------------------------------------------------------

                    $('#chat-groups .chatgroup-list').append(
                        createChatGroup(e)
                    );

                    $('.message-form').before('<ul id="message-list-' + e.Id + '" class="chat-list"></ul>');

                    minId[e.Id] = '';

                    if ('user-' + globalUserId in localStorage) {
                        localStrg = JSON.parse(localStorage.getItem('user-' + globalUserId));

                        if (!('chat-' + e.Id in localStrg.unread)) {
                            console.warn('Chat-' + e.Id + ' - not exists in local storage');
                            unreadCountSet(e.Id);
                            localStrg.unread['chat-' + e.Id] = 0;
                            localStorage.setItem('user-' + globalUserId, JSON.stringify(localStrg));
                        }
                    } else {
                        console.warn('User-' + globalUserId + ' - not exists in local storage');
                        console.warn('Chat-' + e.Id + ' - not exists in local storage');
                        unreadCountSet(e.Id);
                        localStrg.unread['chat-' + e.Id] = 0;
                        localStorage.setItem('user-' + globalUserId, JSON.stringify(localStrg));
                    }

                    await getMessages(e.Id);

                    $('ul#message-list-' + e.Id).on('scroll', async function () { // Подгрузка доп. 100 сообщений при скролле вверх
                        if ($(this).scrollTop() <= 0) {
                            await getMessages(e.Id, minId[e.Id]);
                        }
                    });

                    foreachProcessed++;

                    if (foreachProcessed == groupsResponse.length) {
                        currentChatGroupId = await groupsResponse[0].Id;
                        $('#chat-toggle-' + currentChatGroupId).addClass('active-chat-toggle');
                        $('#message-list-' + currentChatGroupId).addClass('active');
                    }
                });
            }
        } catch (error) {
            console.log('Ошибка списка при получении список групп: ', error);
        }

        //-------------------------------------------------------------------

        // Getting Messages To Admin
        var getAdminMessages = ajaxOptions('GET', 'getAdminMessages');
        try {
            var response = await request(getAdminMessages);

            var msgList = response.reverse();
            msgList.forEach(element => {
                $('#admin-messages').append(createMessage(element, '', 'forAdmin')).scrollTop($('#message-list')[0].scrollHeight);
            });
            if (typeof msgList[0] != 'undefined') {
                minIdAdmin = msgList[0].id;
            }
        } catch (error) {
            console.log('Ошибка при отправке: ', error);
        }

        // SOCKET ------------------------------------------------------------------------
        socket = new WebSocket(chatSocketUrl + '/chat?token=' + globalToken);
        socket.onopen = function () {
            console.log("Соединение установлено.");
        };
        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log("Соединение закрыто чисто");
            } else {
                console.log("Обрыв соединения. Попытка подключения");
                socket = new WebSocket(chatSocketUrl + '/chat?token=' + globalToken);
            }
            console.log("Код: " + event.code + " причина: " + event.reason);
        };
        socket.onmessage = function (event) {  // Getting New Messgae
            if (typeof JSON.parse(event.data) == 'object') {
                var newMsgData = JSON.parse(event.data);

                var newMsg = createMessage(JSON.parse(event.data));
                if (newMsg != '') {

                    if ($('ul#message-list-' + newMsgData.chatGroupId).is(':visible')) {

                        $('ul#message-list-' + newMsgData.chatGroupId).append(newMsg).animate({ scrollTop: $('ul#message-list-' + newMsgData.chatGroupId)[0].scrollHeight }, 500);

                        localStrg.unread['message-list-' + newMsgData.chatGroupId] = $('ul#message-list-' + newMsgData.chatGroupId + ' li').last().attr('id');
                        localStorage.setItem('message-list-' + globalUserId, JSON.stringify(localStrg));

                    } else {
                        $('ul#message-list-' + newMsgData.chatGroupId).append(newMsg);

                        unreadCount['message-list-' + newMsgData.chatGroupId] = Number(unreadCount['message-list-' + newMsgData.chatGroupId]) + 1;

                        for (var k in unreadCount) {
                            var el = unreadCount[k];
                        
                            if (el > 0) {
                                $('#' + k + '-unread').text(el).show();
                               $('.unread-messages').show();
                            }
                        }
                    }

                    //$('#message-list').append(newMsg).animate({ scrollTop: $('#message-list')[0].scrollHeight }, 500);
                }

                if (typeof newMsgData.message != 'undefined' && newMsgData.message.indexOf('@@admin') >= 0) {
                    var newMsgData = createMessage(newMsgData, '', 'forAdmin');
                    if (newMsgData != '') {
                        $('#admin-messages').append(newMsgData).animate({ scrollTop: $('#admin-messages')[0].scrollHeight }, 500);
                    }
                }
            } else {
                socket.send('pong');
            }
        };
        socket.onerror = function (error) {
            console.log("Ошибка " + error.message);
        };
        // SOCKET ------------------------------------------------------------------------

        // ------------------------------------------------------------------------------------------------

        // ------------------------------------------------------------------------------------------------

        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#new-message-send').click();
                return false;
            }
        });

        $('#new-message-send').click(function () { // Sending Messages
            var msgBody = $(this).closest('.form-wrap').find('#new-message-area').val();
            var forwardedId = $(this).closest('.form-wrap').find('#forwardedId').val();

            if (msgBody.replace(/ /g, '') != '') {
                var params = {
                    author: globalAuthor,
                    message: msgBody,
                    userId: globalUserId,
                    //token: globalToken,
                    chatGroupId: currentChatGroupId
                };
                if (forwardedId != '') {
                    params.forward = forwardedId;
                }
                var options = ajaxOptions('POST', 'sendMessage', params);
                options.success = function (data, status, xhr) { /* console.log(data); */ };
                options.error = function (xhr, status, error) { /* console.log('Ошибка при отправке: ', error); */ };
                $.ajax(options);

                $('.message-form').find('.message-to-forward').removeClass('on');
                $('#forwardedId').val('');
                $(this).closest('.form-wrap').find('#new-message-area').val('');
            }
            $(this).closest('.form-wrap').find('#new-message-area').focus();
        });

        // ------------------------------------------------------------------------------------------------
        $('.chat-delete').click(function () {
            var msgsId = $('.user-mark:checkbox:checked').map(function () { return $(this).attr('data-id'); }).get();

            var msgsList = [];

            msgsId.forEach(element => {
                msgsList.push({ 'id': element });
            });

            $('#popup-action-url').val('deleteMessages');
            $('#popup-action-url').attr('data-json', JSON.stringify(msgsList));
            $('#popup-action-url').attr('data-method', 'POST');
        });

        $('#popup-yes').click(function () {
            var url = $(this).closest('.form-inner-wrap').find('#popup-action-url').val();
            var method = $(this).closest('.form-inner-wrap').find('#popup-action-url').attr('data-method');
            var params = $(this).closest('.form-inner-wrap').find('#popup-action-url').attr('data-json');

            if (params != '' && params != '{}' && params != '[]') {
                if (url == "chat/delete") {
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: method,
                        data: JSON.parse(params),
                    }).done(function (response) {
                        console.log(response);

                        $('.chatgroup-mark:checkbox:checked').map(function () {
                            var groupForDelete = $(this).closest('.chatgroup');

                            if (groupForDelete.hasClass("active-chat-toggle")) {
                                groupForDelete.remove();
                                groupForDelete.parent().find(".chatgroup").first().trigger("click");
                            } else {
                                groupForDelete.remove();
                            }
                        });

                        $(".chatgroup-control-btns").removeClass("on");

                    }).fail(function (error) {
                        console.log(error);
                    });
                } else {
                    var options = ajaxOptions(method, url, params);
                    options.success = function (data, status, xhr) { /* console.log(data); */ };
                    options.error = function (xhr, status, error) { /* console.log('Ошибка при отправке: ', error); */ };
                    $.ajax(options);
                }
            }
        });

        $('.chat-ban').click(function () {
            var msgsId = $('.user-mark:checkbox:checked').map(function () { return $(this).val(); }).get();

            var msgsList = jQuery.unique(msgsId).join();

            $('#ban-popup-user-list').val('banUser');
            $('#ban-popup-user-list').attr('data-json', msgsList);
            $('#ban-popup-user-list').attr('data-method', 'POST');
        });

        $('#bun-popup-yes').click(function () { // Sending Messages
            var url = $(this).closest('.form-inner-wrap').find('#ban-popup-user-list').val();
            var method = $(this).closest('.form-inner-wrap').find('#ban-popup-user-list').attr('data-method');
            var params = $(this).closest('.form-inner-wrap').find('#ban-popup-user-list').attr('data-json');
            var reason = $(this).closest('.form-inner-wrap').find('#ban-warn-text').val();
            var unblockDate = $(this).closest('.form-inner-wrap').find('#ban-unblock-date').val();

            if (params != '' && method != '' && url != '' && unblockDate != '' && reason != '') {

                unblockDate = unblockDate.split(' ');
                var unBanDate = unblockDate[0].split('/')[2] + '-' + unblockDate[0].split('/')[1] + '-' + unblockDate[0].split('/')[0] + ' ' + unblockDate[1];

                var data = [];
                JSON.parse("[" + params + "]").forEach(element => {
                    data.push({
                        userId: element,
                        reason: reason,
                        unblockDate: unBanDate
                    });
                });

                var options = ajaxOptions(method, url, data);
                options.success = function (data, status, xhr) {
                    $('.user-mark').prop('checked', false);

                    $.fancybox.close({
                        src: '#chat-user-ban-popup'
                    });

                    $('#ban-popup-user-list').val('');
                    $('#ban-popup-user-list').attr('data-json', '');
                    $('#ban-popup-user-list').attr('data-method', '');

                    $('#ban-warn-text').val('');
                    $('#ban-unblock-date').val('');

                    $('.chat-control-btns').removeClass('on');

                    Object.keys(data).forEach(element => {
                        $('.item-user-' + data[element].userId).find('.inner-right').prepend('<div class="banned-user-message">Забанен</div>');
                    });
                };
                options.error = function (xhr, status, error) { /* console.log('Ошибка при отправке: ', error); */ };
                $.ajax(options);
            } else {
                $(this).closest('.form-inner-wrap').find('.error-message span').text('Заполните все поля!');
                $(this).closest('.form-inner-wrap').find('.error-message').toggleClass('on');
            }
        });

        //-------------------------------------------------------------------

        $('.tab-tgl').click(function () {
            $('.tab-tgl').removeClass('active');
            $(this).addClass('active');
            $('.tab').not('#' + $(this).data('tab')).hide();
            $('#' + $(this).data('tab')).show();

            if ($(this).data('tab') == 'chat-members') {
                $('.chat-header').hide();
                $('.chat-body').hide();

                $('.chat-members-filter').show();
                $('.chat-members-body').show();
            } else {
                $('.chat-header').show();
                $('.chat-body').show();

                $('.chat-members-filter').hide();
                $('.chat-members-body').hide();
            }
        });

        //-------------------------------------------------------------------

        // Getting List Of Ban Words
        var getBanWords = ajaxOptions('GET', 'getBanWords');
        getBanWords.success = function (data, status, xhr) {
            if (data != null) {
                var letterGroup = '';
                var words = '';
                Object.keys(data).forEach(type => {
                    Object.keys(data[type]).forEach(letterWrap => {
                        Object.keys(data[type][letterWrap]).forEach(letter => {
                            words = '';
                            Object.keys(data[type][letterWrap][letter]).forEach(wordWrap => {
                                words += '<li id="word-' + data[type][letterWrap][letter][wordWrap].id + '">' + data[type][letterWrap][letter][wordWrap].word + '<span id="delete-word" data-id="' + data[type][letterWrap][letter][wordWrap].id + '"><ion-icon name="close-circle"></ion-icon><span></li>';
                            });
                            letterGroup = '<div class="letter-group"><p>' + letter + '</p><ul data-letter="' + letter + '">' + words + '</ul></div>';
                            $('#ban-word-list').append(letterGroup);
                        });
                    });
                });
            }
        };
        getBanWords.error = function (xhr, status, error) {
            console.log('Ошибка при отправке: ', error);
        };
        $.ajax(getBanWords);

        //-------------------------------------------------------------------

        // Add New Chat Group
        $('form.add-new-group').submit(async function (e) {
            e.preventDefault();

            var newChatGroupInput = $('#add-chat-input').val();
            var newChatGroupImg = $('#new-group-add').val();

            if (newChatGroupInput != '' && newChatGroupImg != '') {
                var form = $(this);
                var formData = new FormData(this);

                $.ajax({
                    url: '/chat/create',
                    dataType: "json",
                    contentType: false,
                    cache: false,
                    processData: false,
                    mimeType: "multipart/form-data",
                    type: 'POST',
                    data: formData,
                }).done(function (response) {
                    console.log(response);
                    $('#chat-groups .chatgroup-list').append(createChatGroup(response.chatGroup));
                }).fail(function (error) {
                    console.log(error);
                });

                form[0].reset()
            } else {
                alert("Картинка и название группы объязательно!");
            }
        });

        // Delete Chat Group
        $('.chatgroup-delete').click(function () {
            var grpsId = $('.chatgroup-mark:checkbox:checked').map(function () { return $(this).attr('data-id'); }).get();

            var grpsList = {
                ids: grpsId
            };

            $('#popup-action-url').val('chat/delete');
            $('#popup-action-url').attr('data-json', JSON.stringify(grpsList));
            $('#popup-action-url').attr('data-method', 'POST');
        });

        // Hide Chat Group
        $('.chatroup-hide').click(function () {
            var grpsId = $('.chatgroup-mark:checkbox:checked').map(function () { return $(this).attr('data-id'); }).get();

            var grpsList = {
                ids: grpsId
            };

            $.ajax({
                url: "/chat/Deactivate",
                dataType: "json",
                type: "post",
                data: grpsList,
            }).done(function (response) {

                $('.chatgroup-mark:checkbox:checked').map(function () {
                    $(this).prop("checked", false);
                    var groupForDelete = $(this).closest('.chatgroup');
                    groupForDelete.addClass('hidden-group');
                });

                $(".chatgroup-control-btns").removeClass("on");

            }).fail(function (error) {
                console.log(error);
            });
        });

        // Show Chat Group
        $('.chatroup-show').click(function () {
            var grpsId = $('.chatgroup-mark:checkbox:checked').map(function () { return $(this).attr('data-id'); }).get();

            var grpsList = {
                ids: grpsId
            };

            $.ajax({
                url: "/chat/Activate",
                dataType: "json",
                type: "post",
                data: grpsList,
            }).done(function (response) {
                //console.log(response);

                $('.chatgroup-mark:checkbox:checked').map(function () {
                    $(this).prop("checked", false);
                    var groupForDelete = $(this).closest('.chatgroup');
                    groupForDelete.removeClass('hidden-group');
                });

                $(".chatgroup-control-btns").removeClass("on");

            }).fail(function (error) {
                console.log(error);
            });
        });

        //-------------------------------------------------------------------

        // Delete Ban Word
        //$(document).on('click', '#delete-word', function () {
        //    var wordId = $(this).attr('data-id');
        //    var deleteBanWord = ajaxOptions('POST', 'deleteBanWords', [{ id: wordId }]);
        //    deleteBanWord.success = function (data, status, xhr) {
        //        if (data) {
        //            $('#word-' + wordId).remove();
        //        }
        //    };
        //    deleteBanWord.error = function (xhr, status, error) {
        //        console.log('Ошибка при отправке: ', error);
        //    };
        //    $.ajax(deleteBanWord);
            //console.log(deleteBanWord);
        //});

        //-------------------------------------------------------------------

        // Add New Ban Word
        $('#add-word-btn').click(function () {
            var newWordInput = $('#add-word-input').val();

            if (newWordInput.replace(/ /g, '') != '') {
                var addBanWord = ajaxOptions('POST', 'addBanWord', { word: newWordInput });
                addBanWord.success = function (data, status, xhr) {
                    //console.log($('[data-letter="' + data.word.charAt(0).toUpperCase() + '"]').length);
                    if (data) {
                        if ($('[data-letter="' + data.word.charAt(0).toUpperCase() + '"]').length > 0) {
                            $('[data-letter="' + data.word.charAt(0).toUpperCase() + '"]').append('<li id="word-' + data.id + '">' + data.word + '<span id="delete-word" data-id="' + data.id + '"><ion-icon name="close-circle"></ion-icon><span></li>');
                        } else {
                            //console.log('<div class="letter-group"><p>' + data.word.charAt(0).toUpperCase() + '</p><ul data-letter="' + data.word.charAt(0).toUpperCase() + '"><li id="word-' + data.id + '">' + data.word + '<span id="delete-word" data-id="' + data.id + '"><ion-icon name="close-circle"></ion-icon><span></li></ul></div>');
                            $('#ban-word-list').prepend('<div class="letter-group"><p>' + data.word.charAt(0).toUpperCase() + '</p><ul data-letter="' + data.word.charAt(0).toUpperCase() + '"><li id="word-' + data.id + '">' + data.word + '<span id="delete-word" data-id="' + data.id + '"><ion-icon name="close-circle"></ion-icon><span></li></ul></div>');
                        }
                    }
                };
                addBanWord.error = function (xhr, status, error) {
                    console.log('Ошибка при отправке: ', error);
                };
                $.ajax(addBanWord);
                $('#add-word-input').val('');
            }
        });

        //-------------------------------------------------------------------

        // Delete Ban Word
        $(document).on('click', '#delete-word', function () {
            var wordId = $(this).attr('data-id');
            var deleteBanWord = ajaxOptions('POST', 'deleteBanWords', [{ id: wordId }]);
            deleteBanWord.success = function (data, status, xhr) {
                if (data) {
                    $('#word-' + wordId).remove();
                }
            };
            deleteBanWord.error = function (xhr, status, error) {
                console.log('Ошибка при отправке: ', error);
            };
            $.ajax(deleteBanWord);
            //console.log(deleteBanWord);
        });

        //-------------------------------------------------------------------

        // Search Message By Date And Time
        $('.close-search').click(function () {
            $('.search-message-list').slideUp();
        });

        function changeDateFormat(data) {
            var fullDate = data.split(" ");
            var timePart = fullDate[1];
            var datePart = fullDate[0].split("/");

            return datePart[2] + '-' + datePart[1] + '-' + datePart[0] + ' ' + timePart;
        }

        var searchDone = function (data, status, xhr) {
            $('.search-message-list').css('display', 'none');
            $('.search-message-list .search-wrap').html('');
            if (data != null && data.length != 0) {
                var msgList = data.reverse();
                msgList.forEach(element => {
                    $('.search-message-list .search-wrap').append(createMessage(element, '', 'search'));
                });

                $('.search-message-list').css('display', 'flex');
            }
        };

        var searchError = function (xhr, status, error) {
            console.log('Ошибка при отправке: ', error);
        };

        $(document).on('click', '.ui-datepicker-close', function () { searchResult(); });
        $(document).on('change', '.timepicker', function () { searchResult(); });

        function searchResult() {
            var minDate = $('.date-min').val();
            var maxDate = $('.date-max').val();

            if (minDate.replace(/ /g, '') != '' && maxDate.replace(/ /g, '') != '') {
                var searchByDate = ajaxOptions('GET', 'findMessagesByDate?dateFrom=' + changeDateFormat(minDate) + '&dateTo=' + changeDateFormat(maxDate));
                searchByDate.success = searchDone;
                searchByDate.error = searchError;
                $.ajax(searchByDate);
            }
        }

        // Search Message By User Name
        $(document).on('click', '#search-by-user-btn', function () { searchResultByUser(); });
        $(document).on('change', '#search-by-user', function () { searchResultByUser(); });

        function searchResultByUser() {
            var userName = $('#search-by-user').val();

            if (userName.replace(/ /g, '') != '') {
                var searchByUserName = ajaxOptions('POST', 'findMessagesByUserName', userName);
                searchByUserName.success = searchDone;
                searchByUserName.error = searchError;
                $.ajax(searchByUserName);
            }
        }

        //-------------------------------------------------------------------
        //-------------------------------------------------------------------
        //-------------------------------------------------------------------
        //-------------------------------------------------------------------

        // Delete Members From Chat Group
        $('.chat-member-delete').click(async function () {
            var grpsId = $('.chatgroup-members-checkbox:checkbox:checked').map(function () { return $(this).val(); }).get();

            var options = {
                url: '/Chat/deleteChatUsers',
                dataType: "json",
                type: 'POST',
                data: {
                    chatGroupId: $(this).attr('data-chat-id'),
                    userIds: grpsId,
                }
            };

            try {

                var response = await request(options);
                location.reload();

            } catch (error) {
                console.warn(error);
            }
        });

        //-------------------------------------------------------------------

        /*
         *  {
         *      "id": "57",
         *      "page": 1,
         *      "filter": {
         *          "PageSize": 10,
         *          "Name": "Игорь",
         *          "Surname": "",
         *          "BirthDateFrom": null,
         *          "BirthDateTo": null,
         *          "City": null,
         *          "LastVisitDateFrom": null,
         *          "LastVisitDateTo": null,
         *          "Phone": ""
         *      }
         *  }
         */
        $('#filter-form').submit(async function (e) {
            e.preventDefault();

            var currentPrivateGroupId = $(this).attr('data-chat-id');

            localStorage.setItem('chatgroup-members-filters-' + currentPrivateGroupId, JSON.stringify({
                'id': currentPrivateGroupId,
                'page': '',
                'filter': {
                    "Name": $(this).find('#first_name').val(),
                    "Surname": $(this).find('#last_name').val(),
                    "BirthDateFrom": $(this).find('#birthdate_from').val(),
                    "BirthDateTo": $(this).find('#birthdate_to').val(),
                    "City": $(this).find('#city').val(),
                    "LastVisitDateFrom": $(this).find('#last_visit_from').val(),
                    "LastVisitDateTo": $(this).find('#last_visit_to').val(),
                    "Phone": $(this).find('#phone').val(),
                    "PageSize": 50
                }
            }));

            var filterData = JSON.parse(localStorage.getItem('chatgroup-members-filters-' + currentPrivateGroupId));

            var options = {
                url: '/Chat/getPrivateChatUsers',
                dataType: "json",
                type: 'POST',
                data: filterData
            };

            var membersResponse = (await request(options)).data;
            //console.log(membersResponse);

            //if (membersResponse.success) {
            $('#chatgroup-members-' + currentPrivateGroupId).html('');
            membersResponse.ChatGroupsUsers.forEach(async function (member) {
                $('#chatgroup-members-' + currentPrivateGroupId).append(createMember(member));
            });

            $('#chatgroup-members-' + e.Id).append(renderPagination(membersResponse.PageCount, 1, e.Id));
            //}
        });

        //-------------------------------------------------------------------

        // Stickers
        $('#sticker-icon-toggle, #stickers-list-close').click(function () {
            $('#stickers-container').toggleClass('on');
        });

        // Sticker send
        $('.sticker').click(function () {
            var params = {
                author: globalAuthor,
                userId: globalUserId,
                //token: globalToken,
                message: '',
                stickerId: $(this).attr('data-stciker'),
                chatGroupId: currentChatGroupId
            };
            var options = ajaxOptions('POST', 'sendMessage', params);
            options.success = function (data, status, xhr) { /* console.log(data); */ };
            options.error = function (xhr, status, error) { console.log('Ошибка при отправке: ', error); };
            $.ajax(options)
            $('#stickers-container').toggleClass('on');
            $('#new-message-area').focus();
        });

        //-------------------------------------------------------------------

        $(document).on('click', '.chatgroup', async function (e) {
            //console.log($(e.target)[0].tagName);
            if ($(e.target)[0].tagName != "INPUT" && $(e.target)[0].tagName != "ION-ICON") {
                currentChatGroupId = await $(this).attr('data-chat-id');

                $('.content-body.chat-body .chat-list').not('#message-list-' + currentChatGroupId).removeClass('active');
                $('#message-list-' + currentChatGroupId).addClass('active');

                $('.chatgroup').removeClass('active-chat-toggle');
                $(this).addClass('active-chat-toggle');

                if ($('#message-list-' + currentChatGroupId).children().length > 0) {
                    scrollChat();
                }
            }
        });
    });
</script>

<script>
    $(function () {
        $(document).on('click', '.chat-members-group', function () {
            $('.chatgroup-members').hide();
            $('.chat-members-group').removeClass('active-chat-toggle');
            $('.chatgroup-members input:checkbox').prop('checked', false);

            $('.chat-members-ban').removeClass('on');
            $('.chat-members-ban .chat-ban span').text('');
            $('.chat-members-ban .chat-ban delete').text('');

            $(this).addClass('active-chat-toggle');
            $('button.chat-member-delete').attr('data-chat-id', $(this).data('content'));
            $('#filter-form').attr('data-chat-id', $(this).data('content'));
            $('#chatgroup-members-' + $(this).data('content')).show();
        });

        //-------------------------------------------------------------------

        $('.chat-list').scrollTop($('.chat-list')[0].scrollHeight);

        $(document).on('click', '.chat-user-message-forward', function (e) {
            var user = $(this).closest('.chat-inner').find('.chat-user-name').text();
            var message = $(this).closest('.chat-inner').find('.chat-user-message').text();
            $('#forwardedId').val($(this).attr('data-msgid'));
            $('.message-form').find('.message-to-forward').find('.name').text('@@ ' + user);
            $('.message-form').find('.message-to-forward').find('.txt').text(message);
            $('.message-form').find('.message-to-forward').addClass('on');
            $('.message-form').find('#new-message-area').focus();
        });

        $(document).on('click', '.forward-message-close', function (e) {
            $('#forwardedId').val('');
            $(this).parent().find('.name').text('');
            $(this).parent().find('.txt').text('');
            $(this).parent().removeClass('on');
        });

        //-------------------------------------------------------------------

        $(document).on('change', '.chatgroup-members-checkbox:checkbox', function (e) {
            var chatgroupMembers = $('.chatgroup-members-checkbox:checked');

            console.log(chatgroupMembers.length);

            if (chatgroupMembers.length != 0) {
                $('.chat-members-ban .chat-member-delete span').text(chatgroupMembers.length);

                if (!$('.chat-members-ban').hasClass('on')) {
                    $('.chat-members-ban').addClass('on');
                }
            } else {
                $('.chat-members-ban').removeClass('on');
                $('.chat-members-ban .chat-member-delete delete').text('');
            }
        });

        $(document).on('change', '.user-mark:checkbox', function (e) {
            var users = $('.user-mark:checkbox:checked');

            if (users.length != 0) {
                $('.chat-control-btns .chat-ban span').text(users.length);
                $('.chat-control-btns .chat-delete span').text(users.length);
                if (!$('.chat-control-btns').hasClass('on'))
                    $('.chat-control-btns').addClass('on');
            } else {
                $('.chat-control-btns').removeClass('on');
                $('.chat-control-btns .chat-ban span').text('');
                $('.chat-control-btns .chat-ban delete').text('');
            }
        });

        $(document).on('change', '.chatgroup-mark:checkbox', function (e) {
            var chatgroup = $('.chatgroup-mark:checkbox:checked');

            if (chatgroup.length != 0) {

                if (!$('.chatgroup-control-btns').hasClass('on')) {
                    $('.chatgroup-control-btns').addClass('on');
                }
            } else {
                $('.chatgroup-control-btns').removeClass('on');
                $('.chatgroup-control-btns .chat-ban span');
                $('.chatgroup-control-btns .chat-ban delete');
            }
        });
    });

// -------------------------------------------------------------------------------------------

    function ajaxOptions(method, action, data = '') {
        var params = {
            headers: {
                Authorization: chatToken,
            },
            url: globalUrl + '/admin/' + action,
            dataType: "json",
            type: method,
        };
        if (method == 'POST') {
            params.contentType = 'application/json';

            if (data != '' && data.lentgh != 0) {
                if (typeof data == 'object') {
                    params.data = JSON.stringify(data);
                } else if (typeof data == 'string') {
                    params.data = data;
                }
            }
        }
        // console.log(params);
        return params;
    }

// --------- Generate The Chat Member -------------------------------------

    function nullToString(data) {
        if (data == null) {
            return '';
        } else {
            return data;
        }
    }

    function createMember(e) {
        return `
            <div class="st-row st-user">
                <div class="d-flex st-user-header">
                    <div class="st-column checkbox-column">
                        <input type="checkbox" name="chatgroup_members[]" class="chatgroup-members-checkbox" value="${e.Id}">
                    </div>
                    <div class="st-column num-list">
                        <span class="txt">${nullToString(e.Id)}</span>
                    </div>
                    <div class="st-column">
                        <input type="text" value="${nullToString(e.FirstName)}" disabled>
                    </div>
                    <div class="st-column">
                        <input type="text" value="${nullToString(e.LastName)}" disabled>
                    </div>
                    <div class="st-column">
                        <input type="text" value="${nullToString(dateConvert(e.BirthDate))}" disabled>
                    </div>
                    <div class="st-column">
                        <input type="text" value="${nullToString(e.Cities.CityName)}" disabled>
                    </div>
                    <div class="st-column">
                        <input type="text" value="${nullToString(dateConvert(e.LastSignInP))}" disabled>
                    </div>
                    <div class="st-column">
                        <input type="text" value="${nullToString(e.Phone)}" disabled>
                    </div>
                    <div class="st-column"></div>
                </div>
            </div>
        `;
    }

// --------- Generate The Chat Group Toggle -------------------------------------
    function createChatGroup(e, type = '') {
        console.log(e);
        var userMarker = '';
        var wrapClass = 'chat-members-group';
        var unreadBlock = '';
        var memberData = 'content';
        var chatAvatar = '/Content/img/avatar-template.jpg';
        var hiddenClass = '';

        if (e.IsPrivate === true && typeof e.isPrivate != 'undefind') {
            hiddenClass = ' hidden-group';
        }

        if (e.Image) {
            chatAvatar = mainUrl + '/api' + e.Image;
        }

        if (type == '') {
            userMarker = `
                <div class="chatgroup-checkbox-marker">
                    <input type="checkbox" id="group_${e.Id}_mark" class="chatgroup-mark" data-id="${e.Id}" value="${e.Id}" hidden data-hidden="0">
                    <label for="group_${e.Id}_mark">
                        <ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>
                    </label>
                </div>
            `;
            wrapClass = 'chatgroup';
            unreadBlock = `<div id="chat-${e.Id}-unread" class="new-msg-count" style="display: block;"></div>`;
            memberData = 'chat-id';
        }

        return `
            <div id="chat-toggle-${e.Id}" class="${wrapClass} ${hiddenClass}" data-${memberData}="${e.Id}">
                <div class="chatgroup-avatar" style="background-image: url(${chatAvatar});"></div>
                <div class="chatgroup-content">
                    <div class="chatgroup-name">${e.Name}</div>
                    <div class="chatgroup-date">Создан: ${dateConvert(e.CreationDate)}</div>
                    <div class="chatgroup-user-count">${e.users} человек</div>
                </div>
                ${userMarker}
            </div>
        `;
    }

    // --------- Unread Count Set -------------------------------------
    function unreadCountSet(id) {
        if (!('chat-' + id in unreadCount)) {
            unreadCount['chat-' + id] = 0;
        }
    }

    // --------- Get 100 Messages -------------------------------------
    function getMessages(chatGroupId = '', currentMinId = '') {
        return new Promise(async function (resolve, reject) {
            var getMessageUrl = 'getMessages?chatGroupId=' + chatGroupId;
            if (currentMinId != '') {
                getMessageUrl = getMessageUrl + "&messageId=" + currentMinId;
            }

            var options = ajaxOptions('GET', getMessageUrl);
            options.operationType = 'getMessages';

            try {
                var data = await request(options);

                if (currentMinId != '') {
                    if (data != null && data.length != 0) {
                        var msgList = data;

                        msgList.forEach(element => {
                            $('ul#message-list-' + currentChatGroupId).prepend(createMessage(element));
                        });

                        $('ul#message-list-' + currentChatGroupId).scrollTop($('#' + minId[chatGroupId]).offset().top - 300);

                        minId[chatGroupId] = Number(msgList[msgList.length - 1].id);
                    } else {
                        minId[chatGroupId] = '';
                    }
                } else {
                    if (data != null && data.length != 0) {
                        var msgList = data.reverse();
                        msgList.forEach(element => {
                            $('ul#message-list-' + chatGroupId).append(createMessage(element));

                            if ('chat-' + element.chatGroupId in unreadCount) {
                                var lastReadMsg = JSON.parse(localStorage.getItem('user-' + globalUserId)).unread['chat-' + element.chatGroupId];

                                if (element.id > lastReadMsg) {
                                    unreadCount['chat-' + element.chatGroupId] = Number(unreadCount['chat-' + element.chatGroupId]) + 1;

                                    localStrg.unread['chat-' + element.chatGroupId] = msgList[0].id;

                                    localStorage.setItem('user-' + globalUserId, JSON.stringify(localStrg));
                                }
                            } else {
                                unreadCount['chat-' + element.chatGroupId] = 0;
                            }
                        });

                        for (var k in unreadCount) {
                            var el = unreadCount[k];

                            if (el > 0) {
                                $('#' + k + '-unread').text(el).show();
                            }
                        }

                        minId[chatGroupId] = Number(msgList[0].id);
                    }
                }
                resolve();
            } catch (error) {
                console.warn('Ошибка получении сообщений из базы: ', error);
                reject(error);
            }
        });
    }


    // ------------------------------------------------------------------------------------------------

    function createMessage(msg, parentData = '', forAdmin = '') {
        if (msg.isDeleted === false) {
            var msgDate = '';
            var parentMsg = '';

            if (parentData == '') {
                var iconCircle = '<ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>';

                if (forAdmin != '') {
                    if (forAdmin == 'forAdmin') {
                        var checkbox = '<input type="checkbox" id="user_' + msg.id + '_adminmark' + '" class="user-mark" data-id="' + msg.id + '" name="user_mark[]" value="' + msg.userId + '" hidden="">';
                        var checkboxLabel = '<label for="user_' + msg.id + '_adminmark' + '">' + iconCircle + '</label>';
                    } else if (forAdmin == 'search') {
                        var checkbox = '<input type="checkbox" id="user_' + msg.id + '_search' + '" class="user-mark" data-id="' + msg.id + '" name="user_mark[]" value="' + msg.userId + '" hidden="">';
                        var checkboxLabel = '<label for="user_' + msg.id + '_search' + '">' + iconCircle + '</label>';
                    }

                    var adminHashTag = '';
                } else {
                    var checkbox = '<input type="checkbox" id="user_' + msg.id + '_mark' + '" class="user-mark" data-id="' + msg.id + '" name="user_mark[]" value="' + msg.userId + '" hidden="">';
                    var checkboxLabel = '<label for="user_' + msg.id + '_mark' + '">' + iconCircle + '</label>';

                    if (msg.message.includes('@@admin')) {
                        var adminHashTag = '<div class="to-admin">@@admin</div>';
                    } else {
                        var adminHashTag = '';
                    }
                }
            } else {
                var checkbox = '';
                var checkboxLabel = '';
                var adminHashTag = '';
            }

            if (typeof msg.forwardedTo != 'undefined') {
                var parentMsg = createMessage(msg.forwardedTo, 'forwarded-to', '');
                parentData = 'forwarded-message';
            } else {
                var msgDateTime = msg.dateTime.split(" ");
                var msgDate = msgDateTime[0];
                var msgTime = msgDateTime[1].split(":")[0] + ':' + msgDateTime[1].split(":")[1];
                var msgDate = '<div class="last-time"><span id="date">' + msgDate + '</span><span id="time">' + msgTime + '</span></div>';
            }

            if (msg.isBanned) {
                bannedTag = '<div class="banned-user-message">Забанен</div>';
            } else {
                bannedTag = '';
            }

            var authorId = msg.userId;

            var wrapBegin = '<div class="chat-list-item ' + parentData + ' item-user-' + msg.userId + '" id="' + forAdmin + msg.id + '">';
            var wrapEnd = '</div>';

            var avatar = '<div class="chat-user-avatar" style="background-image: url(' + (typeof msg.avatarUrl != 'undefined' ? mainUrl + '/api' + msg.avatarUrl : '/Content/img/avatar-template.jpg') + ');"></div>';

            var msgAuthor = '<div class="chat-user-name">' + msg.author + '</div>';

            if (typeof msg.stickerId != 'undefined' && msg.stickerId != 0) {
                var msgBody = '<div class="chat-user-message"><img src="/Content/img/stickers/' + msg.stickerId + '.png" class="chat-sticker" /></div>';
                var forward = '';
            } else {
                var msgBody = '<div class="chat-user-message">' + msg.message + '</div>';
                var iconForward = '<ion-icon name="ios-undo" role="img" class="hydrated" aria-label="undo"></ion-icon>';
                var forward = '<div class="inner-right">' + bannedTag + adminHashTag + '<div class="chat-user-message-forward" data-msgId="' + msg.id + '"><div class="forward-icon">' + iconForward + '</div></div></div>';
            }

            var chatInner = '<div class="chat-inner"><div class="chat-inner-content">' + msgAuthor + msgBody + '</div>' + forward + '</div>';

            var userMark = '<div class="chat-checkbox-marker">' + checkbox + checkboxLabel + '</div>';

            return parentMsg + wrapBegin + msgDate + avatar + chatInner + userMark + wrapEnd;
        } else {
            for (let i = 0; i < msg.length; i++) {
                if ($('#' + msg[i].id).prev().hasClass('forwarded-to')) {
                    $('#' + msg[i].id).prev().remove();
                }
                $('#' + msg[i].id).remove();
                $('#forAdmin' + msg[i].id).remove();

            }

            $('.chat-control-btns').removeClass('on');
            $('.chat-control-btns .chat-ban span').text('');
            $('.chat-control-btns .chat-ban delete').text('');

            return '';
        }
    }

    // ------------------------------------------------------------------------------------------------

    function renderPagination(pageCount = '', pageNum = '', paginationParentId = '') {
        
        if (Number(pageCount) != '' && Number(pageNum) != '' && Number(pageCount) > 1 && paginationParentId != '') {
            var goToStart = '';
            var goToPrev = '';

            var goToNext = '';
            var goToEnd = '';

            var hiddenStart = '';
            var hiddenEnd = '';

            var loopStart = 1;
            var loopEnd = Number(pageCount);

            if (Number(pageNum) - 5 > 1) {
                goToStart = `<li><a href="1">««</a></li>`;
                hiddenStart = '<li><a>...</a></li>';
                loopStart = Number(pageNum) - 5;
            }

            if (pageNum > 1) {
                goToPrev = `<li><a href="${Number(pageNum) - 1}">«</a></li>`;
            }

            if (pageNum < Number(pageCount)) {
                goToNext = `<li><a href="${Number(pageNum) + 1}">»</a></li>`;
            }

            if (Number(pageNum) + 4 < Number(pageCount)) {
                goToEnd = `<li><a href="${Number(pageCount)}">»»</a></li>`;
                hiddenEnd = '<li><a>...</a></li>';
                loopEnd = Number(pageNum) + 4;
            }

            var paginationBlock = `<div class="chatgroup-members-pagination"><ul data-parent="${paginationParentId}">` + goToStart + goToPrev + hiddenStart;

            for (var i = loopStart; i <= loopEnd; i++) {
                if (i == Number(pageNum)) {
                    paginationBlock = paginationBlock + `<li class="active"><a>${i}</a></li>`;
                } else {
                    paginationBlock = paginationBlock + `<li><a href="${i}">${i}</a></li>`;
                }
            }

            paginationBlock = paginationBlock + hiddenEnd + goToNext + goToEnd + '</ul></div>';

            return paginationBlock;
        }
    }

    // Pagination On Click
    $(function () {
        $(document).on('click', '.chatgroup-members-pagination a', async function (e) {
            e.preventDefault();

            if (!$(this).parent().hasClass('active')) {
                try {
                    var currentPrivateGroupId = $(this).closest('ul').attr('data-parent');

                    var filterData = JSON.parse(localStorage.getItem('chatgroup-members-filters-' + currentPrivateGroupId));
                    filterData.page = $(this).attr('href');

                    var options = {
                        url: '/Chat/getPrivateChatUsers',
                        dataType: "json",
                        type: 'POST',
                        data: filterData
                    };

                    var membersResponse = (await request(options)).data;

                    $('#chatgroup-members-' + currentPrivateGroupId).html('');
                    membersResponse.ChatGroupsUsers.forEach(function (member) {
                        $('#chatgroup-members-' + currentPrivateGroupId).append(createMember(member));
                    });

                    console.log(membersResponse, $(this).attr('href'), membersResponse.PageCount, currentPrivateGroupId);

                    $('#chatgroup-members-' + currentPrivateGroupId).append(renderPagination(membersResponse.PageCount, $(this).attr('href'), currentPrivateGroupId));

                } catch (error) {
                    console.warn(error);
                }
            }
        });
    });

    // ------------------------------------------------------------------------------------------------

    function dateConvert(date) {
        if (date != null && typeof date != 'undefined') {
            var dateNums = moment(parseInt(date.substring(6, date.length - 2)), "x");
            return dateNums.calendar(null, {
                sameDay: 'DD/MM/YYYY',
                nextDay: 'DD/MM/YYYY',
                nextWeek: 'DD/MM/YYYY',
                lastDay: 'DD/MM/YYYY',
                lastWeek: 'DD/MM/YYYY',
                sameElse: 'DD/MM/YYYY'
            });
        } else {
            return '';
        }
    }

    // ------------------------------------------------------------------------------------------------

    function scrollChat() {
        var lastReadMsg;

        if (unreadCount['chat-' + currentChatGroupId] <= 0) {
            var scrollToItem = $('ul#message-list-' + currentChatGroupId)[0].scrollHeight;
        } else {
            lastReadMsg = JSON.parse(localStorage.getItem('user-' + globalUserId)).unread['chat-' + currentChatGroupId];

            var scrollToItem = $('ul#message-list-' + currentChatGroupId)[0].scrollHeight + $('#' + lastReadMsg).offset().top;
        }

        $('ul#message-list-' + currentChatGroupId).scrollTop(scrollToItem);

        localStrg.unread['chat-' + currentChatGroupId] = $('ul#message-list-' + currentChatGroupId + ' .chat-list-item').last().attr('id');
        localStorage.setItem('user-' + globalUserId, JSON.stringify(localStrg));

        unreadCount['chat-' + currentChatGroupId] = 0;

        $('#chat-' + currentChatGroupId + '-unread').text('').hide();
    }
</script>