﻿<!-- Chat Delete Pop Up Window -->
<div style="display: none;" id="chat-delete-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить?</div>

            <input type="hidden" id="popup-action-url" data-json="">
            <div class="st-btn">
                <button type="button" id="popup-no" data-fancybox-close>Нет</button>
                <button type="button" id="popup-yes" data-fancybox-close>Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Chat Delete Pop Up Window End -->

<!-- Chat User Ban Pop Up Window -->
<div style="display: none;" id="chat-user-ban-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы хотите забанить пользователя?</div>
            <div class="description">Данный пользователь не сможет заходить на сайт и в приложение пока не будет разбанен.</div>
            <div class="error-message">
                <span></span>
            </div>

            <textarea name="ban-warn-text" id="ban-warn-text" placeholder="Укажите причину бана. Этот текст будет отправлен пользователю на почту и виден ему при входе на сайт и приложение."></textarea>
            <input type="hidden" id="ban-popup-user-list" data-json="">

            <div class="ban-period">
                <div class="ban-end-date">
                    <span>Срок БАНа</span>
                    <input type="text" id="ban-unblock-date" name="ban_end_date" class="timepicker" placeholder="дд/мм/гггг чч:мин" autocomplete="false">
                </div>
            </div>

            <div class="st-btn">
                <button type="button" id="bun-popup-no" data-fancybox-close>Нет</button>
                <button type="button" id="bun-popup-yes">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Chat User Ban Pop Up Window End -->

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-8">
                    <div class="content-header chat-header">
                        <div class="current-admin">
                            <div class="current-admin-avatar">
                                <img src="/Content/img/avatar-template.jpg" alt="">
                            </div>
                            <span id="adminFullName">Имя Фамилия</span>
                        </div>
                        <div class="chat-filter">
                            <div class="st-column chat-column chat-date">
                                <div class="filter-item-title">Дата публикации</div>
                                <input type="text" name="news_published_date_min" class="timepicker date-min" placeholder="от дд/мм/гггг">
                                <input type="text" name="news_published_date_max" class="timepicker date-max" placeholder="до дд/мм/гггг">
                            </div>
                        </div>
                        <div class="chat-search">
                            <form action="#">
                                <div class="seacrh-items-wrap">
                                    <input type="text" name="chat_search" id="search-by-user" placeholder="Поиск сообщений по пользователю">
                                    <button type="button" id="search-by-user-btn">
                                        <ion-icon name="ios-search"></ion-icon>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="content-body chat-body">
                        <div class="search-message-list">
                            <div class="top-bar">
                                <span>Резуьтаты поиска</span>
                                <div class="close-search"><ion-icon name="ios-close-circle-outline"></ion-icon></div>
                            </div>
                            <div class="search-wrap"></div>
                        </div>
                        <div class="chat-list" id="message-list"></div>
                        <div class="message-form">
                            <div class="text-indicate">
                                <span>Кто то печатает</span>
                                <div class="indicate-animation">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="chat-control-btns">
                                <button class="bg-warning border-warning text-white chat-ban" data-fancybox data-src="#chat-user-ban-popup">Забанить<span>0</span></button>
                                <button class="bg-danger border-danger text-white chat-delete" data-fancybox data-src="#chat-delete-popup">Удалить<span>0</span></button>
                            </div>
                            <form action="#">
                                <div class="form-wrap">
                                    <div class="message-to-forward">
                                        <span class="name"></span>
                                        <p class="txt"></p>
                                        <div class="forward-message-close">
                                            <ion-icon name="close"></ion-icon>
                                        </div>
                                    </div>
                                    <input type="hidden" id="forwardedId" value="">
                                    <textarea id="new-message-area" name="" id="" rows="1" placeholder="Пишите сообщение"></textarea>
                                    <div id="sticker-icon-toggle">
                                        <img src="/Content/img/stickers/stickers.png" alt="">
                                    </div>
                                    <div id="stickers-container">
                                        <div id="stickers-top">
                                            <div id="stickers-list-close">
                                                <ion-icon name="ios-close-circle"></ion-icon>
                                            </div>
                                        </div>
                                        <div id="stickers-list">
                                            <div class="sticker" data-stciker="1">
                                                <img src="/Content/img/stickers/1.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="2">
                                                <img src="/Content/img/stickers/2.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="3">
                                                <img src="/Content/img/stickers/3.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="4">
                                                <img src="/Content/img/stickers/4.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="5">
                                                <img src="/Content/img/stickers/5.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="6">
                                                <img src="/Content/img/stickers/6.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="7">
                                                <img src="/Content/img/stickers/7.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="8">
                                                <img src="/Content/img/stickers/8.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="9">
                                                <img src="/Content/img/stickers/9.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="10">
                                                <img src="/Content/img/stickers/10.png" alt="">
                                            </div>
                                            <div class="sticker" data-stciker="11">
                                                <img src="/Content/img/stickers/11.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="st-button">
                                        <button type="button" id="new-message-send">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-header tab-list-header">
                        <div class="tab-tgl active" data-tab="chat-groups">
                            <ion-icon name="ios-people"></ion-icon>
                            <div class="item-title">Чаты</div>
                        </div>
                        <div class="tab-tgl" data-tab="messages">
                            <ion-icon name="ios-chatbubbles"></ion-icon>
                            <div class="item-title">Сообщения</div>
                        </div>
                        <div class="tab-tgl" data-tab="notification" style="display: none">
                            <ion-icon name="ios-notifications"></ion-icon>
                            <span>15</span>
                            <div class="item-title">Уведемление</div>
                        </div>
                        <div class="tab-tgl" data-tab="banned" style="display: none">
                            <ion-icon name="ios-person-add"></ion-icon>
                            <span>200</span>
                            <div class="item-title">Забаненные</div>
                        </div>
                        <div class="tab-tgl" data-tab="dictionary">
                            <span>*!#?</span>
                            <div class="item-title">Словарь</div>
                        </div>
                    </div>
                    <div class="content-body tab-bodies">
                        <div class="tab" id="chat-groups">
                            <div class="chatgroup-list">
                                <div class="chatgroup hidden-group">
                                    <div class="chatgroup-avatar" style="background-image: url(/Content/img/avatar-template.jpg);"></div>
                                    <div class="chatgroup-content">
                                        <div class="chatgroup-name">Freedom Music</div>
                                        <div class="chatgroup-date">Создан: 01/01/2018</div>
                                        <div class="chatgroup-user-count">59 человек</div>
                                    </div>
                                    <div class="chatgroup-checkbox-marker">
                                        <input type="checkbox" id="group_1_mark" class="chatgroup-mark" data-id="1" value="1" hidden data-hidden="1">
                                        <label for="group_1_mark">
                                            <ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>
                                        </label>
                                    </div>
                                </div>
                                <div class="chatgroup hidden-group">
                                    <div class="chatgroup-avatar" style="background-image: url(/Content/img/avatar-template.jpg);"></div>
                                    <div class="chatgroup-content">
                                        <div class="chatgroup-name">Destination Freedom</div>
                                        <div class="chatgroup-date">Создан: 01/01/2018</div>
                                        <div class="chatgroup-user-count">59 человек</div>
                                    </div>
                                    <div class="chatgroup-checkbox-marker">
                                        <input type="checkbox" id="group_2_mark" class="chatgroup-mark" data-id="2" value="2" hidden data-hidden="1">
                                        <label for="group_2_mark">
                                            <ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>
                                        </label>
                                    </div>
                                </div>
                                <div class="chatgroup">
                                    <div class="chatgroup-avatar" style="background-image: url(/Content/img/avatar-template.jpg);"></div>
                                    <div class="chatgroup-content">
                                        <div class="chatgroup-name">News</div>
                                        <div class="chatgroup-date">Создан: 01/01/2018</div>
                                        <div class="chatgroup-user-count">59 человек</div>
                                    </div>
                                    <div class="chatgroup-checkbox-marker">
                                        <input type="checkbox" id="group_3_mark" class="chatgroup-mark" data-id="3" value="3" hidden>
                                        <label for="group_3_mark">
                                            <ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>
                                        </label>
                                    </div>
                                </div>
                                <div class="chatgroup">
                                    <div class="chatgroup-avatar" style="background-image: url(/Content/img/avatar-template.jpg);"></div>
                                    <div class="chatgroup-content">
                                        <div class="chatgroup-name">Красные</div>
                                        <div class="chatgroup-date">Создан: 01/01/2018</div>
                                        <div class="chatgroup-user-count">59 человек</div>
                                    </div>
                                    <div class="chatgroup-checkbox-marker">
                                        <input type="checkbox" id="group_4_mark" class="chatgroup-mark" data-id="4" value="4" hidden>
                                        <label for="group_4_mark">
                                            <ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="add-new-group">
                                <div class="chatgroup-control-btns">
                                    <button class="bg-success border-success text-white chatroup-show" data-fancybox data-src="#chagroup-ban-popup">Показать</button>
                                    <button class="bg-warning border-warning text-white chatroup-hide" data-fancybox data-src="#chagroup-ban-popup">Скрыть</button>
                                    <button class="bg-danger border-danger text-white chatroup-delete" data-fancybox data-src="#chagroup-delete-popup">Удалить</button>
                                </div>
                                <div class="st-upload edit" style="background-image: url(/Content/      img/upload-plus.png)">
                                    <label for="new-game-add"></label>
                                    <input type="file" id="new-game-add" accept='image/*' name="user_passport_front" class="st-upload-input user_edit_items">
                                </div>
                                <input type="text" id="add-word-input" placeholder="Введите название чата">
                                <button type="button" id="add-word-btn">Создать</button>
                            </div>
                        </div>
                        <div class="tab" id="messages" style="display: none;">
                            <div class="chat-list" id="admin-messages"></div>
                        </div>
                        <div class="tab" id="dictionary" style="display: none;">
                            <div id="ban-word-list"></div>
                            <div class="add-ban-word">
                                <input type="text" id="add-word-input" placeholder="Пишите слово">
                                <button type="button" id="add-word-btn">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var localStrg = {
        unread: {}
    };
    var unreadCount = {};
    var globalAuthor;
    var globalUserId;
    var urlPort = ':8085';
    // var urlPort = ':10180';
    var mainUrl;
    var chatSocketUrl;
    var chatToken = '';

    var hostName = document.location.hostname;
    var hostProtocol = document.location.protocol;

    if (hostName.includes('localhost') === true) {
        // chatSocketUrl = 'wss://qa.staytrue.kg' + urlPort;
        // mainUrl = 'https://qa.staytrue.kg';

        chatSocketUrl = 'wss://staytrue.demo.irokez.me' + urlPort; //staytrue.demo.irokez.me
        mainUrl = 'https://staytrue.demo.irokez.me';
    } else {
        if (hostProtocol === 'https:') {
            chatSocketUrl = 'wss://' + hostName + urlPort;
        } else {
            chatSocketUrl = 'ws://' + hostName + urlPort;
        }
        mainUrl = hostProtocol + '//' + hostName;
    }
    
    var globalUrl = mainUrl + urlPort;

    var currentChatGroupId = "#chat";
    var minId = [];

    $(async function () {
        var creditails = {
            url: '/Chat/GetCreditails',
            dataType: "json",
            type: 'POST',
            success: function (data, status, xhr) {
                chatToken = data.creditails.token;

                var options = {
                    url: '/Chat/GetAdminInfo',
                    dataType: "json",
                    type: 'POST',
                    success: function (data, status, xhr) {
                        globalToken = data.userInfo.token;
                        globalAuthor = data.userInfo.firstName + ' ' + data.userInfo.lastName;
                        globalUserId = data.userInfo.id;

                        $('#adminFullName').text(globalAuthor);

                        // SOCKET ------------------------------------------------------------------------

                        socket = new WebSocket(chatSocketUrl + '/chat?token=' + globalToken);
                        socket.onopen = function () {
                            console.log("Соединение установлено.");
                        };
                        socket.onclose = function (event) {
                            if (event.wasClean) {
                                console.log("Соединение закрыто чисто");
                            } else {
                                console.log("Обрыв соединения. Попытка подключения");
                                socket = new WebSocket(chatSocketUrl + '/chat?token=' + globalToken);
                            }
                            console.log("Код: " + event.code + " причина: " + event.reason);
                        };
                        socket.onmessage = function (event) {  // Getting New Messgae
                            if (typeof JSON.parse(event.data) == 'object') {
                                var newMsgData = JSON.parse(event.data);
                                if (typeof newMsgData.message != 'undefined' && newMsgData.message.indexOf('@@admin') >= 0) {
                                    var newMsgData = createMessage(newMsgData, '', 'forAdmin');
                                    if (newMsgData != '') {
                                        $('#admin-messages').append(newMsgData).animate({ scrollTop: $('#admin-messages')[0].scrollHeight }, 500);
                                    }
                                }

                                var newMsg = createMessage(JSON.parse(event.data));
                                if (newMsg != '') {
                                    $('#message-list').append(newMsg).animate({ scrollTop: $('#message-list')[0].scrollHeight }, 500);
                                }
                            } else {
                                socket.send('pong');
                            }
                        };
                        socket.onerror = function (error) {
                            console.log("Ошибка " + error.message);
                        };

                        // SOCKET ------------------------------------------------------------------------
                    },
                    error: function (xhr, status, error) { console.log('Ошибка списка: ', xhr, status, error); }
                };
                $.ajax(options);

                // ------------------------------------------------------------------------------------------------

                // Getting List of Messages
                var minId = '';
                var options = ajaxOptions('GET', 'getMessages');
                options.success = function (data, status, xhr) {
                    if (data != null && data.length != 0) {
                        var msgList = data.reverse();
                        msgList.forEach(element => {
                            $('#message-list').append(createMessage(element)).scrollTop($('#message-list')[0].scrollHeight);
                        });
                        minId = Number(msgList[0].id);
                    }
                };
                options.error = function (xhr, status, error) { console.log('Ошибка списка: ', xhr, status, error); };
                $.ajax(options);

                // Load 100 More Messages
                $('#message-list').scroll(function(){
                    if ($(this).scrollTop() <= 0 && minId != '') {
                        var options = ajaxOptions('GET', 'getMessages?messageId=' + minId);
                        options.success = function (data, status, xhr) {
                            if (data != null && data.length != 0) {
                                var msgList = data;

                                msgList.forEach(element => {
                                    $('#message-list').prepend(createMessage(element));
                                });

                                $('#message-list').animate({
                                    scrollTop: $('#' + minId).offset().top - 200
                                }, 0);

                                minId = Number(msgList[msgList.length - 1].id);
                            } else {
                                minId = '';
                            }
                        };
                        options.error = function (xhr, status, error) { console.log('Ошибка списка: ', xhr, status, error); };
                        $.ajax(options);
                    }
                });

                // ------------------------------------------------------------------------------------------------

                $(document).keypress(function (e) {
                    if (e.which == 13) {
                        $('#new-message-send').click();
                        return false;
                    }
                });

                $('#new-message-send').click(function () { // Sending Messages
                    var msgBody = $(this).closest('.form-wrap').find('#new-message-area').val();
                    var forwardedId = $(this).closest('.form-wrap').find('#forwardedId').val();

                    if (msgBody.replace(/ /g, '') != '') {
                        var params = {
                            author: globalAuthor,
                            message: msgBody,
                            userId: globalUserId,
                        };
                        if (forwardedId != '') {
                            params.forward = forwardedId;
                        }
                        var options = ajaxOptions('POST', 'sendMessage', params);
                        options.success = function (data, status, xhr) { /* console.log(data); */ };
                        options.error = function (xhr, status, error) { /* console.log('Ошибка при отправке: ', error); */};
                        $.ajax(options);

                        $('.message-form').find('.message-to-forward').removeClass('on');
                        $('#forwardedId').val('');
                        $(this).closest('.form-wrap').find('#new-message-area').val('');
                    }
                    $(this).closest('.form-wrap').find('#new-message-area').focus();
                });

                // ------------------------------------------------------------------------------------------------
                $('.chat-delete').click(function () {
                    var msgsId = $('.user-mark:checkbox:checked').map(function () { return $(this).attr('data-id'); }).get();

                    var msgsList = [];

                    msgsId.forEach(element => {
                        msgsList.push({'id': element});
                    });

                    $('#popup-action-url').val('deleteMessages');
                    $('#popup-action-url').attr('data-json', JSON.stringify(msgsList));
                    $('#popup-action-url').attr('data-method', 'POST');
                });

                $('#popup-yes').click(function () { // Sending Messages
                    var url = $(this).closest('.form-inner-wrap').find('#popup-action-url').val();
                    var method = $(this).closest('.form-inner-wrap').find('#popup-action-url').attr('data-method');
                    var params = $(this).closest('.form-inner-wrap').find('#popup-action-url').attr('data-json');

                    if (params != '' && params != '{}' && params != '[]') {
                        var options = ajaxOptions(method, url, params);
                        options.success = function (data, status, xhr) { /* console.log(data); */ };
                        options.error = function (xhr, status, error) { /* console.log('Ошибка при отправке: ', error); */ };

                        $.ajax(options);
                    }
                });

                $('.chat-ban').click(function () {
                    var msgsId = $('.user-mark:checkbox:checked').map(function () { return $(this).val(); }).get();

                    var msgsList = jQuery.unique(msgsId).join();

                    $('#ban-popup-user-list').val('banUser');
                    $('#ban-popup-user-list').attr('data-json', msgsList);
                    $('#ban-popup-user-list').attr('data-method', 'POST');
                });

                $('#bun-popup-yes').click(function () { // Sending Messages
                    var url = $(this).closest('.form-inner-wrap').find('#ban-popup-user-list').val();
                    var method = $(this).closest('.form-inner-wrap').find('#ban-popup-user-list').attr('data-method');
                    var params = $(this).closest('.form-inner-wrap').find('#ban-popup-user-list').attr('data-json');
                    var reason = $(this).closest('.form-inner-wrap').find('#ban-warn-text').val();
                    var unblockDate = $(this).closest('.form-inner-wrap').find('#ban-unblock-date').val();

                    if (params != '' && method != '' && url != '' && unblockDate != '' && reason != '') {

                        unblockDate = unblockDate.split(' ');
                        var unBanDate = unblockDate[0].split('/')[2] + '-' + unblockDate[0].split('/')[1] + '-' + unblockDate[0].split('/')[0] + ' ' + unblockDate[1];

                        var data = [];
                        JSON.parse("[" + params + "]").forEach(element => {
                            data.push({
                                userId: element,
                                reason: reason,
                                unblockDate: unBanDate
                            });
                        });

                        var options = ajaxOptions(method, url, data);
                        options.success = function (data, status, xhr) {
                            $('.user-mark').prop('checked', false);

                            $.fancybox.close({
                                src: '#chat-user-ban-popup'
                            });

                            $('#ban-popup-user-list').val('');
                            $('#ban-popup-user-list').attr('data-json', '');
                            $('#ban-popup-user-list').attr('data-method', '');

                            $('#ban-warn-text').val('');
                            $('#ban-unblock-date').val('');

                            $('.chat-control-btns').removeClass('on');

                            Object.keys(data).forEach(element => {
                                $('.item-user-' + data[element].userId).find('.inner-right').prepend('<div class="banned-user-message">Забанен</div>');
                            });
                        };
                        options.error = function (xhr, status, error) { /* console.log('Ошибка при отправке: ', error); */ };
                        $.ajax(options);
                    } else {
                        $(this).closest('.form-inner-wrap').find('.error-message span').text('Заполните все поля!');
                        $(this).closest('.form-inner-wrap').find('.error-message').toggleClass('on');
                    }
                });

                //-------------------------------------------------------------------

                $('.tab-tgl').click(function () {
                    $('.tab-tgl').removeClass('active');
                    $(this).addClass('active');
                    $('.tab').not('#' + $(this).data('tab')).hide();
                    $('#' + $(this).data('tab')).show();
                });

                //-------------------------------------------------------------------

                // Getting Messages To Admin
                var getAdminMessages = ajaxOptions('GET', 'getAdminMessages');
                getAdminMessages.success = function (data, status, xhr) {
                    if (data != null) {
                        var msgList = data.reverse();
                        msgList.forEach(element => {
                            $('#admin-messages').append(createMessage(element, '', 'forAdmin')).scrollTop($('#message-list')[0].scrollHeight);
                        });
                        if (typeof msgList[0] != 'undefined') {
                            minId = msgList[0].id;
                        }
                    }
                };
                getAdminMessages.error = function (xhr, status, error) {
                    console.log('Ошибка при отправке: ', error);
                };
                $.ajax(getAdminMessages);

                //-------------------------------------------------------------------

                // Getting List Of Ban Words
                var getBanWords = ajaxOptions('GET', 'getBanWords');
                getBanWords.success = function (data, status, xhr) {
                    if (data != null) {
                        var letterGroup = '';
                        var words = '';
                        Object.keys(data).forEach(type => {
                            Object.keys(data[type]).forEach(letterWrap => {
                                Object.keys(data[type][letterWrap]).forEach(letter => {
                                    words = '';
                                    Object.keys(data[type][letterWrap][letter]).forEach(wordWrap => {
                                        words += '<li id="word-' + data[type][letterWrap][letter][wordWrap].id + '">' + data[type][letterWrap][letter][wordWrap].word + '<span id="delete-word" data-id="' + data[type][letterWrap][letter][wordWrap].id + '"><ion-icon name="close-circle"></ion-icon><span></li>';
                                    });
                                    letterGroup = '<div class="letter-group"><p>' + letter + '</p><ul data-letter="' + letter + '">' + words + '</ul></div>';
                                    $('#ban-word-list').append(letterGroup);
                                });
                            });
                        });
                    }
                };
                getBanWords.error = function (xhr, status, error) {
                    console.log('Ошибка при отправке: ', error);
                };
                $.ajax(getBanWords);

                //-------------------------------------------------------------------

                // Add New Ban Word
                $('#add-word-btn').click(function(){
                    var newWordInput = $('#add-word-input').val();

                    if (newWordInput.replace(/ /g, '') != '') {
                        var addBanWord = ajaxOptions('POST', 'addBanWord', {  word: newWordInput });
                        addBanWord.success = function (data, status, xhr) {
                            console.log($('[data-letter="' + data.word.charAt(0).toUpperCase() + '"]').length);
                            if (data) {
                                if ($('[data-letter="' + data.word.charAt(0).toUpperCase() + '"]').length > 0) {
                                    $('[data-letter="' + data.word.charAt(0).toUpperCase() + '"]').append('<li id="word-' + data.id + '">' + data.word + '<span id="delete-word" data-id="' + data.id + '"><ion-icon name="close-circle"></ion-icon><span></li>');
                                } else {
                                    console.log('<div class="letter-group"><p>' + data.word.charAt(0).toUpperCase() + '</p><ul data-letter="' + data.word.charAt(0).toUpperCase() + '"><li id="word-' + data.id + '">' + data.word + '<span id="delete-word" data-id="' + data.id + '"><ion-icon name="close-circle"></ion-icon><span></li></ul></div>');
                                    $('#ban-word-list').prepend('<div class="letter-group"><p>' + data.word.charAt(0).toUpperCase() + '</p><ul data-letter="' + data.word.charAt(0).toUpperCase() + '"><li id="word-' + data.id + '">' + data.word + '<span id="delete-word" data-id="' + data.id + '"><ion-icon name="close-circle"></ion-icon><span></li></ul></div>');
                                }
                            }
                        };
                        addBanWord.error = function (xhr, status, error) {
                            console.log('Ошибка при отправке: ', error);
                        };
                        $.ajax(addBanWord);
                        $('#add-word-input').val('');
                    }
                });

                //-------------------------------------------------------------------

                // Delete Ban Word
                $(document).on('click', '#delete-word', function(){
                    var wordId = $(this).attr('data-id');
                    var deleteBanWord = ajaxOptions('POST', 'deleteBanWords', [{ id: wordId }]);
                    deleteBanWord.success = function (data, status, xhr) {
                        if (data) {
                            $('#word-' + wordId).remove();
                        }
                    };
                    deleteBanWord.error = function (xhr, status, error) {
                        console.log('Ошибка при отправке: ', error);
                    };
                    $.ajax(deleteBanWord);
                    console.log(deleteBanWord);
                });

                //-------------------------------------------------------------------

                // Search Message By Date And Time
                $('.close-search').click(function(){
                    $('.search-message-list').slideUp();
                });

                function changeDateFormat(data) {
                    var fullDate = data.split(" ");
                    var timePart = fullDate[1];
                    var datePart = fullDate[0].split("/");

                    return datePart[2] + '-' + datePart[1] + '-' + datePart[0] + ' ' + timePart;
                }

                var searchDone = function (data, status, xhr) {
                    $('.search-message-list').css('display', 'none');
                    $('.search-message-list .search-wrap').html('');
                    if (data != null && data.length != 0) {
                        var msgList = data.reverse();
                        msgList.forEach(element => {
                            $('.search-message-list .search-wrap').append(createMessage(element, '', 'search'));
                        });

                        $('.search-message-list').css('display', 'flex');
                    }
                };

                var searchError = function (xhr, status, error) {
                    console.log('Ошибка при отправке: ', error);
                };

                $(document).on('click', '.ui-datepicker-close', function () { searchResult(); });
                $(document).on('change', '.timepicker', function () { searchResult(); });

                function searchResult() {
                    var minDate = $('.date-min').val();
                    var maxDate = $('.date-max').val();

                    if (minDate.replace(/ /g, '') != '' && maxDate.replace(/ /g, '') != '') {
                        var searchByDate = ajaxOptions('GET', 'findMessagesByDate?dateFrom=' + changeDateFormat(minDate) + '&dateTo=' + changeDateFormat(maxDate));
                        searchByDate.success = searchDone;
                        searchByDate.error = searchError;
                        $.ajax(searchByDate);
                    }
                }

                // Search Message By User Name
                $(document).on('click', '#search-by-user-btn', function () { searchResultByUser(); });
                $(document).on('change', '#search-by-user', function () { searchResultByUser(); });

                function searchResultByUser() {
                    var userName = $('#search-by-user').val();

                    if (userName.replace(/ /g, '') != '') {
                        var searchByUserName = ajaxOptions('POST', 'findMessagesByUserName', userName);
                        searchByUserName.success = searchDone;
                        searchByUserName.error = searchError;
                        $.ajax(searchByUserName);
                    }
                }

                //-------------------------------------------------------------------

                // Stickers
                $('#sticker-icon-toggle, #stickers-list-close').click(function () {
                    $('#stickers-container').toggleClass('on');
                });

                // Sticker send
                $('.sticker').click(function () {
                    var params = {
                        author: globalAuthor,
                        userId: globalUserId,
                        message: '',
                        stickerId: $(this).attr('data-stciker')
                    };
                    var options = ajaxOptions('POST', 'sendMessage', params);
                    options.success = function (data, status, xhr) { /* console.log(data); */ };
                    options.error = function (xhr, status, error) { console.log('Ошибка при отправке: ', error); };
                    $.ajax(options)
                    $('#stickers-container').toggleClass('on');
                    $('#new-message-area').focus();
                });

                //-------------------------------------------------------------------

            },
            error: function (xhr, status, error) { console.log('Ошибка списка: ', xhr, status, error); }
        };
        $.ajax(creditails);
    });
</script>

<script>
    $(function () {
        $('.chat-list').scrollTop($('.chat-list')[0].scrollHeight);

        $(document).on('click', '.chat-user-message-forward', function (e) {
            var user = $(this).closest('.chat-inner').find('.chat-user-name').text();
            var message = $(this).closest('.chat-inner').find('.chat-user-message').text();
            $('#forwardedId').val($(this).attr('data-msgid'));
            $('.message-form').find('.message-to-forward').find('.name').text('@@ ' + user);
            $('.message-form').find('.message-to-forward').find('.txt').text(message);
            $('.message-form').find('.message-to-forward').addClass('on');
            $('.message-form').find('#new-message-area').focus();
        });

        $(document).on('click', '.forward-message-close', function (e) {
            $('#forwardedId').val('');
            $(this).parent().find('.name').text('');
            $(this).parent().find('.txt').text('');
            $(this).parent().removeClass('on');
        });

        //-------------------------------------------------------------------

        $(document).on('change', '.user-mark:checkbox', function (e) {
            var users = $('.user-mark:checkbox:checked');

            if (users.length != 0) {
                $('.chat-control-btns .chat-ban span').text(users.length);
                $('.chat-control-btns .chat-delete span').text(users.length);
                if (!$('.chat-control-btns').hasClass('on'))
                    $('.chat-control-btns').addClass('on');
            } else {
                $('.chat-control-btns').removeClass('on');
                $('.chat-control-btns .chat-ban span').text('');
                $('.chat-control-btns .chat-ban delete').text('');
            }
        });

        $(document).on('change', '.chatgroup-mark:checkbox', function (e) {
            var chatgroup = $('.chatgroup-mark:checkbox:checked');

            if (chatgroup.length != 0) {

                if (!$('.chatgroup-control-btns').hasClass('on')) {
                    $('.chatgroup-control-btns').addClass('on');
                }
            } else {
                $('.chatgroup-control-btns').removeClass('on');
                $('.chatgroup-control-btns .chat-ban span');
                $('.chatgroup-control-btns .chat-ban delete');
            }
        });
    });

// -------------------------------------------------------------------------------------------

    function ajaxOptions(method, action, data = '') {
        var params = {
            headers: {
                //Authorization: 'Basic YWRtaW46a2hZb21abnQ=',
                Authorization: chatToken,
            },
            url: globalUrl + '/admin/' + action,
            dataType: "json",
            type: method,
        };
        if (method == 'POST') {
            params.contentType = 'application/json';

            if (data != '' && data.lentgh != 0) {
                if (typeof data == 'object') {
                    params.data = JSON.stringify(data);
                } else if (typeof data == 'string') {
                    params.data = data;
                }
            }
        }
        // console.log(params);
        return params;
    }

    // ------------------------------------------------------------------------------------------------

    function createMessage(msg, parentData = '', forAdmin = '') {
        if (msg.isDeleted === false) {
            var msgDate = '';
            var parentMsg = '';

            if (parentData == '') {
                var iconCircle = '<ion-icon name="checkmark-circle" role="img" class="hydrated" aria-label="checkmark circle"></ion-icon>';

                if (forAdmin != '') {
                    if (forAdmin == 'forAdmin') {
                        var checkbox = '<input type="checkbox" id="user_' + msg.id + '_adminmark' + '" class="user-mark" data-id="' + msg.id + '" name="user_mark[]" value="' + msg.userId + '" hidden="">';
                        var checkboxLabel = '<label for="user_' + msg.id + '_adminmark' + '">' + iconCircle + '</label>';
                    } else if (forAdmin == 'search') {
                        var checkbox = '<input type="checkbox" id="user_' + msg.id + '_search' + '" class="user-mark" data-id="' + msg.id + '" name="user_mark[]" value="' + msg.userId + '" hidden="">';
                        var checkboxLabel = '<label for="user_' + msg.id + '_search' + '">' + iconCircle + '</label>';
                    }

                    var adminHashTag = '';
                } else {
                    var checkbox = '<input type="checkbox" id="user_' + msg.id + '_mark' + '" class="user-mark" data-id="' + msg.id + '" name="user_mark[]" value="' + msg.userId + '" hidden="">';
                    var checkboxLabel = '<label for="user_' + msg.id + '_mark' + '">' + iconCircle + '</label>';

                    if (msg.message.includes('@@admin')) {
                        var adminHashTag = '<div class="to-admin">@@admin</div>';
                    } else {
                        var adminHashTag = '';
                    }
                }
            } else {
                var checkbox = '';
                var checkboxLabel = '';
                var adminHashTag = '';
            }

            if (typeof msg.forwardedTo != 'undefined') {
                var parentMsg = createMessage(msg.forwardedTo, 'forwarded-to', '');
                parentData = 'forwarded-message';
            } else {
                var msgDateTime = msg.dateTime.split(" ");
                var msgDate = msgDateTime[0];
                var msgTime = msgDateTime[1].split(":")[0] + ':' + msgDateTime[1].split(":")[1];
                var msgDate = '<div class="last-time"><span id="date">' + msgDate + '</span><span id="time">' + msgTime + '</span></div>';
            }

            if (msg.isBanned) {
                bannedTag = '<div class="banned-user-message">Забанен</div>';
            } else {
                bannedTag = '';
            }

            var authorId = msg.userId;

            var wrapBegin = '<div class="chat-list-item ' + parentData + ' item-user-' + msg.userId + '" id="' + forAdmin + msg.id + '">';
            var wrapEnd = '</div>';

            var avatar = '<div class="chat-user-avatar" style="background-image: url(' + (typeof msg.avatarUrl != 'undefined' ? mainUrl + '/api' + msg.avatarUrl : '/Content/img/avatar-template.jpg') + ');"></div>';

            var msgAuthor = '<div class="chat-user-name">' + msg.author + '</div>';

            if (typeof msg.stickerId != 'undefined' && msg.stickerId != 0) {
                var msgBody = '<div class="chat-user-message"><img src="/Content/img/stickers/' + msg.stickerId + '.png" class="chat-sticker" /></div>';
                var forward = '';
            } else {
                var msgBody = '<div class="chat-user-message">' + msg.message + '</div>';
                var iconForward = '<ion-icon name="ios-undo" role="img" class="hydrated" aria-label="undo"></ion-icon>';
                var forward = '<div class="inner-right">' + bannedTag + adminHashTag + '<div class="chat-user-message-forward" data-msgId="' + msg.id + '"><div class="forward-icon">' + iconForward + '</div></div></div>';
            }

            var chatInner = '<div class="chat-inner"><div class="chat-inner-content">' + msgAuthor + msgBody + '</div>' + forward + '</div>';

            var userMark = '<div class="chat-checkbox-marker">' + checkbox + checkboxLabel + '</div>';

            return parentMsg + wrapBegin + msgDate + avatar + chatInner + userMark + wrapEnd;
        } else {
            for (let i = 0; i < msg.length; i++) {
                if ($('#' + msg[i].id).prev().hasClass('forwarded-to')) {
                    $('#' + msg[i].id).prev().remove();
                }
                $('#' + msg[i].id).remove();
                $('#forAdmin' + msg[i].id).remove();

            }

            $('.chat-control-btns').removeClass('on');
            $('.chat-control-btns .chat-ban span').text('');
            $('.chat-control-btns .chat-ban delete').text('');

            return '';
        }
    }

    // ------------------------------------------------------------------------------------------------
</script>