﻿@using DataAccessLayer
@using PagedList.Mvc
@using StayTrueWebAdmin.Models.ViewModels
@model StayTrueWebAdmin.Models.FilterModels.GreatBattleMembersFilteredModel

@{
    ViewBag.Title = "Участники битвы";
}

<input type="hidden" name="entity-id" id="entity-id" />
<!-- User Delete Pop Up Window -->
<div style="display: none;" id="user-delete-popup" class="ban-pop-up-window">
    <form action="#" id="user-delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите заблокировать пользователей?</div>
            <div class="description">Эти пользователи не смогут учавствовать в великой битве.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="delete-great-battle-user">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Delete Pop Up Window End -->
<!-- User Unblock Pop Up Window -->
<div style="display: none;" id="user-unblock-popup" class="ban-pop-up-window">
    <form action="#" id="user-unblock-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите разблокировать пользователей?</div>
            <div class="description">Эти пользователи смогут учавствовать в великой битве.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="unblock-great-battle-user">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Unblock Pop Up Window End -->
<!-- User Add To Char Group Pop Up Window -->
<div style="display: none;" id="user-add-to-chat-popup" class="ban-pop-up-window">
    <form action="@Url.Action("AddChatUsers", "Chat")" id="user-add-to-chat-form">
        <div class="form-inner-wrap">
            @{int i = 0; }
            @foreach (ChatGroups chatGroups in ViewBag.Chats)
            {
                i++;
                <div class="chatgroup hidden-group">
                    <div class="chatgroup-avatar" style="background-image: url(@chatGroups.Image);"></div>
                    <div class="chatgroup-content">
                        <div class="chatgroup-name">@chatGroups.Name</div>
                        <div class="chatgroup-date">Создан: @chatGroups.CreationDate.ToShortDateString()</div>
                        <div class="chatgroup-user-count">@chatGroups.ChatPrivateGroupsUsers.Count человек(а)</div>
                    </div>
                    <div class="chatgroup-checkbox-marker">
                        <input type="radio" id="group_@(chatGroups.Id)_mark" name="chatAddGroupId" class="chatgroup-mark" data-id="@chatGroups.Id" value="@chatGroups.Id" @(i == 1 ? "checked" : "") hidden data-hidden="1">
                        <label for="group_@(chatGroups.Id)_mark">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </label>
                    </div>
                </div>

            }

            <div class="st-btn">
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Add To Char Group Pop Up Window End -->

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content user-page-content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "GreatBattleMembers", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <input type="hidden" value="@ViewBag.GreatBattleId" id="great-battle-id" name="greatBattleId" />
                    <div class="d-flex">
                        <div class="st-column num-list">
                            <div class="filter-item-title"></div>
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Имя</div>
                            @Html.TextBoxFor(model => model.Filter.Name, new { placeholder = "Имя" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Фамилия</div>
                            @Html.TextBoxFor(model => model.Filter.Surname, new { placeholder = "Фамилия" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Дата рождения</div>
                            @Html.TextBoxFor(model => model.Filter.DobFrom, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.DobTo, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Город</div>
                            @Html.DropDownListFor(model => model.Filter.City, (SelectList)ViewBag.Cities, "Все", new { @class = "st-selectize", placeholder = "Город" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Последнее посещение</div>
                            @Html.TextBoxFor(model => model.Filter.LastLoginFrom, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.LastLoginTo, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Номер телефона</div>
                            @Html.TextBoxFor(model => model.Filter.Phone, new { placeholder = "Телефон" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Команда</div>
                            @Html.TextBoxFor(model => model.Filter.Group, new { placeholder = "Название команды" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Баллы</div>
                            @Html.TextBoxFor(model => model.Filter.Points, new { placeholder = "Количество баллов" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Ответ на вопрос 1</div>
                            @Html.TextBoxFor(model => model.Filter.Answer1, new { placeholder = "Ответ" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Ответ на вопрос 2</div>
                            @Html.TextBoxFor(model => model.Filter.Answer2, new { placeholder = "Ответ" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Ответ на вопрос 3</div>
                            @Html.TextBoxFor(model => model.Filter.Answer3, new { placeholder = "Ответ" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Ответ на вопрос 4</div>
                            @Html.TextBoxFor(model => model.Filter.Answer4, new { placeholder = "Ответ" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Заблокирован</div>
                            <div>
                                @Html.DropDownListFor(model => model.Filter.IsBlocked,
                                    new SelectList(new List<SelectListItem>(){
                                        new SelectListItem { Value = "False", Text = "Незаблокированные" },
                                        new SelectListItem { Value = "True", Text = "Заблокированные" }
                                    }, "Value", "Text", Model.Filter.IsBlocked),"Все")
                            </div>
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                @* <a href="#">
                                        <span>Экспорт .xls</span>
                                        <ion-icon name="ios-code-download"></ion-icon>
                                    </a>*@
                            </div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button reset-btn"><span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon></button>
                            <button type="button" class="st-button apply-btn border-primary bg-primary text-white" data-id="@ViewBag.GreatBattleId" id="exportExcel">
                                <span>Экспорт в excel</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                @foreach (var item in (List<GreatBattleMemberViewModel>)ViewBag.GreatBattleMembers)
                {
                    <div class="st-row st-user">
                        <div class="d-flex st-user-header">
                            <div class="st-column checkbox-column">
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.HiddenFor(modelItem => item.Users.Id)
                                <input type="checkbox" id="greatBattleMembers[]" value="@item.Users.Id">
                            </div>
                            <div class="st-column num-list">
                                <span class="txt">@item.Users.Id</span>
                            </div>
                            <div class="st-column left-aligned">
                                @Html.TextBoxFor(modelItem => item.Users.FirstName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column left-aligned">
                                @Html.TextBoxFor(modelItem => item.Users.LastName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.BirthDate, "{0:dd/MM/yyyy}", new { @class = "datepicker user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.Cities.CityName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.LastSignInP, "{0:dd/MM/yyyy}", new { @class = "datepicker user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.Phone, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.GreatBattleGroups.Name, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Points, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Answer1, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Answer2, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Answer3, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Answer4, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.CheckBoxFor(modelItem => item.IsBlocked, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column"></div>
                        </div>
                    </div>
                }
                @Html.PagedListPager(Model.GreatBattlesUsers, page => Url.Action("Index", new
                {
                    Model.Filter.Name,
                    Model.Filter.Surname,
                    Model.Filter.DobFrom,
                    Model.Filter.DobTo,
                    Model.Filter.City,
                    Model.Filter.LastLoginFrom,
                    Model.Filter.LastLoginTo,
                    Model.Filter.Phone,
                    Model.Filter.Group,
                    Model.Filter.Points,
                    Model.Filter.Answer1,
                    Model.Filter.Answer2,
                    Model.Filter.Answer3,
                    Model.Filter.Answer4,
                    Model.Filter.IsBlocked,
                    page,
                    ViewBag.GreatBattleId
                }), new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] { "pagination" },
                    UlElementClasses = new[] { "" }
                })

                <div class="users-control-menu">
                    <h5>Количество выбранных пользователей: <div id="checked-users-amount">0</div></h5>
                    <ul>
                        @* <li>
                                <a href="#" class="menu-item-send"><ion-icon name="done-all"></ion-icon> <span>Отправить сообщение</span></a>
                            </li>*@
                        <li>
                            <a href="#" class="menu-item-add" data-fancybox data-src="#user-add-to-chat-popup"><ion-icon name="ios-chatbubbles"></ion-icon> <span>Добавить в чат</span></a>
                        </li>
                        <li>
                            <a href="#" class="menu-item-delete" data-fancybox data-src="#user-delete-popup"><ion-icon name="close-circle-outline"></ion-icon> <span>Заблокировать</span></a>
                        </li>
                        <li>
                            <a href="#" class="menu-item-unblock" data-fancybox data-src="#user-unblock-popup"><ion-icon name="checkmark-circle-outline"></ion-icon> <span>Разблокировать</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/great-battle-members-page-{BundleConfig.Version}")
}