﻿
@model DataAccessLayer.PvpGames
<div class="st-row st-game" style="display: none">
    @using (Html.BeginForm("CreateGamePost", "PvpGames", FormMethod.Post, new { id = "createGameForm", enctype = "multipart/from-data" }))
    {
        <div class="st-game-header">
            <div class="header-left">
                <div class="st-upload game_img_upload edit" style="background-image: url(/Content/img/upload-plus.png)">
                    <label for="preview"></label>
                    <input type="file" id="preview" accept='image/*' name="preview" class="st-upload-input user_edit_items">
                </div>
                <div class="game-title">
                    @*<input type="text" class="game-edit-item" placeholder="Название игры">*@
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Название игры", @class = "game-edit-item" })
                    <div class="game-zip">
                        <span>Загрузите архив игры:</span>
                        <br>
                        <input type="file" id="gameZip" name="gameZip" class="game_zip" accept=".zip">
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="middle-item">
                    <div class="item-label">Id Игры</div>
                    @*<input type="text" placeholder="0" class="game-edit-item">*@
                    @Html.TextBoxFor(model => model.GameId, new { @placeholder = "Id Игры", @class = "game-edit-item" })
                    <div class="item-icon">
                        <ion-icon name="logo-game-controller-b"></ion-icon>
                    </div>
                </div>
                <div class="middle-item">
                    <div class="item-label">Показать:</div>
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox game-edit-item" })
                    @*<input type="text" value=@Html.TextBoxFor(modelItem => item.Points) class="game-edit-item" disabled>*@
                </div>
                <div class="header-right">
                    <div class="game-date">
                        @Html.TextBoxFor(model => model.PublicationDate, "{0:dd/MM/yyyy}", new { @class = "datepicker game-edit-item" })
                        @*<input type="text" value="11/05/2018" class="datepicker game-edit-item" disabled>*@
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="header-middle" style="display: block">
                <div class="middle-item">
                    <div class="item-label">Боты:</div>
                    @Html.CheckBoxFor(model => model.IncludeBots, new { @class = "checkbox game-edit-item" })
                    <div class="item-icon">
                        <ion-icon name="contacts"></ion-icon>
                    </div>
                </div>
                <div class="middle-item">
                    <div class="item-label">Количество игроков:</div>
                    @Html.TextBoxFor(model => model.PlayerQty, new { @placeholder = "Игроки", @class = "game-edit-item" })
                    <div class="item-icon">
                        <ion-icon name="logo-game-controller-a"></ion-icon>
                    </div>
                </div>
                <div class="middle-item">
                    <div class="item-label">Время матча:</div>
                    @Html.TextBoxFor(model => model.MatchTime, new { @placeholder = "Время", @class = "game-edit-item" })
                    <div class="item-icon">
                        <ion-icon name="stopwatch"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="game-rates">
                <div class="add-rate">
                    <button type="button"
                            class="bg-info text-white border-info">
                        Добавить ставку
                    </button>
                </div>
                <div class="game-rate-list">
 
                </div>
            </div>
            <div class="game-btns">
                <div class="st-btn game-add-abort">
                    <button type="button">Отмена</button>
                </div>
                <div class="st-btn game-add">
                    <button type="submit" class="bg-success">Сохранить</button>
                </div>
            </div>
        </div>
    }
</div>