﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Winston Run</title>
    <!-- Standardised web app manifest -->
    <!-- <link rel="manifest" href="appmanifest.json" /> -->
    <!-- Allow fullscreen mode on iOS devices. (These are Apple specific meta tags.) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="256x256" href="icon-256.png" />
    <meta name="HandheldFriendly" content="true" />
    <!-- Chrome for Android web app tags -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" sizes="256x256" href="icon-256.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- All margins and padding must be zero for the canvas to fill the screen. -->
    <style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }

    html,
    body {
        background: #000;
        color: #fff;
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }

    canvas {
        touch-action-delay: none;
        touch-action: none;
        -ms-touch-action: none;
    }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- <script>window.RADIOHEAD = <%= current_user.id %>;</script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script>
    window.onerror = function (msg, url, line, col, error) {
        // Note that col & error are new to the HTML 5 spec and may not be 
        // supported in every browser.  It worked for me in Chrome.
        // var extra = !col ? '' : '\ncolumn: ' + col;
        // extra += !error ? '' : '\nerror: ' + error;

        // You can view the information in an alert to see things working like this:
        alert(msg, url, line, extra);

        // TODO: Report this error via ajax so you can keep track
        //       of what pages have JS issues

        // var suppressErrorAlert = true;
        // If you return true, then error alerts (like in older versions of 
        // Internet Explorer) will be suppressed.
        // return suppressErrorAlert;
    };

    var token;
    function checkAuth(callback) {
        /*
        return new Promise((resolve, reject) => {
            if (Cookies.get('Token') != undefined) {
                resolve(Cookies.get('Token'));
                // return Cookies.get('Token');
            } else if (sessionStorage.getItem('Token') != undefined) {
                resolve(sessionStorage.getItem('Token'));
                // return sessionStorage.getItem('Token');
            } else {
                window.location.replace("index.html");
                reject();
            }
        });
        */
        token = Cookies.get('Token');
        if (token != 'undefined') {
            alert(token, 'cookie');
            callback(null, token);
            //resolve(Cookies.get('Token'));
            // return Cookies.get('Token');
        } else if (sessionStorage.getItem('Token') != undefined) {
            alert(token, 'session');
            callback(null, sessionStorage.getItem('Token'));
            
            // return sessionStorage.getItem('Token');
        } else {
            callback({ err: "no token"}, null);
        }
        
    }

    // function getGameObject() {
    //     return new Promise((resolve, reject) => {
    //         resolve(localStorage.getItem('currentGame'));
    //     });
    // }

    alert('index.html page');
    
    $(function () {
        checkAuth(function(err, result){
            if (err) {
                window.location.replace("index.html");
            } else {
                var tocken = result;

                alert('Токен: ' + tocken);

                BTPNS = -1;
                // window.game = JSON.parse(await getGameObject());
                window.game = JSON.parse(localStorage.getItem('currentGame'));

                // try {
                //     var foralert = await getGameObject();
                //     console.log(foralert);
                //     alert('Объект игры: ', foralert);
                // } catch (error) {
                //     alert('Это ошибка при получении объект игры: ', error);
                // }

                $.ajax({
                    async: true,
                    url: '../../Service.svc/GetUserBestScore?gameId=' + window.game.Id,
                    type: 'GET',
                    headers: {
                        "Content-Type": "application/json",
                        "SecureKey": "f1c188fe-8024-4663-960d-197054d9658e",
                        "Authorization": 'Bearer ' + tocken
                    }
                }).done(function (response) {
                    BTPNS = response.Score == undefined ? 1 : response.Score;
                    alert('Best points from server: ' + BTPNS);
                    console.log('Best points ', response);
                    console.log('Токен: ' + tocken);
                }).fail(function (error) {
                    alert(error);
                });

                //---------------------------------------------------------
            }
            
        });
    });

    window.afsdyunir = function () {
        data = {
            GameId: window.game.Id,
            Score: c2_callFunction("SendBestScoreToServer")
        };

        var scoreData = myFunction(checkId(), JSON.stringify(data));

        alert(data, scoreData);

        // $.ajax({method: 'POST', url: "/games/run/save", data: { data: data }});
        $.ajax({
            url: '../../Service.svc/SaveGameResult',
            type: 'POST',
            data: JSON.stringify({ 'Result': scoreData.toString() }),
            headers: {
                "Content-Type": "application/json",
                "SecureKey": "f1c188fe-8024-4663-960d-197054d9658e",
                "Authorization": 'Bearer ' + tocken
            }
        }).done(function (response) {
            alert("Result saved to server" + data.Score);
            console.log("Result saved " + data.Score);
        }).fail(function (error) {
            alert(error);
        });
    };

    window.GetBestScoreFromServer = function () {
        return BTPNS;
    };

    
    </script>
    <div id="fb-root"></div>
    <!-- The canvas must be inside a div called c2canvasdiv -->
    <div id="c2canvasdiv">
        <!-- The canvas the project will render to.  If you change its ID, don't forget to change the
		ID the runtime looks for in the jQuery events above (ready() and cr_sizeCanvas()). -->
        <canvas id="c2canvas" width="1280" height="720">
            <!-- This text is displayed if the visitor's browser does not support HTML5.
			You can change it, but it is a good idea to link to a description of a browser
			and provide some links to download some popular HTML5-compatible browsers. -->
            <h1>Your browser does not appear to support HTML5.  Try upgrading your browser to the latest version.  <a href="http://www.whatbrowser.org">What is a browser?</a>
			<br/><br/><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Microsoft Internet Explorer</a><br/>
			<a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a><br/>
			<a href="http://www.google.com/chrome/">Google Chrome</a><br/>
			<a href="http://www.apple.com/safari/download/">Apple Safari</a></h1>
            <a href="http://www.google.com/chromeframe">Google Chrome Frame for Internet Explorer</a>
            <br/>
            </h1>
        </canvas>
    </div>
    <!-- Pages load faster with scripts at the bottom -->
    <!-- Construct 2 exported games require jQuery. -->
    <script src="c2runtime.js"></script>
    <script src="../games.js"></script>

    <!-- The runtime script.  You can rename it, but don't forget to rename the reference here as well.
    This file will have been minified and obfuscated if you enabled "Minify script" during export. -->
    <script>
    // Start the Construct 2 project running on window load.
    jQuery(document).ready(function() {
        // Create new runtime using the c2canvas
        cr_createRuntime("c2canvas");
    });

    // Pause and resume on page becoming visible/invisible
    function onVisibilityChanged() {
        if (document.hidden || document.mozHidden || document.webkitHidden || document.msHidden)
            cr_setSuspended(true);
        else
            cr_setSuspended(false);
    };

    document.addEventListener("visibilitychange", onVisibilityChanged, false);
    document.addEventListener("mozvisibilitychange", onVisibilityChanged, false);
    document.addEventListener("webkitvisibilitychange", onVisibilityChanged, false);
    document.addEventListener("msvisibilitychange", onVisibilityChanged, false);
    </script>
</body>

</html>