﻿@model StayTrueWebAdmin.Models.EditModels.GreatBattleCreateEditModel
@{
    ViewBag.Title = "Великая битва-редактирование";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content create-poll-page-content">
        @using (Html.BeginForm("Edit", "GreatBattle", FormMethod.Post, new { id = "editGreatBattle", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="container-fluid">
                <div class="content-header">
                    <div id="poll-title">
                        <h5>
                            <span>Название битвы</span>
                            <div class="right-side">
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.BeginDateTime, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "Дата начала" })
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.PointCoef, new { @placeholder = "Коэффициент wincoin", Value = Model.PointCoef })
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.QuizCoefficient, new { @placeholder = "Коэффициент викторин", Value = Model.QuizCoefficient })
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.Rank1Limit,  new {@placeholder = "Лимит 1 ранга", Value=Model.Rank1Limit})
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.Rank2Limit,  new {@placeholder = "Лимит 2 ранга", Value = Model.Rank2Limit })
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.Rank3Limit,  new {@placeholder = "Лимит 3 ранга", Value = Model.Rank3Limit })
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.Rank4Limit,  new {@placeholder = "Лимит 4 ранга", Value = Model.Rank4Limit })
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.Rank5Limit,  new {@placeholder = "Лимит 5 ранга", Value = Model.Rank5Limit })
                                    @* <input type="text" class="datepicker" id="battle-start-at" placeholder="Дата начала"> *@
                                </div>
                                <div class="poll-status">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @*<input type="checkbox" id="poll-status-checkbox">*@
                                    <label for="IsActive">Статус</label>
                                </div>
                                <div class="poll-status">
                                    @Html.CheckBoxFor(model => model.autofillPlayer)
                                    @*<input type="checkbox" id="poll-status-checkbox">*@
                                    <label for="autofillPlayer">Автораспределение</label>
                                </div>
                                <button type="submit" class="border-success bg-success text-white add-new-answer">Сохранить</button>
                            </div>
                        </h5>
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Напишите название битвы", id = "poll-title-input" })
                        @*<input type="text" id="poll-title-input" placeholder="Напишите название битвы">*@
                        <div class="poll-description-wrap">
                            <span>Описание</span>
                            @Html.TextAreaFor(model => model.Desription, new { @class = "summernote" })
                            @*<textarea class="summernote" id="poll-description"></textarea>*@
                        </div>
                    </div>
                </div>

                <div class="content-body battle-body">
                    <div id="battle-questions">
                        <div class="row">
                            @for (int i = 0; i < Model.QuestionsModel.Length; i++)
                            {

                                <div class="col-12" id="battle-question-list">
                                    <div class="battle-question">
                                        @Html.HiddenFor(modelItem => Model.QuestionsModel[i].Id)
                                        <div class="question-title">
                                            <label for="">Вопрос</label>
                                            @Html.TextBoxFor(modelItem => Model.QuestionsModel[i].Question, new { placeholder = "Введите вопрос", @class = "poll_edit_items" })
                                            @*<input type="text" placeholder="Введите вопрос" class="poll_edit_items">*@
                                        </div>
                                        <button type="button" class="border-danger bg-danger text-white delete-question" data-id="@Model.QuestionsModel[i].Id">Удалить вопрос</button>
                                    </div>
                                </div>
                            }
                            @*<div class="col-md-3 d-none">
                                    <div class="registration-period">
                                        <div class="registration-date">
                                            <span>Дата начала: </span>
                                            <input type="text" value="" class="datepicker game-edit-item" placeholder="дд/мм/гггг">
                                            <ion-icon name="calendar"></ion-icon>
                                        </div>
                                        </div>
                                        <div class="registration-date">
                                            <span>Дата конца: </span>
                                            <input type=text" value="" class="datepicker game-edit-item" placeholder="дд/мм/гггг">
                                            <ion-icon name="calendar"></ion-icon>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-md-2">
                                <button type="button" class="border-primary bg-primary text-white add-battle-question">Добавить вопрос</button>
                            </div>
                        </div>
                    </div>
                    <div class="battle-levels">
                        <div id="add-battle-level" class="add-new-wrap">
                            <div id="add-new-tgl">
                                <span></span>
                                <span>Добавить тур</span>
                            </div>
                        </div>
                        @for (int i = 0; i < Model.ToursModel.Length; i++)
                        {
                            <div class="st-row st-game on-edit">
                                @Html.HiddenFor(modelItem => Model.ToursModel[i].Id)
                                <div class="st-game-header">
                                    <div class="header-left">
                                        <div class="battle-section">
                                            <div class="st-upload game_img_upload edit" style="background-image: url('@Model.ToursModel[i].GameImagePath');">
                                                <label for="gameImg_@Model.ToursModel[i].Id"></label>
                                                @Html.TextBoxFor(modelItem => Model.ToursModel[i].GameImage, new {type = "file", @class = "st-upload-input user_edit_items", @id = "gameImg_" + Model.ToursModel[i].Id, accept = "image/*" })
                                                @*<input type="file" id="add-new-game-thumb" accept='image/*' name="ToursModel[@i].GameImage" class="st-upload-input user_edit_items">*@
                                            </div>
                                            <div class="game-title">
                                                <div class="game-title">
                                                    @Html.TextBoxFor(modelItem => Model.ToursModel[i].GameName, new { placeholder = "Название игры", @class = "game-edit-item" })
                                                    @*<input type="text" class="game-edit-item" placeholder="Название викторины">*@
                                                </div>
                                                <div class="game-zip" style="display: block; margin-bottom: 10px;">
                                                    <span>Загрузите архив игры:</span>
                                                    <br>
                                                    @Html.TextBoxFor(modelItem => Model.ToursModel[i].GameArchive, new { type = "file", @class = "add-new-game_zip", accept = ".zip" })
                                                </div>
                                                <div class="wincoins-amount">
                                                    <span>Конвертация очков: </span>
                                                    @Html.TextBoxFor(model=>model.ToursModel[i].PointRate, new { @class = "game-edit-item" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="battle-section">
                                            <div class="st-upload game_img_upload edit" style="background-image: url('@Model.ToursModel[i].QuizzImagePath');">
                                                <label for="quizzImg_@Model.ToursModel[i].Id"></label>
                                                @Html.TextBoxFor(modelItem => Model.ToursModel[i].QuizzImage, new { type = "file", @class = "st-upload-input user_edit_items", @id = "quizzImg_" + Model.ToursModel[i].Id, accept = "image/*" })
                                                @*<input type="file" id="add-new-quiz-thumb" accept='image/*' name="ToursModel[@i].QuizzImage" class="st-upload-input user_edit_items">*@
                                            </div>
                                            <div class="game-title">
                                                <div class="game-title">
                                                    @Html.TextBoxFor(modelItem => Model.ToursModel[i].QuizzName, new { placeholder = "Название викторины", @class = "game-edit-item" })
                                                    @*<input type="text" class="game-edit-item" placeholder="Название викторины">*@
                                                </div>
                                                <div class="game-zip" style="display: block; margin-bottom: 10px;">
                                                    <span>Загрузите архив викторины:</span>
                                                    <br>
                                                    @Html.TextBoxFor(modelItem => Model.ToursModel[i].QuizzArchive, new { type = "file", @class = "add-new-quiz_zip", accept = ".zip" })
                                                    @*<input type="file" name="ToursModel[@i].QuizzArchive" class="add-new-quiz_zip" accept=".zip">*@
                                                </div>
                                                @*<div class="wincoins-amount">
                                                        <span>Количество баллов: </span>
                                                        <input type="text" value="40" class="game-edit-item" placeholder="0">
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header-right battle-create-section">
                                        <div class="battle-creation-date">
                                            @*<div class="game-date">
                                                    <span>Дата создания: </span>
                                                    @Html.TextBoxFor(modelItem => Model.ToursModel[i].CreateDateTime, "{0:dd/MM/yyyy}", new {placeholder = "дд/мм/гггг", @class = "datepicker game-edit-item", @readonly = "readonly"})
                                                    <ion-icon name="calendar"></ion-icon>
                                                </div>
                                                <div class="game-date">
                                                    <span>Дата конца: </span>
                                                    <input type="редактирования: " value="11/05/2018" class="datepicker game-edit-item" placeholder="дд/мм/гггг" disabled>
                                                    <ion-icon name="calendar"></ion-icon>
                                                </div>*@
                                        </div>
                                        <div class="level-period">
                                            <div class="level-date">
                                                <span>Дата начала: </span>
                                                @Html.TextBoxFor(modelItem => Model.ToursModel[i].BeginDateTime, "{0:dd/MM/yyyy HH:mm}", new { placeholder = "дд/мм/гггг чч:мм", @class = "timepicker game-edit-item" })
                                                @* <input type="text" value="" class="datepicker game-edit-item" placeholder="дд/мм/гггг">*@
                                                <ion-icon name="calendar"></ion-icon>
                                            </div>
                                            <div class="level-date">
                                                <span>Дата конца: </span>
                                                @Html.TextBoxFor(modelItem => Model.ToursModel[i].EndDateTime, "{0:dd/MM/yyyy HH:mm}", new { placeholder = "дд/мм/гггг чч:мм", @class = "timepicker game-edit-item" })
                                                @*<input type="text" value="" class="datepicker game-edit-item" placeholder="дд/мм/гггг">*@
                                                <ion-icon name="calendar"></ion-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="game-btns">
                                        <div class="st-btn battle-level-delete">
                                            <button type="button" class="bg-danger">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/great-battle-page-{BundleConfig.Version}")
}