﻿<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class=" d-flex justify-content-center">
                    <div class="st-column">
                        <div class="filter-item-title">Новые пользователи</div>
                        <input type="text" name="new_users_min" class="datepicker" placeholder="от дд/мм/гггг">
                        <input type="text" name="new_users_max" class="datepicker" placeholder="до дд/мм/гггг">
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Пол</div>
                        <select class="st-selectize" name="gender" id="gender">
                            <option value="all">Все</option>
                            <option value="man">Мужчины</option>
                            <option value="woman">Женщины</option>
                        </select>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Паспорт</div>
                        <select class="st-selectize" name="passport" id="passport">
                            <option value="all">Все</option>
                            <option value="true">С паспортом</option>
                            <option value="false">Без паспорта</option>
                        </select>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Статус</div>
                        <select class="st-selectize" name="status" id="status">
                            <option value="all">Все</option>
                            <option value="1">Статус 1</option>
                            <option value="2">Статус 2</option>
                            <option value="3">Статус 3</option>
                        </select>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Город</div>
                        <select class="st-selectize" name="city" id="city">
                            <option value="all">Все</option>
                            <option value="bishkek">Бишкек</option>
                            <option value="osh">Ош</option>
                            <option value="batken">Баткен</option>
                            <option value="talas">Талас</option>
                        </select>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Возраст</div>
                        <select class="st-selectize" name="age" id="age">
                            <option value="all">От - До</option>
                            <option value="18-25">от 18 - до 25</option>
                            <option value="25-40">от 25 - до 40</option>
                            <option value="18-25">от 40+</option>
                        </select>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Активные пользователи</div>
                        <input type="text" name="active_users_min" class="datepicker" placeholder="от дд/мм/гггг">
                        <input type="text" name="active_users_max" class="datepicker" placeholder="до дд/мм/гггг">
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title"></div>
                        <button type="submit" class="st-button apply-btn border-primary bg-primary text-white"><span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon></button>
                        <button type="button" class="st-button reset-btn">
                            <span>Сбросить</span>
                            <ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div id="charts">
                    <div id="users-amount" class="chart-item"></div>
                    <div id="users-passport" class="chart-item"></div>
                    <div id="users-age" class="chart-item"></div>
                    <div id="users-city" class="chart-item"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartUsers);

    function drawChartUsers() {

        var data = google.visualization.arrayToDataTable([
            ['Количество', 'составляет'],
            ['Мужчины', 123],
            ['Женщины', 125000],
        ]);

        var options = {
            title: 'Всего пользователей 310000'
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-amount'));

        chart.draw(data, options);
    }

    //--------------------------------------------

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartPassport);

    function drawChartPassport() {

        var data = google.visualization.arrayToDataTable([
            ['Количество', 'составляет'],
            ['С паспортом', 150000],
            ['Без паспорта', 159000],
        ]);

        var options = {
            title: 'Паспорта у пользователей 309000'
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-passport'));

        chart.draw(data, options);
    }

    //--------------------------------------------

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartAge);

    function drawChartAge() {

        var data = google.visualization.arrayToDataTable([
            ['Количество', 'составляет'],
            ['18-25', 10000],
            ['25-40', 35000],
            ['40+', 15000],
        ]);

        var options = {
            title: 'Возрасть пользователей: 18 - 40+'
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-age'));

        chart.draw(data, options);
    }

    //--------------------------------------------

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartCity);

    function drawChartCity() {

        var data = google.visualization.arrayToDataTable([
            ['Количество', 'составляет'],
            ['Бишкек', 1200000],
            ['Ош', 800000],
            ['Баткен', 400000],
            ['Талас', 250000],
            ['Нарын', 200000],
            ['Исфана', 100000],
        ]);

        var options = {
            title: 'Города пользователей'
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-city'));

        chart.draw(data, options);
    }
</script>