﻿@using DataAccessLayer
@model StayTrueWebAdmin.Models.EditModels.FortuneWheelEditModel
@{
    ViewBag.Title = "Колесо фортуны";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content create-poll-page-content">

        <div class="container-fluid">
            @using (Html.BeginForm("Edit", "FortuneWheel", FormMethod.Post, new { id = "edit-form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="content-header">
                    <div id="poll-title">
                        <h5>
                            <span></span>
                            <div class="right-side">
                                <div class="life-period">
                                    <span style="padding-right: 10px">Дата создания:</span>
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.CreationTime, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "Дата создания" })
                                </div>
                                <div class="life-period">
                                    <span style="padding-right: 10px">Ставка:</span>
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.Bet, new { @placeholder = "Ставка"})
                                </div>
                                <div class="poll-status">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    <label for="IsActive">Статус</label>
                                </div>
                                <button type="submit" class="border-success bg-success text-white add-new-answer">Сохранить</button>
                                <button type="button" class="border-danger bg-danger text-white cancel-edit" style="margin: 0px 10px">Отмена</button>
                            </div>
                        </h5>
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Название колеса", id = "poll-title-input" })
                    </div>
                </div>
            }
            <div class="content-body battle-body">
                <div id="battle-questions">
                    <div class="row">
                        <div class="col-12" id="battle-question-list">
                            @foreach (var component in Model.Components)
                            {
                                <div class="battle-question">
                                    @Html.HiddenFor(modelComponent => component.Id, new { @class = "wheel-component-id" })
                                    @Html.CheckBoxFor(modelComponent => component.IsProduct, new { @style = "display: none;", @class = "wheel-component-is-product" })
                                    <div class="question-title">
                                        <label for="">Товар</label>
                                        @Html.DropDownListFor(modelComponent => component.ProductId, new SelectList(ViewBag.Products, "Id", "Name", component.ProductId), "Выберите товар", new { @class = "poll_edit_items wheel-component-product", @style = "padding: 0px" })
                                    </div>
                                    <div class="question-title" style="display: none;">
                                        <label for="">Винкоины</label>
                                        @Html.TextBoxFor(modelComponent => component.Wincoins, new { placeholder = "Количество винкоинов", @class = "poll_edit_items wheel-component-wincoins" })
                                    </div>
                                    <button type="button" class="border-info bg-info text-white switch-component-type">Сменить тип</button>
                                    <button type="button" class="border-danger bg-danger text-white delete-question">Удалить слот</button>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="border-primary bg-primary text-white add-battle-question">Добавить слот</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/fortune-wheel-page-{BundleConfig.Version}")
}