﻿@using System.Security.Policy
@using PagedList
@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions
@using StayTrueWebAdmin.Models.ViewModels
@model  StayTrueWebAdmin.Models.FilterModels.FortuneWheelFilteredModel
@{
    ViewBag.Title = "Колесо фортуны";
}

<input type="hidden" name="entity-id" id="entity-id" />

<!-- Activity Delete Pop Up Window -->
<div style="display: none;" id="game-delete-popup" class="ban-pop-up-window">
    <form action="#" id="delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить колесо фортуны?</div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Activity Delete Pop Up Window End -->
<!-- Jackpot Pop Up Window -->
<div style="display: none;" id="activate-jackpot-popup" class="ban-pop-up-window">
    <form action="#" id="activate-jackpot-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите активировать джекпот?</div>
            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Jackpot Pop Up Window End -->

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class=" d-flex justify-content-center">
                    <div class="battle-page-title">
                        <span>Колесо</span>
                        <span>фортуны</span>
                    </div>
                </div>
            </div>

            <div class="content-body battle-body">
                <div class="add-new-wrap">
                    <a href="@Url.Action("Create")" class="add-new-link">
                        <span></span>
                        <span>Добавить колесо фортуны</span>
                    </a>
                </div>
                @foreach (var item in Model.Wheels)
                {
                    <div class="st-row st-game">
                        @Html.HiddenFor(modelItem => item.Id)
                        <div class="st-game-header">
                            <div class="header-left">
                                <h4 class="battle-title">@item.Name</h4>
                            </div>
                            <div class="headser-middle">

                            </div>
                            <div class="header-right">
                                <div class="battle-period">
                                    <div class="game-date">
                                        <span>Дата создания: </span>
                                        @Html.TextBoxFor(modelItem => item.CreationTime, "{0:dd/MM/yyyy}", new { disabled = "disabled" })
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>
                                </div>
                                <div class="battle-status">
                                    <span>Джекпот: @item.Jackpot | @(item.IsJackpotActive ? "Активирован" : "Неактивирован")</span>
                                </div>
                                <div class="battle-status">
                                    <span>Статус: @(item.IsActive ? "Активно" : "Скрыто")</span>
                                </div>
                            </div>
                            <div class="game-btns">
                                <div class="st-btn battle-edit">
                                    <button type="button" class="bg-secondary activate-jackpot"  data-fancybox data-src="#activate-jackpot-popup" data-id="@item.Id">Разыграть джекпот</button>
                                </div>
                                <div class="st-btn battle-edit">
                                    <button type="button" class="bg-info edit-btn" data-url="@Url.Action("Edit", new {id = item.Id})">Редактировать</button>
                                </div>
                                <div class="st-btn battle-delete">
                                    <button type="button" class="bg-danger delete-btn" data-fancybox data-src="#game-delete-popup" data-id="@item.Id">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Html.PagedListPager(Model.Wheels, page => Url.Action("Index", new
        {
            Model.Filter.Name,
            Model.Filter.BetFrom,
            Model.Filter.BetTo,
            DateFrom = Model.Filter.DateFrom.ToShortDateString(),
            DateTo = Model.Filter.DateTo.ToShortDateString(),
            page
        }), new PagedListRenderOptions()
        {
            Display = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] {"pagination"},
            UlElementClasses = new[] {""}
        })
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/fortune-wheel-page-{BundleConfig.Version}")
}