﻿@using System.Web.UI.WebControls
@model StayTrueWebAdmin.Models.FilterModels.SmsMessageFilteredModel
@{
    ViewBag.Title = "Sms Reports";
}
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content support-page-content">
        <div class="container-fluid">
            <div class="content-header">
                <div id="add-new-tgl" style="display: flex; justify-content: center";>
                        <img src="/Content/img/icon.svg" />
                        <p style="margin-left: 10px; margin-top: 10px;">Добавить рассылку</p>
                </div>
                <div style="display: none;" id="uploadExcelBlock">
                    @using (Html.BeginForm("UploadExcelForSmsSend", "Sms", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="mailing__row">
                            <div class="upload-input-block">
                                <input id="uploadExcel mailing-file-attach" type="file" name="UploadedFile" />   
                            </div>
                            <div class="upload-button-block">
                                <button class="mailing-secondary-btn" type="submit" style="background-color:#0F73FF">Загрузить</button>
                            </div>
                            <div class="cancel-button-block">
                                <button id="cancelSms" type="button" class="mailing-secondary-btn" style="background-color:#CC3C3C">Отменить</button>
                            </div>
                        </div>
                    }
                </div>
                @using (Html.BeginForm("GetSmsReports", "Sms", FormMethod.Post, new { id = "smsForm" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column num-list">
                            <div class="filter-item-title"></div>
                            <div class="num-list-icon">
                                <img src="img/a-z.png" alt="" />
                            </div>
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Дата рассылки</div>
                            @Html.TextBoxFor(model => model.Filter.SendDate, new { type = "text", name = "send_date_start", @class = "datepicker", placeholder = "до дд/мм/гггг", id = "smsReportSendDate" })
                            @Html.TextBoxFor(model => model.Filter.SendDateEnd, new { type = "text", name = "send_date_start", @class = "datepicker", placeholder = "до дд/мм/гггг", id = "smsReportSendDateEnd" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Название рассылки</div>
                            @Html.TextBoxFor(model => model.Filter.Title, new { type = "text", name = "sms_title", id = "smsReportTitle" })
                        </div>
                        <div class="st-column message-column">
                            <div class="filter-item-title">Сообщение</div>
                            @Html.TextAreaFor(model => model.Filter.Text, new { id = "filter-textarea" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Кол-во пользователей кому сделана рассылка
                            </div>
                            @Html.TextBoxFor(model => model.Filter.UsersCount, new { type = "text", name = "amount_start", id = "smsReportUserCount" })
                            @Html.TextBoxFor(model => model.Filter.UsersCountEnd, new { type = "text", name = "amount_end", id = "smsReportUserCountEnd" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Стоимость рассылки
                            </div>
                            @Html.TextBoxFor(model => model.Filter.Cost, new { type = "text", name = "price_start", id = "smsReportCost" })
                            @Html.TextBoxFor(model => model.Filter.CostEnd, new { type = "text", name = "price_end", id = "smsReportCostEnd" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Логин администратора
                            </div>
                            @Html.TextBoxFor(model => model.Filter.AdminLogin, new { name = "admin_login", id = "smsReportAdmin" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">
                                Статус
                            </div>
                            @Html.DropDownListFor(model => model.Filter.StatusId, Model.Statuses, "Все", new { @class = "user_edit_items" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit"
                                    class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button" id="reset-btn">
                                <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div class="st-row st-user">
                    @{
                        foreach (var item in Model.SmsMessages)
                        {
                            using (Html.BeginForm("DeleteSmsReport", "Sms", FormMethod.Post))
                            {
                                <div class="d-flex justify-content-center st-user-header">
                                    <div class="st-column num-list">
                                        @Html.TextBoxFor(model => item.Id, new { disabled = "disabled", @class = "smsReportId" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.SendTime, new { type = "text", name = "send_date", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.Title, new { type = "text", name = "sms_title", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column message-column">
                                        @Html.TextAreaFor(model => item.Text, new { type = "text", @class = "user_edit_items", disabled = "disabled", cols = "30", rows = "10" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.UsersCount, new { type = "text", name = "amount", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.SmsCost, new { type = "text", name = "price", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.TextBoxFor(model => item.AdminLogin, new { type = "text", name = "email", @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column">
                                        @Html.DropDownListFor(model => item.StatusId, Model.Statuses, item.SmsMessageStatuses.StatusName, new { id = "account_statuses_" + item.Id, @class = "user_edit_items", disabled = "disabled" })
                                    </div>
                                    <div class="st-column btn-column">
                                        <button type="button"
                                                class="sms-excel-report border-info bg-info text-white" id="exportExcel" data-id="@item.Id">
                                            Экспорт отчет в Excel
                                        </button>
                                        <button type="button"
                                                class="user-edit border-info bg-info text-white" id="editSmsReport" data-id="@item.Id">
                                            Отменить
                                        </button>
                                        <button type="button"
                                                class="sms-delete border-danger bg-danger text-white" id="deleteSmsReport" data-id="@item.Id">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="st-btn" hidden>
    <button type="button" data-phone="" class="delete-btn bg-danger border-danger" data-fancybox data-src="#sms-send-popup" id="sendsms-btn"></button>
</div>
<div style="display: none;" id="sms-send-popup" class="ban-pop-up-window">
    @using (Html.BeginForm("", "Sms", FormMethod.Post, new {id = "sms-template-form-single" }))
    {
        <div class="form-inner-wrap">
            <div class="sms-cost">Стоимость сообщения: <span id="smsSendCost">0</span> сом</div>
            @Html.DropDownListFor(model => model.Filter.TemplateId, ViewBag.SmsTemplates as IEnumerable<SelectListItem>, "Выберите шаблон", new { @class = "sms-pattern", id = "sms-template-single" })
            @Html.TextAreaFor(model => model.Filter.Text, new { id = "smsText" , disabled="disabled"})
            <div class="form-footer">
                <div class="send-date">
                    <span>Время отправки уведомления </span>
                    @Html.TextBoxFor(model => model.Filter.SendDate, new { @class = "timepicker", placeholder = "дд/мм/гггг", type = "text", @Value = @DateTime.Now.AddMinutes(5).ToShortTimeString() ,id="sms-send-date"})
                </div>
                <div class="st-btn">
                    <button type="submit" class="border-succes bg-success text-white" id="sendSmsBtn">Отправить</button>
                    <button type="button" data-fancybox-close class="border-danger bg-danger text-white" id="closeSmsForm">Отмена</button>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/sms-page-{BundleConfig.Version}")
}