﻿@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions
@model StayTrueWebAdmin.Models.FilterModels.SmsFilteredModel
@{
    ViewBag.Title = "Рассылка";
}
<style>
    .st-column {
        max-width: calc((95.5% - 22px) / 12);
        min-width: calc((95.5% - 22px) / 12);
    }
</style>
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        @Html.ActionLink("Добавить шаблон", "CreateSmsTemplate", "Sms")
        @Html.ActionLink("Получить отчет", "GetSmsReports", "Sms")
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Sms", FormMethod.Post, new {id = "FilterForm"}))
                {
                <div class=" d-flex justify-content-center">
                    <div class="st-column num-list">
                        <div class="filter-item-title"></div>
                        <div class="num-list-icon">
                            <img src="img/a-z.png" alt="">
                        </div>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Имя</div>
                        @Html.TextBoxFor(model => model.Filter.FirstName)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Фамилия</div>
                        @Html.TextBoxFor(model => model.Filter.LastName)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата рождения</div>
                        @Html.TextBoxFor(model => model.Filter.BirthDateFrom, new { name = "users_birthday_date_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.BirthDateTo, new { name = "users_birthday_date_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">E-mail</div>
                        @Html.TextBoxFor(model => model.Filter.Email)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Статус</div>

                        @Html.EditorFor(model => model.Filter.Status, "UserStatus")
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Город</div>
                        @Html.EditorFor(model => model.Filter.City, "CityList")
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Кол-во посещений сайта</div>
                        @Html.TextBoxFor(model => model.Filter.STPfrom)
                        @Html.TextBoxFor(model => model.Filter.STPto)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Кол-во посещений приложения</div>
                        @Html.TextBoxFor(model => model.Filter.STMfrom)
                        @Html.TextBoxFor(model => model.Filter.STMto)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата регистрации</div>
                        @Html.TextBoxFor(model => model.Filter.RegistrationDateFrom, new { name = "registration_date_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.RegistrationDateTo, new { name = "registration_date_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Последнее посещение прил.</div>
                        @Html.TextBoxFor(model => model.Filter.LastSignInMFrom, new { name = "last_app_visit_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.LastSignInMTo, new { name = "last_app_visit_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Последнее посещение cайта</div>
                        @Html.TextBoxFor(model => model.Filter.LastSignInPFrom, new { name = "last_app_visit_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.LastSignInPTo, new { name = "last_app_visit_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">
                            <a href="#">
                                <span>Экспорт .xls</span>
                                <ion-icon name="ios-code-download"></ion-icon>
                            </a>
                        </div>
                        <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button reset-btn">
                            <span>Сбросить</span>
                            <ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
                }
            </div>

            <div class="list padding-bottom">
                <form class="send">
                    <div class="send__btns">
                        <button class="send__btns_activ">Push - рассылка</button>
                        <button>SMS - рассылка</button>
                    </div>
                    <div class="send__input">
                        <div class="send__textarea">
                            <p>Логин: 996xxxxxxxxx Пароль: xxxxxx Предназначено для определенного круга лиц.</p>
                            <span>77 символов</span>
                            <textarea id="smsText"></textarea>
                        </div>
                        <button id="send-sms-btn">Отправить</button>
                    </div>
                </form>
                <div class="content-body">
                    @foreach (var item in Model.Users)
                    {
                        <div class="st-row st-user">
                            <div class="d-flex justify-content-center st-user-header">
                                <div class="st-column num-list">
                                    <span class="txt">@Html.DisplayFor(modelItem => item.Id)</span>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="first_name" value=@Html.DisplayFor(modelItem => item.FirstName) class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="last_name" value=@Html.DisplayFor(modelItem => item.LastName) class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="birthday" class="datepicker" value=@Html.DisplayFor(modelItem => item.BirthDate) class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" title="@item.Email" name="email" value=@Html.DisplayFor(modelItem => item.Email) class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    @if (item.StatusId == 1)
                                    {
                                        <input type="text" name="status" value="Подтвержден" class="user_edit_items" disabled>
                                    }
                                    @if (item.StatusId == 4)
                                    {
                                        <input type="text" name="status" value="Не подтвержден" class="user_edit_items" disabled>
                                    }
                                </div>
                                <div class="st-column">
                                    <input type="text" name="city" value="Бишкек" class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="stp" value="@item.SignInCounterP" class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="stm" value="@item.SignInCounterM" class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="registration_date" class="datepicker" value="@item.RegistrationDate.ToString("d")" class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="last_app_visit_date" class="datepicker" value="@item.LastSignInM" class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <input type="text" name="last_app_visit_date" class="datepicker" value="@item.LastSignInP" class="user_edit_items" disabled>
                                </div>
                                <div class="st-column">
                                    <!-- Не удалять -->
                                </div>
                            </div>
                        </div>

                    }
                    @Html.PagedListPager(Model.Users, page => Url.Action("Index", new
                    {
                        Model.Filter.FirstName,
                        Model.Filter.LastName,
                        Model.Filter.Email,
                        Model.Filter.Status,
                        Model.Filter.City,
                        Model.Filter.STPfrom,
                        Model.Filter.STPto,
                        Model.Filter.STMfrom,
                        Model.Filter.STMto,
                        BirthDateFrom = Model.Filter.BirthDateFrom.ToShortDateString(),
                        BirthDateTo = Model.Filter.BirthDateTo.ToShortDateString(),
                        RegistrationDateFrom = Model.Filter.RegistrationDateFrom.ToShortDateString(),
                        RegistrationDateTo = Model.Filter.RegistrationDateTo.ToShortDateString(),

                        page
                    }), new PagedListRenderOptions()
                    {
                        Display = PagedListDisplayMode.IfNeeded,
                        ContainerDivClasses = new[] {"pagination"},
                        UlElementClasses = new[] {""}
                    })
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    @section Scripts {
        @Scripts.Render($"~/bundles/js/sms-page-{BundleConfig.Version}")
    }

</script>