﻿@model StayTrueWebAdmin.Models.SmsSendModel
<div style="display: none;" id="sms-send-popup" class="ban-pop-up-window">
    @using (Html.BeginForm("", "Sms", FormMethod.Post, new {id = "sms-template-form" }))
    {
    <div class="form-inner-wrap">
        <div class="users-amount">Выбрано пользователей: <span id="smsFormCheckedUsersAmount">0</span></div>
        <div class="sms-cost">Стоимость рассылки: <span id="smsSendCost">0</span> сом</div>
        @Html.DropDownListFor(model => model.TemplateId, ViewBag.SmsTemplates as IEnumerable<SelectListItem>, "Выберите шаблон", new { @class = "sms-pattern", id = "sms-template" })
        @Html.TextAreaFor(model => model.Text, new { id = "smsText" , disabled="disabled"})
        <div class="form-footer">
            <div class="send-date">
                <span>Время отправки уведомления </span>
                @Html.TextBoxFor(model => model.SendDate, new { @class = "timepicker", placeholder = "дд/мм/гггг", type = "text", @Value = @DateTime.Now.AddMinutes(5).ToShortTimeString() })
                @Html.TextBoxFor(model=>model.SmsCost, new {id="smsCost", hidden="hidden"})
            </div>
            <div class="st-btn">
                <button type="submit" class="border-succes bg-success text-white" id="sendSmsBtn">Отправить</button>
                <button type="button" data-fancybox-close class="border-danger bg-danger text-white" id="closeSmsForm">Отмена</button>
            </div>
        </div>
    </div>
    }
</div>