﻿@model StayTrueWebAdmin.Models.FilterModels.SmsTemplateFilteredModel
@{
    ViewBag.Title = "Шаблоны";
}
@Html.Partial("_SidebarPartial")
<div class="content support-page-content">
    <div class="container-fluid">
        <div class="content-header">
            @using (Html.BeginForm("SmsTemplateList", "Sms", FormMethod.Post, new { id = "filter-form" }))
            {
                <div class=" d-flex justify-content-center">
                    <div class="st-column num-list"></div>
                    <div class="st-column">
                        <div class="filter-item-title">Заголовок шаблона</div>
                        @Html.EditorFor(model => model.Filter.Title, new { type = "text", name = "pattern_title" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Текст шаблона</div>
                        @Html.EditorFor(model => model.Filter.Text, new { type = "text", name = "pattern_title"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Со сбросом пароля</div>
                        @Html.CheckBoxFor(model => model.Filter.IsPasswordRequired, new { name = "pattern_title" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Стоимость за 1 сообщение</div>
                        @Html.EditorFor(model => model.Filter.SmsCost, new { name = "pattern_title" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title"></div>
                        <button type="submit"
                                class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button" id="templateFilterReset">
                            <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="content-body">
            <div id="add-pattern" class="add-new-wrap">
                <div id="add-new-tgl" class="pattern-add">
                    <span></span>
                    <span>Добавить шаблон</span>
                </div>
                @using (Html.BeginForm("CreateSmsTemplate", "Sms", FormMethod.Post, new { @class = "add-new-pattern-form" }))
                {
                    <div class="st-pattern-body">
                        <div class="pattern-title">
                            <span>Заголовок шаблона</span>
                            @Html.TextBoxFor(model => model.Filter.Title, new { name = "title", @class = "pattern_edit_items pattern-title-field", placeholder = "Заголовок шаблона" })
                        </div>
                        <div class="pattern-text">
                            <span>Текст рассылки</span>
                            @Html.TextAreaFor(model => model.Filter.Text, new { @class = "summernote", id = "createSmsTemplateText" })
                        </div>
                        <div class="bottom-row">
                            <div class="sms-price bottom-items">
                                @Html.TextBoxFor(model => model.Filter.SmsCost, new { @class = "sms-price-input", hidden="hidden" })
                                Стоимость 1 СМС: <span class="sms-price-value">1.8</span> сом
                            </div>
                            <label class="crediantials bottom-items">
                                @Html.CheckBoxFor(model => model.Filter.IsPasswordRequired, new { type = "checkbox" , @class = "smsTemplateCheckBox" })
                                <span>С логином и паролем</span>
                            </label>
                            <div class="buttons-wrap bottom-items">
                                <button type="submit"
                                        class="pattern-save border-success bg-success text-white" id="save-template">
                                    Сохранить
                                </button>
                                <button type="reset"
                                        class="pattern-add-abort border-warning bg-warning text-white">
                                    Отмена
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @{
                foreach (var item in Model.SmsTemplates)
                {
                    <div class="st-row st-pattern">
                        <div class="d-flex justify-content-center st-pattern-header">
                            <div class="st-column num-list">
                                @Html.TextBoxFor(model => item.Id, new { type = "number", name = "pattern_title", @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.Title, new { type = "text", name = "pattern_title", @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.Text, new { type = "text", name = "pattern_title", @class = "user_edit_items", disabled = "disabled", id = "createSmsTemplateText"})
                            </div>
                            <div class="st-column">
                                @Html.CheckBoxFor(model => item.IsPasswordRequired, new { @class = "user_edit_items", disabled = "disabled"})
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.SmsCost, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column btn-column">
                                <button type="button"
                                        class="pattern-edit border-info bg-info text-white" id="editTemplate">
                                    Редактировать
                                </button>
                                <button type="button"
                                        class="sms-delete border-danger bg-danger text-white" id="deleteSmsTemplate" data-id="@item.Id">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <div class="st-pattern-body">
                            @using (Html.BeginForm("EditSmsTemplate", "Sms", FormMethod.Post, new { @class = "add-new-pattern-form" }))
                            {
                                <div class="pattern-title">
                                    <span>Название шаблона</span>
                                    @Html.TextBoxFor(model => item.Title, new { type = "text", name = "title", @class = "pattern_edit_items pattern-title-field", placeholder = "Название шаблона" })
                                </div>
                                <div class="pattern-text">
                                    <span>Текст рассылки</span>
                                    @Html.TextAreaFor(model => item.Text, new { @class = "summernote createSmsTemplateTextEdit", id = "createSmsTemplateTextEdit"})
                                </div>
                                <div class="bottom-row">
                                    <div class="sms-price bottom-items">
                                        @Html.TextBox("smsCost", item.SmsCost, new {@class = "sms-price-input", hidden="hidden"})
                                        Стоимость 1 СМС: <span class="sms-price-value">@item.SmsCost</span> сом
                                    </div>
                                    <label class="crediantials bottom-items">
                                        @Html.CheckBoxFor(model => item.IsPasswordRequired, new{@class="smsCheckBoxId"})
                                        @Html.TextBoxFor(model => item.Id, new {hidden="hidden"})
                                        <span>С логином и паролем</span>
                                    </label>
                                    <div class="buttons-wrap bottom-items">
                                        <button type="submit"
                                                class="pattern-save border-success bg-success text-white">
                                            Сохранить
                                        </button>
                                        <button type="reset"
                                                class="pattern-change-abort border-warning bg-warning text-white">
                                            Отмена
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/sms-template-page-{BundleConfig.Version}")
}