﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@model StayTrueWebAdmin.Models.SmsSendPhonesModel
@{
    ViewBag.Title = "UploadExcelForSmsSend";
}
@Html.Partial("_SidebarPartial")
<div class="content support-page-content">
    <div class="container-fluid">
        <div class="content-body">
            <div class="phone-list-info">
                <span>Общее количество: @Model.Count</span>
                
                <div class="menu-item-sms">
                    <a href="#" data-fancybox="sms-send-form" data-src="#sms-send-popup">
                        <img src="/Content/img/SendSms.svg" />
                        @Html.Action("SmsPhoneListSend", "Sms", new {approvedUsers = Model.ApprovedUsers, notApprovedUsers = Model.NotApprovedUsers, notFoundUsers = Model.NotFoundUsers})
                        <span class="send-sms-link">Сделать рассылку</span>
                    </a>
                </div>
                <div class="sms-send-button-block">
                    <button id="cancel-sms-send" type="button" class="border-danger bg-danger abort-edit-create sms-send-button-cancel">Назад</button>
                </div>
            </div>
            <div class="phone-table-block">
                <div class="phone-list-block">
                    <table class="phone-list-table">
                        <thead>
                        <tr>
                            <th class="table-head">Номера которых нет в базе: @Model.NotFoundUsers.Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var item in Model.NotFoundUsers)
                            {
                                <tr class="phone-block">
                                    <td>@item</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div class="phone-list-block">
                    <table class="phone-list-table">
                        <thead>
                        <tr>
                            <th class="table-head">Номера которые есть в базе: @Model.ApprovedUsers.Count</th>
                        </tr>
                        </thead>
                        <tbody>

                        @{
                            foreach (var item in Model.ApprovedUsers)
                            {
                                <tr class="phone-block">
                                    <td>@item</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div class="phone-list-block">
                    <table class="phone-list-table">
                        <thead>
                        <tr>
                            <th class="table-head">Неподтвержденные пользователи: @Model.NotApprovedUsers.Count</th>
                        </tr>
                        </thead>
                        <tbody>

                        @{
                            foreach (var item in Model.NotApprovedUsers)
                            {
                                <tr class="phone-block">
                                    <td>@item</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div class="phone-list-block">
                    <table class="phone-list-table">
                        <thead>
                        <tr>
                            <th class="table-head">Номера не подходящие по формату: @Model.NotCorrectNumbers.Count</th>
                        </tr>
                        </thead>
                        <tbody>

                        @{
                            foreach (var item in Model.NotCorrectNumbers)
                            {
                                <tr class="phone-block">
                                    <td>@item</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render($"~/bundles/js/sms-page-{BundleConfig.Version}")
}










