﻿@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.PushReportFilteredModel
@{
    ViewBag.Title = "Push отчет";
}

<input type="hidden" name="entity-id" id="entity-id" />
<div style="display: none;" id="delete-push-report-popup" class="ban-pop-up-window">
    <form action="#" id="user-delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите удалить данный отчет?</div>
            <div class="description">Отчет будет недоступен для просмотра</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="delete-push-report">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content support-page-content">
        <div class="container-fluid">
            <div class="content-header">

                @using (Html.BeginForm("Index", "PushReport", FormMethod.Post, new { id = "filter-form" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column num-list">
                            <div class="filter-item-title"></div>
                            <div class="num-list-icon">
                                <img src="/Content/img/a-z.png" alt="">
                            </div>
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Дата отправки</div>
                            @Html.TextBoxFor(model => model.Filter.NotificationDateFrom, new { @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.NotificationDateTo, new { @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Название рассылки</div>
                            @Html.EditorFor(model => model.Filter.TemplateName)
                        </div>
                        <div class="st-column message-column">
                            <div class="filter-item-title">Сообщение</div>
                            @Html.TextAreaFor(model => model.Filter.Content, new { id = "filter-textarea" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Количество получаетелей</div>
                            @Html.TextBoxFor(model => model.Filter.RecipientsFrom)
                            @Html.TextBoxFor(model => model.Filter.RecipientsTo)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Логин администратора</div>
                            @Html.EditorFor(model => model.Filter.AdministratorLogin)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white"><span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon></button>
                            <button type="button" class="st-button"><span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon></button>
                        </div>
                    </div>
                }
            </div>


            <div class="content-body">
                @foreach (var item in Model.PushNotifications)
                {
                    <div class="st-row st-user">
                        @Html.HiddenFor(modelItem => item.Id)
                        <div class="d-flex justify-content-center st-user-header">
                            <div class="st-column num-list">
                                @Html.HiddenFor(modelItem => item.Id)
                                <span class="txt">@item.Id</span>
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.NotificationDate, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.TemplateName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column message-column">
                                @Html.TextAreaFor(modelItem => item.Content, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Recipients, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Administrators.Login, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column btn-column">
                                <button type="button" class="sms-delete border-danger bg-danger text-white">Удалить</button>
                            </div>
                            <div class="st-column btn-column">
                                <button type="button" class="push-report border-info bg-info text-white">Экспорт в excel</button>
                            </div>
                        </div>
                    </div>
                }
                @Html.PagedListPager(Model.PushNotifications, page => Url.Action("Index", new
                {
                    Model.Filter.Content,
                    Model.Filter.NotificationDateFrom,
                    Model.Filter.NotificationDateTo,
                    Model.Filter.RecipientsFrom,
                    Model.Filter.RecipientsTo,
                    Model.Filter.TemplateName,
                    Model.Filter.AdministratorLogin,
                    page
                }), new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] { "pagination" },
                    UlElementClasses = new[] { "" }
                })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/push-report-page-{BundleConfig.Version}")
}