﻿@model StayTrueWebAdmin.Models.Questionnaire
@{
    ViewBag.Title = "Опросник";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content create-poll-page-content">
        <div class="container-fluid">
            @Html.Hidden("questionsArray", Json.Encode(Model.Questions), new {id = "questionsArray"})
            @using (Html.BeginForm("Create", "Questionnaire", FormMethod.Post, new { id = "createQuestionnaire" }))
            {
                @Html.AntiForgeryToken()
				                @Html.ValidationSummary()
                <div class="content-header">
                    <div id="poll-title">
                        <h5>
                            <span>Название опроса</span>
                            <div class="right-side">
                                <div class="prizeWincoins">
                                    @Html.TextBoxFor(model => model.Wincoins, new { placeholder = "Количество Wincoin" })
                                    @*<input type="text" id="wincoins" placeholder="Количество Wincoin">*@
                                </div>
                                <div class="life-period">
                                    @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new {placeholder = "Дата создания", @class = "datepicker", id = "poll-create-at"})
                                    @*<input type="text" class="datepicker" id="poll-create-at" placeholder="Дата создания">*@
                                    @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new {placeholder = "Дата окончания", @class = "datepicker", id = "poll-end-date"})
                                    @*<input type="text" class="datepicker" id="poll-end-date" placeholder="Дата окончания">*@
                                </div>
                                <div class="poll-status">
                                    @Html.CheckBoxFor(model => model.IsActive, new {id = "poll-status-checkbox"})
                                    @*<input type="checkbox" id="poll-status-checkbox">*@
                                    <label for="poll-status-checkbox">Статус</label>
                                </div>
                                <button type="submit" class="border-success bg-success text-white add-new-answer">Сохранить опрос</button>
                            </div>

                            
                        </h5>
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Напишите название опроса." , id = "poll-title-input" })
                        @*<input type="text" id="poll-title-input" placeholder="Напишите название опроса.">*@
                        <div class="poll-description-wrap">
                            <span>Описание</span>
                            @Html.TextAreaFor(model=>model.Description,new {@class="summernote", id="poll-description"})
                            @*<textarea class="summernote" id="poll-description"></textarea>*@
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <div id="add-poll-question" class="add-new-wrap">
                        <div id="add-new-tgl" class="poll-question-add">
                            <span></span>
                            <span>Добавить вопрос</span>
                        </div>
                    </div>
                    <div id="poll-question-list">
                        @for (var k = 0; k < Model.Questions.Count; k++)
                        {
                            <div class="poll-question">
                                <input type="hidden" value="@Json.Encode(Model.Questions[k])" class="question-body">
                                <div class="question-top">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label for="">Вопрос</label>
                                            @Html.TextBoxFor(model => model.Questions[k].Text, new { placeholder = "Введите вопрос", @class = "poll_edit_items" })
                                            @*<input type="text" placeholder="Введите вопрос" class="poll_edit_items">*@
                                        </div>
                                        <div class="col-md-2">
                                            <label for="">Тип ответа</label>
                                            @Html.DropDownListFor(model => model.Questions[k].AnswerType, (SelectList)ViewBag.AnswerTypes, new { @class = "st-selectize poll_edit_items answer-type" })
                                            @*<select name="type" id="" class="st-selectize poll_edit_items answer-type">
                                <option value="select">Один выбор</option>
                                <option value="multiple-select">Множественный выбор</option>
                                <option value="text">Текстовый</option>
                            </select>*@
                                        </div>
                                        <div class="col-md-3">
                                            <label for="">Пользователь может выбрать</label>
                                            @Html.TextBoxFor(model => model.Questions[k].SizeOfAvailableAnswers, new { placeholder = "Введите количество", @class = "poll_edit_items answer-quantity", @readonly = "readonly" })
                                            @*<input type="text" placeholder="Введите количество" class="poll_edit_items answer-quantity" disabled>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="question-answers">
                                    <div class="question-answers-top">
                                        <label>Варианты</label>
                                        <button type="button" class="border-primary bg-primary text-white add-new-answer">Добавить вариант</button>
                                    </div>
                                    <div class="row">
                                        <input class="question-number" type="hidden" value="@k">
                                        @if (Model.Questions[k].Answers != null)
                                        {
                                            for (int i = 0; i < Model.Questions[k].Answers.Count; i++)
                                            {

                                                <div class="col-md-3 question-answers-item">
                                                    @Html.TextBoxFor(model => model.Questions[k].Answers[i])
                                                    <button type="button" class="border-danger bg-danger text-white answer-delete">Удалить</button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="qustion-bottom">
                                    <button type="button" class="border-danger bg-danger text-white delete-question">Удалить вопрос</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/questionnaire-page-{BundleConfig.Version}")
}