﻿@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.QuestionnairesFilteredModel
@{
    ViewBag.Title = "Опросник";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content poll-page-content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Questionnaire", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <div class=" d-flex">
                        <div class="st-column num-list">
                            <div class="filter-item-title"></div>
                            <div class="num-list-icon">
                                <img src="img/a-z.png" alt="">
                            </div>
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Название опроса</div>
                            @Html.TextBoxFor(model => model.Filter.Title, new { placeholder = "Имя" })
                            @*<select name="first_name" id="first_name" class="st-selectize" placeholder="Имя">
                                    <option value="all">Все</option>
                                    <option value="1">СамоеДлинноеИмя</option>
                                    <option value="2">СамоеДлинноеИмя</option>
                                    <option value="3">СамоеДлинноеИмя</option>
                                    <option value="4">СамоеДлинноеИмя</option>
                                </select>*@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Дата публикации</div>
                            @Html.TextBoxFor(model => model.Filter.PublicationDateFrom, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })
                            @*<input type="text" name="publish_date_min" class="datepicker" placeholder="от дд/мм/гггг">*@
                            @Html.TextBoxFor(model => model.Filter.PublicationDateTo, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "до дд/мм/гггг" })
                            @*<input type="text" name="publish_date_max" class="datepicker" placeholder="до дд/мм/гггг">*@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.EditorFor(model => model.Filter.Status, "QuestionnaireFilterStatus")
                            @*<select name="status" id="status" class="st-selectize" placeholder="Статус">
                                    <option value="all">Все</option>
                                    <option value="1">Подтвержден</option>
                                    <option value="2">Не подтвержден</option>
                                    <option value="3">Забанен</option>
                                </select>*@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Кол-во вопросов</div>
                            @Html.TextBoxFor(model => model.Filter.QuestionsCount, new { id = "poll_questions_count", placeholder = "Укажите количество" })
                            @* <input type="text" name="poll_questions_count" id="poll_questions_count" placeholder="Укажите количество"> *@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Кол-во посещений</div>
                            @Html.TextBoxFor(model=>model.Filter.AnswersCount, new { id = "poll_visit", placeholder = "Укажите количество" })
                            @*<input type="text" name="poll_visit" id="poll_visit" placeholder="Укажите количество">*@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span>
                                <ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                        </div>
                        <div class="st-column">
                            @*  <div class="filter-item-title">
                                    <a href="#">
                                        <span>Экспорт .xls</span>
                                        <ion-icon name="ios-code-download"></ion-icon>
                                    </a>
                                </div>*@
                            <button type="button" class="st-button reset"><span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon></button>
                        </div>
                    </div>
                }
            </div>
            <div id="add-new-poll" class="add-new-wrap">
                <div id="add-new-tgl">
                    <a href="@Url.Action("Create")" class="add-new-link">
                    <span></span>
                        <span>Добавить опрос</span>
                        </a>
                </div>
            </div>
            <div class="content-body">
                @foreach (var item in Model.Questionnaires)
                {
                    <div class="st-row st-poll">
                        @Html.HiddenFor(modelItem => item.Id)
                        <div class="d-flex st-poll-header">
                            <div class="st-column num-list">
                                <span class="txt">@item.Id</span>
                            </div>
                            <div class="st-column left-aligned">
                                <span class="txt" id="poll-name">@item.Name</span>
                            </div>
                            <div class="st-column">
                                <span class="txt" id="poll-publish-date">@item.StartDate.ToShortDateString()</span>
                            </div>
                            <div class="st-column">
                                <span class="txt" id="poll-status">@(item.IsActive ? "Активный" : "Не активный")</span>
                            </div>
                            <div class="st-column">
                                @Html.HiddenFor(modelItem => item.Questions, new {@class = "poll-questions-count"})
                                <span class="txt" id="poll-questions-count"></span>
                            </div>
                            <div class="st-column">
                                <span class="txt" id="poll-visit">
                                    @item.QuestionnaireAnswers.Count
                                </span>
                            </div>
                            <div class="st-column" style="flex-wrap: wrap">
                                <a href="@Url.Action("Edit", "Questionnaire", new {id = item.Id})">
                                    <button type="button" class="border-info bg-info text-white questionnaire-edit">Редактировать</button>
                                </a>
                            </div>
                            <div class="st-column" style="flex-wrap: wrap">
                                <button type="button" class="border-danger bg-danger text-white questionnaire-delete">Удалить</button>
                            </div>
                        </div>
                    </div>
                }

                @Html.PagedListPager(Model.Questionnaires, page => Url.Action("Index", new
                {
                    Model.Filter.Status,
                    Model.Filter.PublicationDateFrom,
                    Model.Filter.PublicationDateTo,
                    Model.Filter.Title,
                    Model.Filter.QuestionsCount,
                    page
                }), new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] { "pagination" },
                    UlElementClasses = new[] { "" }
                })

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/questionnaire-page-{BundleConfig.Version}")
}
