﻿@model StayTrueWebAdmin.Models.EditModels.LotteryCreateEditModel
@{
    ViewBag.Title = "Шанс";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content create-poll-page-content">
        @using (Html.BeginForm("Create", "Lottery", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="container-fluid">
                <div class="content-header">
                    <div id="poll-title">
                        <h5>
                            <span>Название</span>
                            <div class="right-side">
                                <button type="submit"
                                        class="border-success bg-success text-white">
                                    Сохранить
                                </button>
                                <button type="button"
                                        class="border-danger bg-danger text-white ml-3 abort-edit-createLottery">
                                    Отмена
                                </button>
                            </div>
                        </h5>
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Напишите название", id = "poll-title-input" })
                    </div>
                    <div class="st-row st-game on-edit">
                        <div class="st-game-header">
                            <div class="life-period">
                                <span>Количество доступных билетов</span>
                                @Html.TextBoxFor(model => model.AvailableTickets, new { type = "number" })
                            </div>
                            <div class="life-period">
                                <span>Максимальное доступное количество билетов для пользователя</span>
                                @Html.TextBoxFor(model => model.MaxTicketsForUser, new { type = "number" })
                            </div>
                            <div class="life-period">
                                <span>Цена билета</span>
                                @Html.TextBoxFor(model => model.TicketPrice, new { type = "number" })
                            </div>
                            <div class="party-page-header-bottom">
                                <div class="party-page-header-bottom-right">
                                    <div class="party-period">
                                        <div class="party-date">
                                            <span>Дата начала: </span>
                                            @Html.TextBoxFor(modelItem => Model.DateStart, "{0:dd/MM/yyyy HH:mm}", new { placeholder = "{0:dd/MM/yyyy HH:mm}", @class = "timepicker" })
                                            <ion-icon name="calendar"></ion-icon>
                                        </div>
                                        <div class="party-date">
                                            <span>Дата конца: </span>
                                            @Html.TextBoxFor(modelItem => Model.DateEnd, "{0:dd/MM/yyyy HH:mm}", new { placeholder = "{0:dd/MM/yyyy HH:mm}", @class = "timepicker game-edit-item" })
                                            <ion-icon name="calendar"></ion-icon>
                                        </div>
                                    </div>
                                    <div class="party-status">
                                        <span>Статус:</span>
                                        @Html.DropDownListFor(model => model.IsActive, new SelectList(Model.Statuses.Select(x => new SelectListItem
                                        { Value = x.Value, Text = x.Text }).ToList(), "Value", "Text"),  new { @class = "user_edit_items answer-issued isIssued"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/lottery-page-{BundleConfig.Version}")
}