﻿@using System.Security.Policy
@using PagedList
@using PagedList.Mvc
@using StayTrueWebAdmin.Models.ViewModels
@model  StayTrueWebAdmin.Models.FilterModels.LotteryFilteredModel
@{
    ViewBag.Title = "Шанс";
}

<input type="hidden" name="entity-id" id="entity-id" />

<!-- Great battle Delete Pop Up Window -->
<div style="display: none;" id="game-delete-popup" class="ban-pop-up-window">
    <form action="#" id="delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить активность?</div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- Great battle Delete Pop Up Window End -->

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class=" d-flex justify-content-center">
                    <div class="battle-page-title">
                        <span>Шанс</span>
                    </div>
                </div>
            </div>

            <div class="content-body battle-body">
                <div class="add-new-wrap">
                    <a href="@Url.Action("Create")" class="add-new-link">
                        <span></span>
                        <span>Добавить шанс</span>
                    </a>
                </div>
                @foreach (var item in (List<LotteryViewModel>)ViewBag.GetLotteriesViewModel)
                {
                    <div class="st-row st-game">
                        @Html.HiddenFor(modelItem => item.Id)
                        <div class="st-game-header">
                            <div class="header-left">
                                <h4 class="battle-title">@item.Name</h4>
                            </div>
                            <div class="headser-middle">
                                <div class="battle-status">
                                    <span>Доступно билетов: @item.AvailableTickets</span>
                                </div>
                                <div class="battle-status">
                                    <span>Максимально допустимое количество билетов: @item.MaxTicketsForUser</span>
                                </div>
                                <div class="battle-status">
                                    <span>Цена билета: @item.TicketPrice</span>
                                </div>
                            </div>
                            <div class="header-right">
                                <div class="battle-period">
                                    <div class="game-date">
                                        <span>Дата начала: </span>
                                        @Html.TextBoxFor(modelItem => item.DateStart, "{0:dd/MM/yyyy}", new { @class = "datepicker game-edit-item", disabled = "disabled" })
                                        @*<input type="text" value="11/05/2018" class="datepicker game-edit-item" placeholder="дд/мм/гггг" disabled>*@
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>
                                    <div class="game-date">
                                        <span>Дата конца: </span>
                                        @Html.TextBoxFor(modelItem => item.DateEnd, "{0:dd/MM/yyyy}", new { @class = "datepicker game-edit-item", disabled = "disabled" })
                                        @*<input type="text" value="11/05/2018" class="datepicker game-edit-item" placeholder="дд/мм/гггг" disabled>*@
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>
                                </div>
                                <div class="battle-status">
                                    <span>Статус: @(item.IsActive ? "Активно" : "Скрыто")</span>
                                </div>
                            </div>
                            <div class="game-btns">
                                <div class="st-btn battle-members-list">
                                    <button type="button" class="bg-secondary members-list-btn" data-url="@Url.Action("LotteryMembers", "Lottery", new {lotteryId=item.Id})">Участники</button>
                                </div>
                                <div class="st-btn battle-edit">
                                    <button type="button" class="bg-info edit-btn" data-url="@Url.Action("Edit", new {id = item.Id})">Редактировать</button>
                                </div>
                                <div class="st-btn battle-delete">
                                    <button type="button" class="bg-danger delete-btn" data-fancybox data-src="#game-delete-popup" data-id="@item.Id">Удалить</button>
                                </div>
                                <div class="st-btn game-edit-abort" style="display: none;">
                                    <button type="reset" class="bg-warning">Отменить</button>
                                </div>
                                <div class="st-btn game-save" style="display: none;">
                                    <button type="button" class="bg-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Html.PagedListPager(Model.Lotteries, page => Url.Action("Index", new
        {
            page
        }), new PagedListRenderOptions()
        {
            Display = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] { "pagination" },
            UlElementClasses = new[] { "" }
        })
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/lottery-page-{BundleConfig.Version}")
}