﻿@using PagedList.Mvc
@using StayTrueWebAdmin.Models.ViewModels
@model StayTrueWebAdmin.Models.FilterModels.LotteryMembersFilteredModel

@{
    ViewBag.Title = "Участники";
}
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content user-page-content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("LotteryMembers", "Lottery", FormMethod.Get, new { id = "FilterForm" }))
                {
                <div class="d-flex">
                    <div class="st-column num-list">
                        <div class="filter-item-title"></div>
                        <input type="hidden" name="lotteryId" value="@Model.Filter.LotteryId" id="lotteryId"/>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Имя</div>
                        @Html.TextBoxFor(model => model.Filter.FirstName, new { placeholder = "Имя" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Фамилия</div>
                        @Html.TextBoxFor(model => model.Filter.LastName, new { placeholder = "Фамилия" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата рождения</div>
                        @Html.TextBoxFor(model => model.Filter.BirthDateFrom, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.BirthDateTo, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Город</div>
                        @Html.DropDownListFor(model => model.Filter.CityId, Model.Cities, "Все", new { @class = "st-selectize" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Номер телефона</div>
                        @Html.TextBoxFor(model => model.Filter.Phone, new { placeholder = "Телефон" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Wincoins</div>
                        @Html.TextBoxFor(model => model.Filter.WincoinsFrom, new { placeholder = "Колличество wincoin" , type="number"})
                        @Html.TextBoxFor(model => model.Filter.WincoinsTo, new { placeholder = "Колличество wincoin", type = "number" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Email</div>
                        @Html.TextBoxFor(model => model.Filter.Email, new { placeholder = "email" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата регистрации</div>
                        @Html.TextBoxFor(model => model.Filter.RegistrationDateFrom, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.RegistrationDateTo, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Количество билетов</div>
                        @Html.TextBoxFor(model => model.Filter.TicketsCountFrom, new { placeholder = "Колличество билетов", type = "number" })
                        @Html.TextBoxFor(model => model.Filter.TicketsCountTo, new { placeholder = "Колличество билетов", type = "number" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">
                        </div>
                        <button type="button"
                                class="sms-excel-report border-info bg-info text-white" id="exportExcel" data-id="">
                            Экспорт в Excel
                        </button>
                        <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button" id="resetLotteryMembersPage" data-url="@Url.Action("LotteryMembers", "Lottery", new {lotteryId=Model.Filter.LotteryId})">
                            <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
                }
            </div>
            <div content-body>
                @foreach (var item in Model.Lotteries)
                {
                    <div class="st-row st-user">
                        <div class="d-flex st-user-header">
                            <div class="st-column num-list">
                                <span class="txt">@item.Users.Id</span>
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.FirstName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.LastName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.BirthDate, "{0:dd/MM/yyyy}", new { @class = "datepicker user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.Cities.CityName, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.Phone, "{0:dd/MM/yyyy}", new { @class = "datepicker user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.Wincoins, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.Email, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Users.RegistrationDate, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.TicketsCount, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                }
                @Html.PagedListPager(Model.Lotteries, page => Url.Action("Index", new
                {
                    Model.Filter,
                    page
                }), new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] {"pagination"},
                    UlElementClasses = new[] {""}
                })
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/lottery-page-{BundleConfig.Version}")
}