﻿@using Microsoft.AspNetCore.Identity
@using inventory_accounting_system.Models
@using inventory_accounting_system.ViewModel

@inject SignInManager<Employee> SignInManager
    @inject UserManager<Employee> UserManager


        <!DOCTYPE html>
        <html>

        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - Inventory Accounting System</title>


            <environment include="Development">
                <link rel="stylesheet" href="~/css/bootstrap.css" />
                <link rel="stylesheet" href="~/css/style.css" />
                <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

                <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
                <!-- Gritter -->
                <link href="~/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                    asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
                    asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
                <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            </environment>
        </head>

        <body>
            <div id="wrapper">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Admin")){
                <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav metismenu" id="side-menu">
                            <li class="nav-header">
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                            <li>

                                <a asp-area="" asp-controller="Categories" asp-action="Index"> <i
                                        class="fa fa-bar-chart-o"></i> <span class="nav-label">Категории</span> </a>

                            </li>
                            <li>
                                <a asp-area="" asp-controller="Events" asp-action="Index"> <i
                                        class="fa fa-envelope"></i> <span class="nav-label">События</span> </a>

                            </li>
                            <li>
                                <a asp-area="" asp-controller="Assets" asp-action="Index"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Имущество</span> </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Offices" asp-action="Index"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Офис</span> </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Suppliers" asp-action="Index"> <i
                                        class="fa fa-address-book-o"></i> <span class="nav-label">Поставщики</span> </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Employes" asp-action="Users"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Сотрудники</span> </a>
                            </li>

                             <li>
                                <a asp-area="" asp-controller="Assets" asp-action="HistoryMoving"> <i
                                        class="fa fa-history"></i> <span class="nav-label">История</span> </a>
                            </li>

                             <li>
                                <a asp-area="" asp-controller="Assets" asp-action="ReportOnStockChoice"> <i
                                        class="fa fa-print"></i> <span class="nav-label">Инвентаризация</span> </a>
                            </li>

                        </ul>
                    </div>
                </nav>
                    }else if(User.IsInRole("Manager")){
                         <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav metismenu" id="side-menu">
                            <li class="nav-header">
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                            
                            <li>
                                <a asp-area="" asp-controller="Assets" asp-action="Index"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Имущество</span> </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Offices" asp-action="Index"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Офис</span> </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Employes" asp-action="Users"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Сотрудники</span> </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Assets" asp-action="HistoryMoving"> <i
                                        class="fa fa-history"></i> <span class="nav-label">История</span> </a>
                            </li>

                        </ul>
                    </div>
                </nav>
                    }else{
                        <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav metismenu" id="side-menu">
                            <li class="nav-header">
                                @await Html.PartialAsync("_LoginPartial")
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Offices" asp-action="Index"> <i
                                        class="fa fa-pie-chart"></i> <span class="nav-label">Офис</span> </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                    }
                
                <div id="page-wrapper" class="gray-bg dashbard-1">
                    <div class="row border-bottom">
                        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                            <div class="navbar-header">
                                @if (User.IsInRole("Admin") || User.IsInRole("Manager")){
                                <a class="navbar-minimalize minimalize-styl-2" style="margin: 19.1px -20px  0 0; font-size: 15pt;" href="#"></a>
                           
                                @using (Html.BeginForm("InventNumberSearch", "Assets", FormMethod.Post, new{
                                @role="search", @class="navbar-form-custom"}))
                                {
                                <div>
                                    <p>
                                        @Html.TextBox("InventNumber",null, new { @class="form-control",
                                        @placeholder="Поиск по инвентарному номеру...",
                                        @style="width: 350px; margin: 7px 0px 0px 0; font-size: 13pt;"})
                                        @Html.TextBox("InventNumberSearch","Поиск", new { @class="hidden",
                                        @type="submit"})
                                    </p>
                                </div>
                                }
                            }
                                <!-- <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                     
                                </div>
                            </form> -->
                            </div>
                            <ul class="nav navbar-top-links navbar-right">

                            @if (User.IsInRole("Manager")){                               

                                    <li class="dropdown" id="messageLi" onclick="openDropDown()">
                                        <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="fales"
                                            href="#" id="areaTrueFalse">
                                            <i class="fa fa-envelope"></i> <span class="label label-warning">
                                                @await Component.InvokeAsync("OrderEmployeeVM")
                                        </a>
                                        <ul class="dropdown-menu dropdown-messages">
                                            <li>
                                                <div class="dropdown-messages-box">
                                                    <div class="media-body">
                                                        @await Component.InvokeAsync("SortingOrderEmployee")
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="divider"></li>

                                            <li>
                                                <div class="text-center link-block">
                                                    <a asp-controller="OrderEmployees" asp-action="Index">
                                                        <i class="fa fa-envelope"></i> <strong>Посмотреть все сообщения</strong>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" id="notificationLi" onclick="openDropDownNotif()">
                                        <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="fales"
                                            href="#" id="areaTrueFalseNotif">
                                            <i class="fa fa-bell"></i> <span class="label label-primary">
                                                @await Component.InvokeAsync("OrderEmployeeVM")
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-alerts">
                                            <li>
                                                <a href="mailbox.html">
                                                    <div>
                                                        <i class="fa fa-envelope fa-fw"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <div class="text-center link-block">
                                                    <a href="notifications.html">
                                                        <strong>See All Alerts</strong>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                }
                                

                            @if (User.IsInRole("Admin")){                               

                                    <li class="dropdown" id="messageLi" onclick="openDropDown()">
                                        <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="fales"
                                            href="#" id="areaTrueFalse">
                                            <i class="fa fa-envelope"></i> <span class="label label-warning">
                                                @await Component.InvokeAsync("OrderEmployeeAdminVM")
                                        </a>
                                        <ul class="dropdown-menu dropdown-messages">
                                            <li>
                                                <div class="dropdown-messages-box">                                                   
                                                    <div class="media-body">
                                                        @await Component.InvokeAsync("OrderListAdmin")
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="divider"></li>

                                            <li>
                                                <div class="text-center link-block">
                                                    <a asp-controller="OrderEmployeeAdmins" asp-action="Index">
                                                        <i class="fa fa-envelope"></i> <strong>Посмотреть все сообщения</strong>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown" id="notificationLi" onclick="openDropDownNotif()">
                                        <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="fales"
                                            href="#" id="areaTrueFalseNotif">
                                            <i class="fa fa-bell"></i> <span class="label label-primary">
                                                @await Component.InvokeAsync("EventsCount", UserManager.GetUserId(User))
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-alerts">
                                            <li>
                                                <a href="#">
                                                    <div>
                                                        @await Component.InvokeAsync("Events", UserManager.GetUserId(User))
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <div class="text-center link-block">
                                                    <a href="notifications.html">
                                                        <a asp-controller="Account" asp-action="GetExpiringEvents">Все истекающие события</a>
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                }
                                

                                @if (SignInManager.IsSignedIn(User))
                                {

                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post"
                                        id="logoutForm" class="navbar-right">
                                        <button type="submit" class="btn btn-w-m btn-primary"
                                            style="margin-top: 15px; margin-right: 10px;"> <i
                                                class="fa fa-sign-out"></i>Выход</button>
                                    </form>
                                </li>

                                }
                                else
                                {
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Login"> <i
                                            class="fa fa-sign-out"></i>Вход</a>

                                </li>
                                }


                            </ul>
                        </nav>
                    </div>
                    <div class="container-fluid" style="background-color: white">

                        @RenderBody()

                    </div>


                </div>
                }
                else
                {
                <div class="">
                    @RenderBody()
                </div>
                }
            </div>
            <environment include="Development">
                <script src="~/js/jquery-3.1.1.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <!-- Mainly scripts -->
                <script src="~/js/jquery-3.1.1.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <!-- <script src="~/js/plugins/metisMenu/metisMenu.js"></script> -->
                <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                <!-- Peity -->
                <script src="~/js/plugins/peity/jquery.peity.min.js"></script>
                <!-- Custom and plugin javascript -->
                <script src="~/js/inspinia.js"></script>
                <script src="~/js/plugins/pace/pace.min.js"></script>
                <!-- iCheck -->
                <script src="~/js/plugins/iCheck/icheck.min.js"></script>
                <!-- Peity -->
                <script src="~/js/demo/peity-demo.js"></script>
                <script src="~/js/inspinia.js"></script>

                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>

            <environment exclude="Development">
                <script src="~/js/jquery-3.1.1.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <!-- Mainly scripts -->
                <script src="~/js/jquery-3.1.1.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
                <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                <!-- Peity -->
                <script src="~/js/plugins/peity/jquery.peity.min.js"></script>
                <!-- Custom and plugin javascript -->
                <script src="~/js/inspinia.js"></script>
                <script src="~/js/plugins/pace/pace.min.js"></script>
                <!-- iCheck -->
                <script src="~/js/plugins/iCheck/icheck.min.js"></script>
                <!-- Peity -->
                <script src="~/js/demo/peity-demo.js"></script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("Scripts", required: false)
        </body>

        </html>


        <script>

            function openDropDown() {
                var doc = document;

                var messageLiS = doc.getElementById('messageLi');
                if (messageLiS.className == "dropdown") {
                    messageLiS.className = "dropdown open"
                } else {
                    messageLiS.className = "dropdown"
                }



                var x = document.getElementById("areaTrueFalse").getAttribute("aria-expanded");
                if (x == "true") {
                    x = "false"
                }
                else {
                    x = "true"
                }
                document.getElementById("areaTrueFalse").setAttribute("aria-expanded", x);
            }

            function openDropDownNotif() {
                var doc = document;

                var messageLiS = doc.getElementById('notificationLi');
                if (messageLiS.className == "dropdown") {
                    messageLiS.className = "dropdown open"
                } else {
                    messageLiS.className = "dropdown"
                }



                var x = document.getElementById("areaTrueFalseNotif").getAttribute("aria-expanded");
                if (x == "true") {
                    x = "false"
                }
                else {
                    x = "true"
                }
                document.getElementById("areaTrueFalseNotif").setAttribute("aria-expanded", x);
            }

//pace-done mini-navbar


        </script>