﻿
<input type="hidden" name="entity-id" id="entity-id" />
<input type="hidden" name="entity-count" id="entity-count" />

<!-- User Delete Pop Up Window End -->
<!-- User Confirm Pop Up Window -->
<div style="display: none;" id="user-confirm-popup" class="ban-pop-up-window">
    <form action="#" id="user-delete-form">
        <div class="form-inner-wrap">
            <div class="title">Сбросить пароль выбранным пользователям?</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close id="closeDialogReset">Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<div style="display: none;" id="user-delete-popup" class="ban-pop-up-window">
    <form action="#" id="user-deleteReport-form">
        <div class="form-inner-wrap">
            <div class="title">Удалить выбранные запросы?</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<div style="display: none;" id="user-aproove-popup" class="ban-pop-up-window">
    @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { id = "user-aproove-form" }))
    {
        <div class="form-inner-wrap">
            <input hidden="hidden" name="PhoneFilterList" id="phone-list"/>
            <div class="title">В списке есть неподтвержденные пользователи, подтвердить их?</div>
            <div class="error-message">
                <span></span>
            </div>
            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    }
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Confirm Pop Up Window End -->