﻿@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.SupportFilteredModel
@{
    ViewBag.Title = "Поддержка";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content support-page-content">
        <div class="container-fluid">
            <div class="content-header">

                @using (Html.BeginForm("Index", "Support", FormMethod.Post, new { id = "filter-form" }))
                {
                <div class=" d-flex justify-content-center">
                    <div class="st-column num-list">
                        <div class="filter-item-title"></div>
                        <div class="num-list-icon">
                            <img src="/Content/img/a-z.png" alt="">
                        </div>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">E-mail</div>
                        @Html.EditorFor(model => model.Filter.Email)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Телефон</div>
                        @Html.EditorFor(model => model.Filter.PhoneNumber)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата запроса</div>
                        @Html.TextBoxFor(model => model.Filter.DateFrom, new { name = "news_published_date_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.DateTo, new { name = "news_published_date_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })

                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Отправили ответ</div>
                        @Html.EditorFor(model => model.Filter.IsAnswered, "SearchAnsweredStatus")
                    </div>
                    <div class="st-column message-column">
                        <div class="filter-item-title">Сообщение</div>
                        @Html.TextBoxFor(model => model.Filter.Body)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title"></div>
                        <button type="submit" class="st-button apply-btn border-primary bg-primary text-white"><span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon></button>
                        <button type="button" class="st-button reset-btn"><span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon></button>
                    </div>
                </div>
                }@Html.PagedListPager(Model.Supports, page => Url.Action("Index", new
                {
                    Model.Filter.Email,
                    Model.Filter.IsAnswered,
                    Model.Filter.DateFrom,
                    Model.Filter.DateTo,
                    Model.Filter.PhoneNumber,
                    Model.Filter.Body,
                    page
                }), new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] { "pagination" },
                    UlElementClasses = new[] { "" }
                })
            </div>

            <div class="content-body">
                @foreach (var item in Model.Supports)
                {
                    using (Html.BeginForm("Edit", "Support", FormMethod.Post, new {@class = "entity-edit"}))
                     {
                         @Html.AntiForgeryToken()
                         <div class="st-row st-user">
                             <div class="d-flex justify-content-center st-user-header">
                                 <div class="st-column num-list">
                                     @Html.HiddenFor(modelItem=>item.Id)
                                     <span class="txt">@item.Id</span>
                                 </div>
                                 <div class="st-column">
                                     @Html.TextBoxFor(modelItem => item.Email, new { @class = "user_edit_items", disabled = "disabled" })
                                 </div>
                                 <div class="st-column">
                                     @Html.TextBoxFor(modelItem => item.Phone, new { @class = "user_edit_items", disabled = "disabled" })
                                 </div>
                                 <div class="st-column">
                                     @Html.TextBoxFor(modelItem => item.CreationDate, "{0:dd/MM/yyyy}", new { id = "cretionDate_"+ item.Id, @class = "user_edit_items datepicker", disabled = "disabled" })
                                 </div>
                                 <div class="st-column">
                                     <span class="support-answered" data-support-isanswered="@item.IsAnswered"></span>
                                     @Html.EditorFor(modelItem => item.IsAnswered, "AnsweredStatus")
                                 </div>
                                 <div class="st-column message-column">
                                     @Html.TextAreaFor(modelItem => item.Body, new { @class = "user_edit_items", disabled = "disabled" })
                                 </div>
                                 <div class="st-column btn-column">
                                     <button type="button" class="support-edit border-info bg-info text-white">Редактировать</button>
                                     <button type="submit" class="support-save border-success bg-success text-white" hidden>Сохранить</button>
                                     <button type="reset" class="support-change-abort border-warning bg-warning text-white" hidden>Отмена</button>
                                 </div>
                             </div>
                         </div>
                     }
                }


            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/support-page-{BundleConfig.Version}")
}