﻿
@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.SupportFilteredModel
@Html.Partial("_SidebarPartial")
<div class="content support-page-content">
    <div class="container-fluid">
        <div class="content-header">
            @using (Html.BeginForm("ResetUserPasswordIndex", "Support", FormMethod.Post, new { id = "filter-form" }))
            {
                <div class=" d-flex justify-content-center">
                    <div class="st-column checkbox-column"></div>
                    <div class="st-column num-list">
                        <div class="filter-item-title"></div>
                        <div class="num-list-icon">
                            <img src="img/a-z.png" alt="" />
                        </div>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">E-mail</div>
                        @Html.EditorFor(model => model.Filter.Email)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Телефон</div>
                        @Html.TextBoxFor(model => model.Filter.PhoneNumber, new {type="number"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата запроса</div>
                        @Html.TextBoxFor(model => model.Filter.DateFrom, new { name = "news_published_date_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                        @Html.TextBoxFor(model => model.Filter.DateTo, new { name = "news_published_date_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                    </div>
                    <div class="st-column message-column">
                        <div class="filter-item-title">Сообщение</div>
                        @Html.TextAreaFor(model => model.Filter.Body)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">
                        </div>
                        <button type="submit"
                                class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button reset-btn">
                            <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
            }
            @Html.PagedListPager(Model.Supports, page => Url.Action("ResetUserPasswordIndex", new
            {
                Model.Filter.Email,
                Model.Filter.IsAnswered,
                Model.Filter.DateFrom,
                Model.Filter.DateTo,
                Model.Filter.PhoneNumber,
                Model.Filter.Body,
                page
            }), new PagedListRenderOptions()
            {
                Display = PagedListDisplayMode.IfNeeded,
                ContainerDivClasses = new[] { "pagination" },
                UlElementClasses = new[] { "" }
            })
        </div>
        <div class="content-body">
            @{
                for (int i = 0; i < Model.Supports.Count; i++)
                {
                    using (Html.BeginForm("ResetUserPasswordConfirm", "Support", FormMethod.Post, new {enctype = "multiart/form-data", @class = "entity-edit"}))
                    {
                        <div class="st-row st-user">
                            <div class="d-flex justify-content-center st-user-header">
                                <input hidden value="@Model.Supports[i].UserId" class="userId"/>
                                <div class="st-column checkbox-column" id="operation-checkbox-column">
                                    @Html.HiddenFor(modelItem => Model.Supports[i].Id)
                                    <input type="checkbox" class="operation_checkbox" id="operation_checkbox_@Model.Supports[i].Id">
                                </div>
                                <div class="st-column num-list">
                                    @Html.TextBoxFor(model => model.Supports[i].Id, new {@class = "txt", disabled = "disabled"})
                                </div>
                                <div class="st-column">
                                    @Html.TextBoxFor(model => model.Supports[i].Email, new {name = "email", @class = "user_edit_items", disabled = "disabled"})
                                </div>
                                <div class="st-column">
                                    @Html.TextBoxFor(model => model.Supports[i].Phone, new {@class = "user_edit_items", name = "email", disabled = "disabled"})
                                </div>
                                <div class="st-column">
                                    @Html.TextBoxFor(model => model.Supports[i].CreationDate, new {@class = "datepicker", name = "registration_date user_edit_items", disabled = "disabled"})
                                </div>
                                <div class="st-column message-column">
                                    @Html.TextAreaFor(model => model.Supports[i].Body, new {id = "", @class = "filter-item-title", disabled = "disabled"})
                                </div>
                                <div class="st-column btn-column"></div>
                            </div>
                            <div class="st-user-body">
                                    <div>
                                        <div class="statistic-filter">
                                            <div class="txt">История сбросов</div>
                                        </div>
                                        <div class="table-wrap">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Почта</th>
                                                        <th>Телефон</th>
                                                        <th>Дата запроса</th>
                                                        <th>Сообщение</th>
                                                        <th>Статус запроса</th>
                                                        <th>Дата обработки запроса</th>
                                                        <th>Статус удаления</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="requestHistoryList">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="users-control-menu">
    <h5>
        Количество выбранных пользователей:
        <div id="checked-users-amount">0</div>
    </h5>
    <ul>
        <li>
            <a href="#" class="menu-item-confirm" data-fancybox data-src="#user-confirm-popup"><ion-icon name="done-all"></ion-icon> <span>Сбросить</span></a>
        </li>
        <li>
            <a href="#" class="menu-item-confirm" data-fancybox data-src="#user-delete-popup"><ion-icon name="done-all"></ion-icon> <span>Удалить</span></a>
        </li>
        <li style="display: none">
            <a href="#" id="aproove-user" class="menu-item-confirm" data-fancybox data-src="#user-aproove-popup"><ion-icon name="done-all"></ion-icon> <span>Aproove</span></a>
        </li>
        <!-- <li>
            <a href="#" class="menu-item-force-delete" data-fancybox data-src="#user-force-delete-popup"><ion-icon name="trash"></ion-icon> <span>Удалить навсегда</span></a>
        </li>-->
    </ul>
</div>



@Html.Partial("_MenuDialogsPartial")
@section Scripts {
    @Scripts.Render($"~/bundles/js/support-page-{BundleConfig.Version}")
}