﻿@model StayTrueWebAdmin.Models.EditModels.FortuneProductsEditModel

<div class="st-row st-news st-product" style="display: none">

    @using (Html.BeginForm("CreateProduct", "FortuneProducts", FormMethod.Post, new { id = "createProductForm", enctype = "multipart/form-data" }))
    {
        <div class="news-top">
            <div class="news-title news-top-column">
                @Html.TextBoxFor(model => model.Name, new { @class = "news_edit_items new-title-field", placeholder = "Название товара"})
            </div>
            <div class="new-section news-top-column">
                @Html.EditorFor(model => model.Type, "FortuneProductType")
            </div>
            <div class="news-date news-top-column">
                @Html.TextBoxFor(model => model.CreationDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "news_edit_items timepicker"})
            </div>
        </div>
        <div class="news-midddle">
            <div class="news-middle-column">
                <div class="st-upload product_img_upload edit" style="background-image: url(/Content/img/upload-plus.png)">
                    <label for="productImage"></label>
                    <input type="file" id="productImage" accept='image/*' name="Image" class="st-upload-input user_edit_items">
                </div>
            </div>
            <div class="news-middle-column info">
                <p>
                    <span>Стоимость:</span>
                    <span>
                        @Html.TextBoxFor(model => model.Cost, new { @class = "news_edit_items" })
                    </span>
                </p>
                <p>
                    <span>Количество:</span>
                    <span>
                        @Html.TextBoxFor(model => model.Quantity, new { @class = "news_edit_items", disabled = "disabled" })
                    </span>
                </p>
            </div>
            <div class="btn-row shop-btns">
                <div class="st-btn">
                    <button type="button" class="product-add-abort bg-warning border-warning">Отмена</button>
                </div>

                <div class="st-btn">
                    <button class="product-add-btn bg-success border-success">Добавить</button>
                </div>
            </div>
        </div>
    }
</div>
