﻿@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions

@model  StayTrueWebAdmin.Models.FilterModels.FortuneProductsFilteredModel
@{
    ViewBag.Title = "Товары. Колесо фортуны";
}

@section styles{
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}

<div class="wrap">
@Html.Partial("_SidebarPartial")
<div class="content">
    <div class="container-fluid">
        <div class="content-header">
            @using (Html.BeginForm("Index", "FortuneProducts", FormMethod.Get, new {id = "FilterForm"}))
            {
                <div class=" d-flex justify-content-center">
                    <div class="st-column">
                        <div class="filter-item-title">Название</div>
                        @Html.TextBoxFor(model => model.Filter.Name, new {placeHolder = "Название"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата публикации</div>
                        @Html.TextBoxFor(model => model.Filter.DateFrom, new {@class = "timepicker", placeHolder = "от дд/мм/гггг"})
                        @Html.TextBoxFor(model => model.Filter.DateTo, new {@class = "timepicker", placeHolder = "до дд/мм/гггг"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Стоимость</div>
                        @Html.TextBoxFor(model => model.Filter.CostFrom, new {@class = "textbox", type = "number"})
                        @Html.TextBoxFor(model => model.Filter.CostTo, new {@class = "textbox", type = "number"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Количество</div>
                        @Html.TextBoxFor(model => model.Filter.QuantityFrom, new {@class = "textbox", type = "number"})
                        @Html.TextBoxFor(model => model.Filter.QuantityTo, new {@class = "textbox", type = "number"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Тип</div>
                        @Html.EditorFor(model => model.Filter.Type, "FortuneProduct")
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title"></div>
                        <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span>
                            <ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>

                        <button type="button" class="st-button reset-btn">
                            <span>Сбросить</span>
                            <ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="content-body">
            <div id="add-product" class="add-new-wrap">
                <div id="add-new-tgl">
                    <span></span>
                    <span>Добавить товар</span>
                </div>
                @Html.Action("CreateProduct", "FortuneProducts")
            </div>

            @foreach (var item in Model.Products)
            {
                <div class="st-row st-news st-product">
                    @using (Html.BeginForm("Edit", "FortuneProducts", FormMethod.Post, new {enctype = "multipart/form-data", @class = "entity-edit"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => item.Id)
                        <div class="news-top">
                            <div class="news-title news-top-column">
                                @Html.TextBoxFor(modelItem => item.Name, new {@class = "news_edit_items new-title-field", placeholder = "Название товаар", disabled = "disabled"})
                            </div>
                            <div class="new-section news-top-column">
                                @Html.EditorFor(modelItem => item.Type, "FortuneProductType")
                            </div>
                            <div class="news-date news-top-column">
                                @Html.TextBoxFor(modelItem => item.CreationDate, "{0:dd/MM/yyyy HH:mm}", new {@class = "news_edit_items timepicker", disabled = "disabled"})
                            </div>
                        </div>
                        <div class="news-midddle">
                            <div class="news-middle-column">
                                <div class="st-upload product_img_upload" style="background-image: url(@ViewBag.DirectoryPath/@item.Image)">
                                    <a href=@($"{ViewBag.DirectoryPath}/{item.Image}") data-fancybox></a>
                                    <label for="productImage_@item.Id"></label>
                                    <input type="file" id="productImage_@item.Id" accept='image/*' name="Image" class="st-upload-input user_edit_items">
                                </div>
                            </div>
                            <div class="news-middle-column info" id="custom-product properties">
                                <p>
                                    <span>Количество:</span>
                                    <span>
                                        @Html.TextBoxFor(modelItem => item.Quantity, new {@class = "news_edit_items", disabled = "disabled"})
                                    </span>
                                </p>
                                <p>
                                    <span>Стоимость:</span>
                                    <span>
                                        @Html.TextBoxFor(modelItem => item.Cost, new {@class = "news_edit_items", disabled = "disabled"})
                                    </span>
                                </p>
                            </div>

                            <div class="btn-row shop-btns">
                                <div class="st-btn">
                                    <button type="button" class="product-history bg-primary border-primary">История покупки</button>
                                </div>
                                <div class="st-btn">
                                    <button class="delete-btn bg-danger delete-btn" data-id="@item.Id" data-fancybox data-src="#delete-popup" hidden>Удалить</button>
                                </div>
                                <div class="st-btn">
                                    <button type="button" class="bg-warning border-warning product-abort" hidden>Отмена</button>
                                </div>
                                <div class="st-btn">
                                    <button type="button" class="product-edit bg-info border-info">Редактировать</button>
                                    <button type="submit" class="product-save bg-success border-success" hidden>Сохранить</button>
                                </div>
                            </div>
                        </div>
                        <div class="news-bottom">

                            <div class="btn-row shop-btns">
                                <div class="st-btn">
                                    <input type="number" class="inputValue" placeholder="Номер телефона"/>
                                </div>
                                <div class="filterButton">
                                    <a href="#" type="button" class="filter-shop-btn">Отфильтровать</a>
                                </div>
                                <div class="resetFilterButton">
                                    <a href="#" type="button" class="filter-shop-btn">Сбросить</a>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-header">
                                    <div class="st-row">
                                        <div class="st-column">Кто купил</div>
                                        <div class="st-column">Телефон</div>
                                        <div class="st-column">Дата выигрыша</div>
                                        <div class="st-column">Цена</div>
                                        <div class="st-column">Кем выдан</div>
                                        <div class="st-column">Статус</div>
                                        <div class="st-column"></div>
                                    </div>
                                </div>

                                <div class="list-body">
                                    @foreach (var history in item.FortunePurchasesHistory)
                                    {
                                        using (Html.BeginForm("EditShopHistory", "FortuneProducts", FormMethod.Post, new {id = "purchase-history-form", @class = "formShopPage"}))
                                        {
                                            <div class="st-row tableList">
                                                <div class="st-column">
                                                    @Html.HiddenFor(modelItem => history.Id)
                                                    @Html.DisplayFor(modelItem => history.Users.FirstName)
                                                    @Html.DisplayFor(modelItem => history.Users.LastName)
                                                </div>
                                                <div class="st-column">
                                                    @Html.DisplayFor(modelItem => history.Users.Phone)
                                                </div>
                                                <div class="st-column">
                                                    @Html.DisplayFor(modelItem => history.CreationDate)
                                                    <!--<input type="text" value="20/08/2018" class="datepicker history-edit-item" disabled>-->
                                                </div>
                                                <div class="st-column">
                                                    @Html.DisplayFor(modelItem => history.Cost)
                                                </div>
                                                <div class="st-column">
                                                    <span id="history_administrator_name">
                                                        @Html.DisplayFor(modelItem => history.Administrators.LastName)
                                                        @Html.DisplayFor(modelItem => history.Administrators.FirstName)
                                                    </span>
                                                </div>
                                                <div class="st-column">
                                                    <span id="history_purchase_status" data-statusid="@history.StatusId"></span>
                                                    @Html.DropDownListFor(modelItem => history.StatusId, (SelectList) ViewBag.PurchaseStatuses, new {@class = "list_status history-edit-item", disabled = "disabled"})
                                                </div>
                                                <div class="st-column">
                                                    <button type="button" class="history-item-edit text-white bg-info border-info">Редактировать</button>
                                                    <button type="submit" class="history-item-save text-white bg-success border-success" hidden>Сохранить</button>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new
        {
            Model.Filter.ProductId,
            DateFrom = Model.Filter.DateFrom.ToShortDateString(),
            DateTo = Model.Filter.DateTo.ToShortDateString(),
            Model.Filter.CostFrom,
            Model.Filter.CostTo,
            Model.Filter.Name,
            Model.Filter.QuantityFrom,
            Model.Filter.QuantityTo,
            Model.Filter.Type,
            page
        }), new PagedListRenderOptions()
        {
            Display = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] {"pagination"},
            UlElementClasses = new[] {""}
        })
    </div>
</div>
</div>
@Html.Partial("_DeleteConfirmDialogPartial")

@section scripts
{
    @Scripts.Render($"~/bundles/js/fortune-products-page-{BundleConfig.Version}")
}