﻿@model StayTrueWebAdmin.Models.EditModels.PushNotificationEditModel
<div style="display: none;" id="sms-send-popup" class="ban-pop-up-window">
    @using (Html.BeginForm("CreateNotification", "Push", FormMethod.Post, new { id = "push-notification-form" }))
    {
        <div class="form-inner-wrap">
            <div class="users-amount">Выбрано пользователей: <span id="popup-selected-users">1245</span></div>
            @Html.DropDownListFor(model => model.TemplateId, ViewBag.PushNotifications as IEnumerable<SelectListItem>, "Выберите шаблон", new { @class = "sms-pattern", id = "push-templates" })
            @Html.TextBoxFor(model => model.Title, new { id = "push-title", style = "width:100%" })
            @Html.TextAreaFor(model => model.Content, new {id = "push-content"})
            <div class="form-footer">
                <div class="send-date">
                    <span>Время отправки уведомления </span>
                    @Html.TextBoxFor(model => model.SendTime, "{0:dd/MM/yyyy HH:mm}", new { @class = "timepicker", placeHolder = "дд/мм/гггг" })
                </div>
                <div class="st-btn">
                    <button type="submit" class="border-succes bg-success text-white">Отправить</button>
                    <button type="button" data-fancybox-close class="border-danger bg-danger text-white">Отмена</button>
                </div>
            </div>
        </div>
    }
</div>