﻿@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.PushFilteredModel
<div id="content">
    <div class="content-header">
        @using (Html.BeginForm("Index", "Push", FormMethod.Post, new {id = "FilterForm"}))
        {
            <div class=" d-flex">
                <div class="st-column checkbox-column">
                    <div class="filter-item-title"></div>
                    @Html.CheckBoxFor(model => model.Filter.IsAllSelected, new {id = "select-all-users"})
                </div>
                <div class="st-column num-list">
                    <div class="filter-item-title"></div>
                    <div class="num-list-icon">
                        <img src="/Content/img/a-z.png" alt="">
                    </div>
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Имя</div>
                    @Html.TextBoxFor(model => model.Filter.FirstName)
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Фамилия</div>
                    @Html.TextBoxFor(model => model.Filter.LastName)
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Дата рождения</div>
                    @Html.TextBoxFor(model => model.Filter.BirthDateFrom, "{0:dd/MM/yyyy}", new {@class = "datepicker", placeHolder = "от дд/мм/гггг"})
                    @Html.TextBoxFor(model => model.Filter.BirthDateTo, "{0:dd/MM/yyyy}", new {@class = "datepicker", placeHolder = "до дд/мм/гггг"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">E-mail</div>
                    @Html.TextBoxFor(model => model.Filter.Email)
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Статус</div>
                    @Html.DropDownListFor(model => model.Filter.Status, Model.AccountStatuses, "Все", new {@class = "st-selectize"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Город</div>
                    @Html.DropDownListFor(model => model.Filter.City, Model.Cities, "Все", new {@class = "st-selectize"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Кол-во посещений сайта</div>
                    @Html.TextBoxFor(model => model.Filter.StpFrom, new {placeholder = ""})
                    @Html.TextBoxFor(model => model.Filter.StpTo, new {placeholder = ""})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Кол-во посещений приложения</div>
                    @Html.TextBoxFor(model => model.Filter.StmFrom, new {placeholder = ""})
                    @Html.TextBoxFor(model => model.Filter.StmTo, new {placeholder = ""})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Дата регистрации</div>
                    @Html.TextBoxFor(model => model.Filter.RegistrationDateFrom, "{0:dd/MM/yyyy HH:mm}", new {@class = "timepicker", placeHolder = "от дд/мм/гггг"})
                    @Html.TextBoxFor(model => model.Filter.RegistrationDateTo, "{0:dd/MM/yyyy HH:mm}", new {@class = "timepicker", placeHolder = "до дд/мм/гггг"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Последнее посещение прил.</div>
                    @Html.TextBoxFor(model => model.Filter.LastSignInFromM, "{0:dd/MM/yyyy HH:mm}", new {@class = "timepicker", placeHolder = "от дд/мм/гггг"})
                    @Html.TextBoxFor(model => model.Filter.LastSignInToM, "{0:dd/MM/yyyy HH:mm}", new {@class = "timepicker", placeHolder = "до дд/мм/гггг"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Последнее посещение сайта</div>
                    @Html.TextBoxFor(model => model.Filter.LastSignInFromP, "{0:dd/MM/yyyy HH:mm}", new {@class = "timepicker", placeHolder = "от дд/мм/гггг"})
                    @Html.TextBoxFor(model => model.Filter.LastSignInToP, "{0:dd/MM/yyyy HH:mm}", new {@class = "timepicker", placeHolder = "до дд/мм/гггг"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Номер телефона</div>
                    @Html.TextBoxFor(model => model.Filter.PhoneNumber, new {placeholder = "Телефон"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">Кол-во Wincoins</div>
                    @Html.TextBoxFor(model => model.Filter.WincoinsFrom, new {placeholder = ""})
                    @Html.TextBoxFor(model => model.Filter.WincoinsTo, new {placeholder = "", type = "number"})
                </div>
                <div class="st-column">
                    <div class="filter-item-title">
                    </div>
                    <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                        <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                    </button>
                    <button type="button" class="st-button reset-btn" id = "reset-filter">
                        <span>Сбросить</span>
                        <ion-icon name="ios-close-circle"></ion-icon>
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="content-body">
        @foreach (var item in Model.Users)
        {
            using (Html.BeginForm("Edit", "Users", FormMethod.Post, new {enctype = "multiart/from-data", @class = "entity-edit"}))
            {
                <div class="st-row st-user">
                    @Html.AntiForgeryToken()
                    <div class="d-flex st-user-header">
                        <div class="st-column checkbox-column" id="operation-checkbox-column">
                            @Html.HiddenFor(modelItem => item.Id)
                            <input type="checkbox" class="operation_checkbox" id="operation_checkbox_@item.Id">
                        </div>
                        <div class="st-column num-list">
                            <span class="txt">
                                @Html.DisplayFor(modelItem => @item.Id)
                            </span>
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.FirstName, new {@class = "user_edit_items", disabled = "disabled", required = "required"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.LastName, new {@class = "user_edit_items", disabled = "disabled", required = "required"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.BirthDate, "{0:dd/MM/yyyy}", new {id = "birth_date_" + item.Id, @class = "datepicker user_edit_items", disabled = "disabled", placeholder = "дд/мм/гггг", required = "required"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.Email, new {@class = "user_edit_items", disabled = "disabled"})
                        </div>
                        <div class="st-column">
                            <span class="user-status-data" data-status-id="@item.StatusId"></span>
                            @Html.DropDownListFor(modelItem => item.StatusId, Model.AccountStatuses, item.AccountStatuses.Status, new { id = "account_statuses_" + item.Id, @class = "user_edit_items", disabled = "disabled" })
                        </div>
                        <div class="st-column">
                            <span class="user-city-data" data-city-id="@item.CityId"></span>
                            @Html.DropDownListFor(modelItem => item.CityId, Model.Cities, item.Cities.CityName, new { @class = "user_edit_items", disabled = "disabled" })
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.SignInCounterP, new {@class = "user_edit_items", placeholder = "0", disabled = "disabled"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.SignInCounterM, new {@class = "user_edit_items", placeholder = "0", disabled = "disabled"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.RegistrationDate, "{0:dd/MM/yyyy HH:mm}", new {id = "registration_date_" + item.Id, @class = "timepicker user_edit_items", disabled = "disabled"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.LastSignInM, "{0:dd/MM/yyyy HH:mm}", new {id = "last_sign_inm_" + item.Id, @class = "timepicker user_edit_items", disabled = "disabled", placeholder = "дд/мм/гггг"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.LastSignInP, "{0:dd/MM/yyyy HH:mm}", new {id = "last_sign_inp_" + item.Id, @class = "timepicker user_edit_items", disabled = "disabled", placeholder = "дд/мм/гггг"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.Phone, new {@class = "user_edit_items", disabled = "disabled", required = "required"})
                        </div>
                        <div class="st-column">
                            @Html.TextBoxFor(modelItem => @item.Wincoins, new {@class = "user_edit_items", disabled = "disabled"})
                        </div>
                        <div class="st-column"></div>
                    </div>
                </div>
            }
        }
        <div id="content-list-pager">
            @Html.PagedListPager(Model.Users, page => Url.Action("GetUsers", "Push", new
            {
                Model.Filter.FirstName,
                Model.Filter.LastName,
                Model.Filter.BirthDateFrom,
                Model.Filter.BirthDateTo,
                Model.Filter.Email,
                Model.Filter.Status,
                Model.Filter.City,
                Model.Filter.PhoneNumber,
                Model.Filter.RegistrationDateFrom,
                Model.Filter.RegistrationDateTo,
                Model.Filter.LastSignInToM,
                Model.Filter.LastSignInFromM,
                Model.Filter.LastSignInToP,
                Model.Filter.LastSignInFromP,
                Model.Filter.StmFrom,
                Model.Filter.StmTo,
                Model.Filter.StpFrom,
                Model.Filter.StpTo,
                Model.Filter.WincoinsFrom,
                Model.Filter.WincoinsTo,
                page
            }), new PagedListRenderOptions()
            {
                Display = PagedListDisplayMode.IfNeeded,
                ContainerDivClasses = new[] {"pagination"},
                UlElementClasses = new[] {""}
            })
        </div>
    </div>
</div>
