﻿@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.PushFilteredModel
@{
    ViewBag.Title = "Push рассылка";
}
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content user-page-content">
        <div class="container-fluid">
            @Html.Action("GetUsers", "Push")
            <div class="users-control-menu">
                <h5>
                    Количество выбранных пользователей:
                    <div id="checked-users-amount">0</div>
                </h5>
                <ul>
                    <li>
                        <a href="#" class="menu-item-confirm" data-fancybox data-src="#sms-send-popup"><ion-icon name="done-all"></ion-icon> <span>Отправить</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@Html.Action("CreatePushNotification")
<input type="hidden" name="entity-id" id="entity-id" value="[]" />
<input type="hidden" name="entity-count" id="entity-count" value="0" />
@section Scripts {
    @Scripts.Render($"~/bundles/js/push-page-{BundleConfig.Version}")
}