﻿@using StayTrueWebAdmin.Models.FilterModels
@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions
@model QuizzAnswerFilteredModel
@{
    ViewBag.Title = "Ответы";
}
@Html.Partial("_SidebarPartial")
<div class="content support-page-content">
    <div class="container-fluid">
        <div class="content-header">
            @using (Html.BeginForm("Index", "QuizzSessionAnswer", FormMethod.Post, new { id = "filter-form" }))
            {
                <div class=" d-flex justify-content-center">
                    <div class="st-column num-list"></div>
                    <div class="st-column">
                        <div class="filter-item-title">Id</div>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Имя</div>
                        @Html.EditorFor(model => model.Filter.FirstName, new{id="nameFilter"})
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Фамилия</div>
                        @Html.EditorFor(model => model.Filter.LastName, new { id = "surnameFilter" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Телефон</div>
                        @Html.EditorFor(model => model.Filter.Phone, new { id = "phoneFilter" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Статус</div>
                        @Html.DropDownListFor(model => model.Filter.IsIssued, Model.Statuses, new { id = "isIssFilter" })
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Дата заполнения анкеты</div>
                        @Html.TextBoxFor(model => model.Filter.DateFrom, new {  @class = "datepicker", placeHolder = "от дд/мм/гггг", id="datefromFilter" })
                        @Html.TextBoxFor(model => model.Filter.DateTo, new {  @class = "datepicker", placeHolder = "до дд/мм/гггг",id="datetoFilter" })
                    </div>
                    <div class="st-column">
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title"></div>
                        <button type="submit"
                                class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button" id="templateFilterReset">
                            <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button" id="exportAnswers">
                            <span>Экспорт</span><ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                        Количество ответов: @Model.AnswersCount
                    </div>
                </div>
            }
        </div>
        <div class="content-body">
            @{
                foreach (var item in Model.Quizzes)
                {
                    <div class="st-row st-pattern">
                        <div class="d-flex justify-content-center st-pattern-header asnwer-list">
                            <div class="st-column num-list">
                                @Html.TextBoxFor(model => item.Id, new { type = "number", name = "pattern_title", @class = "user_edit_items userId", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.FirstName, new { type = "text", name = "pattern_title", @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.LastName, new { type = "text", name = "pattern_title", @class = "user_edit_items", disabled = "disabled", id = "createSmsTemplateText" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.Phone, new { type = "text", name = "pattern_title", @class = "user_edit_items", disabled = "disabled", id = "createSmsTemplateText" })
                            </div>
                            <div class="st-column">
                                @Html.DropDownListFor(model => item.IsIssued, new SelectList(Model.StatusesList.Select(x => new SelectListItem
                                { Value = x.Value, Text = x.Text }).ToList(), "Value", "Text", item.IsIssued),  new { @class = "user_edit_items answer-issued isIssued", disabled = "disabled" })
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(model => item.Date, new { @class = "user_edit_items", disabled = "disabled" })
                            </div>
                            <div class="st-column btn-column">
                                <button type="button"
                                        class="edit-answer pattern-edit border-info bg-info text-white">
                                    Редактировать
                                </button>
                                <button type="button"
                                        class="save-answer product-save bg-success border-success text-white" hidden="hidden">
                                    Сохранить
                                </button>
                            </div>
                        </div>
                    </div>
                }
                @Html.PagedListPager(Model.Quizzes, page => Url.Action("Index", new
                {
                    Model.Filter.FirstName,
                    Model.Filter.LastName,
                    Model.Filter.Phone,
                    Model.Filter.IsIssued,
                    Model.Filter.DateFrom,
                    Model.Filter.DateTo,       
                    page
                }), new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] {"pagination"},
                    UlElementClasses = new[] {""}
                })
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/quizz-answer-{BundleConfig.Version}")
}
