﻿@model StayTrueWebAdmin.Models.EditModels.CigaretteBrandsEditModel
@using (Html.BeginForm("Create", "CigaretteBrands", FormMethod.Post, new {@class = "add-new-pattern-form", id = "create-cigarette-brand", enctype = "multipart/from-data"}))
{
    <div class="st-row st-news" style="display: none">
        <div class="news-top">
            <div class="news-title news-top-column">
                <input type="text" name="title" value="Название 111 бренда" class="news_edit_items new-title-field"
                       placeholder="Название бренда"/>
            </div>
            <div class="news-top-column">
                <select class="news_edit_items" name="brand_num">
                    <option value="null" selected>Порядковый номер</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="news-top-column">
                <select class="news_edit_items" name="pack_size">
                    <option value="null" selected>Размер пачки</option>
                    <option value="Super">Super</option>
                    <option value="Сompact">Сompact</option>
                </select>
            </div>
            <div class="news-top-column">
                <input type="text" name="smola" value="test" class="news_edit_items" placeholder="Содержание смолы"/>
            </div>
            <div class="news-top-column">
                <input type="text" name="nikotin" value="test" class="news_edit_items" placeholder="Содержание никотина"/>
            </div>
            <div class="news-date news-top-column">
                <input type="text" name="date" value="11/05/2018" class="news_edit_items datepicker"/>
            </div>
            <div class="news-top-column">
                <select class="news_edit_items" name="status">
                    <option value="null" selected>Статус</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
        <div class="news-midddle">
            <div class="news-middle-column">
                <span>Превью для раздела на сайте</span>
                <div class="st-upload news_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                    <a href="img/news-img.jpg" data-fancybox></a>
                    <label for="web_section_1"></label>
                    <input type="file" id="web_section_1" accept="image/*" class="st-upload-input user_edit_items"/>
                </div>
            </div>
            <div class="news-middle-column">
                <span>Превью пачки для описания на сайте</span>
                <div class="st-upload news_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                    <a href="img/news-img.jpg" data-fancybox></a>
                    <label for="web_description_1"></label>
                    <input type="file" id="web_description_1" accept="image/*" class="st-upload-input user_edit_items"/>
                </div>
            </div>
            <div class="news-middle-column">
                <span>Превью пачки для раздела в приложении</span>
                <div class="st-upload news_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                    <a href="img/news-img.jpg" data-fancybox></a>
                    <label for="app_section_1"></label>
                    <input type="file" id="app_section_1" accept="image/*" class="st-upload-input user_edit_items"/>
                </div>
            </div>
            <div class="news-middle-column">
                <span>Превью пачки для описания в приложении</span>
                <div class="st-upload news_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                    <a href="img/news-img.jpg" data-fancybox></a>
                    <label for="app_description_1"></label>
                    <input type="file" id="app_description_1" accept="image/*" class="st-upload-input user_edit_items"/>
                </div>
            </div>
            <div class="news-middle-column">
                <span>Превью пачки для админки</span>
                <div class="st-upload news_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                    <a href="img/news-img.jpg" data-fancybox></a>
                    <label for="web_admin_1"></label>
                    <input type="file" id="web_admin_1" accept="image/*" class="st-upload-input user_edit_items"/>
                </div>
            </div>
            <div class="news-middle-column">
                <div class="brand-icon-advantages">
                    <div class="advantage-item">
                        <div class="st-upload icon_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                            <a href="img/news-img.jpg" data-fancybox></a>
                            <label for="icon_1"></label>
                            <input type="file" id="icon_1" accept="image/*" class="st-upload-input user_edit_items"/>
                        </div>
                        <input type="text" class="news_edit_items" placeholder="текст"/>
                    </div>
                    <div class="advantage-item">
                        <div class="st-upload icon_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                            <a href="img/news-img.jpg" data-fancybox></a>
                            <label for="icon_2"></label>
                            <input type="file" id="icon_2" accept="image/*" class="st-upload-input user_edit_items"/>
                        </div>
                        <input type="text" class="news_edit_items" placeholder="текст"/>
                    </div>
                    <div class="advantage-item">
                        <div class="st-upload icon_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                            <a href="img/news-img.jpg" data-fancybox></a>
                            <label for="icon_3"></label>
                            <input type="file" id="icon_3" accept="image/*" class="st-upload-input user_edit_items"/>
                        </div>
                        <input type="text" class="news_edit_items" placeholder="текст"/>
                    </div>
                    <div class="advantage-item">
                        <div class="st-upload icon_img_upload edit" style="background-image: url(img/news-web-image-upload.png)">
                            <a href="img/news-img.jpg" data-fancybox></a>
                            <label for="icon_4"></label>
                            <input type="file" id="icon_4" accept="image/*" class="st-upload-input user_edit_items"/>
                        </div>
                        <input type="text" class="news_edit_items" placeholder="текст"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-bottom">
            <div class="text-content">
                <div class="news-checkboxes-on-editor">
                    <div class="mark-as-main item">
                        <input type="checkbox"
                               class="checkbox"
                               name="as_main_news"
                               id="main-news-add"/>
                        <label class="testlabel" for="main-news-add">Главная новость</label>
                    </div>
                    <div class="news-visibility item">
                        <input type="checkbox"
                               class="checkbox"
                               name="as_main_news"
                               id="news-visibility-add"/>
                        <label class="testlabel" for="news-visibility-add">Показать новость</label>
                    </div>
                </div>
                <textarea class="summernote"></textarea>
            </div>
            <div class="btn-row row no-gutters">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="center-btns btns-wrap">
                        <div class="st-btn">
                            <button type="reset" class="news-adding-abort">
                                Отмена
                            </button>
                        </div>
                        <div class="st-btn">
                            <button type="button"
                                    class="bg-success border-success news-add-btn">
                                Опубликовать
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
}