﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  StayTrueWebAdmin.Models.EditModels.CigaretteBrandsEditModel

@{
    ViewBag.Title = "Бренды";
}

<div class="wrap">
    <div class="content brand-packs">
        <div class="container-fluid">
            <div class="content-body">
                @using (Html.BeginForm("Edit", "CigaretteBrands", FormMethod.Post, new {@class = "add-new-pattern-form", id = "edit-cigarette-brand-form", enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id, new {id = "brand-id"})
                    <div class="st-row st-news">
                        <div class="news-top">
                            <div class="news-title news-top-column">
                                @Html.TextBoxFor(model => model.BrandName, new {@class = "news_edit_items new-title-field", placeholder = "Название бренда"})
                            </div>
                            <div class="news-top-column">
                                @Html.TextBoxFor(model => model.CompanyBrand, new {@class = "news_edit_items", placeholder = "Бренд компании"})
                            </div>
                            <div class="news-top-column">
                                @Html.DropDownListFor(model => model.BrandPosition, ViewBag.Positions as SelectList, "Порядковый номер", new {@class = "news_edit_items"})
                            </div>
                            <div class="news-top-column">
                                @Html.DropDownListFor(model => model.PackSize, ViewBag.PackSizes as SelectList, "Размер пачки", new {@class = "news_edit_items"})
                            </div>
                            <div class="news-top-column">
                                @Html.TextBoxFor(model => model.Tar, new {@class = "news_edit_items", placeholder = "Содержание смолы"})
                            </div>
                            <div class="news-top-column">
                                @Html.TextBoxFor(model => model.Nicotine, new {@class = "news_edit_items", placeholder = "Содержание никотина"})
                            </div>
                            <div class="news-top-column">
                                @Html.EditorFor(model => model.IsActive, "IsActiveStatus")
                            </div>
                        </div>
                        <div class="news-midddle">
                            <div class="news-middle-column">
                                <span>Превью для раздела на сайте</span>
                                <div class="st-upload news_img_upload edit" style="background-image: url(@Model.PathBrandImageP)">
                                    <a href="@Model.PathBrandImageP" data-fancybox></a>
                                    <label for="BrandImageP" id="BrandImagePLabel"></label>
                                    <input type="file" id="BrandImageP" name="BrandImageP" accept="image/*" class="st-upload-input user_edit_items"/>
                                    @Html.HiddenFor(model => model.PathBrandImageP)
                                </div>
                            </div>
                            <div class="news-middle-column">
                                <span>Превью пачки для описания на сайте</span>
                                <div class="st-upload news_img_upload edit" style="background-image: url(@Model.PathDescriptionImageP)">
                                    <a href="@Model.PathDescriptionImageP" data-fancybox></a>
                                    <label for="DescriptionImageP"></label>
                                    <input type="file" id="DescriptionImageP" name="DescriptionImageP" accept="image/*" class="st-upload-input user_edit_items"/>
                                    @Html.HiddenFor(model => model.PathDescriptionImageP)
                                </div>
                            </div>
                            <div class="news-middle-column">
                                <span>Превью пачки для раздела в приложении</span>
                                <div class="st-upload news_img_upload edit" style="background-image: url(@Model.PathBrandImageM)">
                                    <a href="@Model.PathBrandImageM" data-fancybox></a>
                                    <label for="BrandImageM"></label>
                                    <input type="file" id="BrandImageM" name="BrandImageM" accept="image/*" class="st-upload-input user_edit_items"/>
                                    @Html.HiddenFor(model => model.PathBrandImageM)
                                </div>
                            </div>
                            <div class="news-middle-column">
                                <span>Превью пачки для описания в приложении</span>
                                <div class="st-upload news_img_upload edit" style="background-image: url(@Model.PathDescriptionImageM)">
                                    <a href="@Model.PathDescriptionImageM" data-fancybox></a>
                                    <label for="DescriptionImageM"></label>
                                    <input type="file" id="DescriptionImageM" name="DescriptionImageM" accept="image/*" class="st-upload-input user_edit_items"/>
                                    @Html.HiddenFor(model => model.PathDescriptionImageM)
                                </div>
                            </div>
                            <div class="news-middle-column">
                                <span>Превью пачки для админки</span>
                                <div class="st-upload news_img_upload edit" style="background-image: url(@Model.PathAdminImage)">
                                    <a href="@Model.PathAdminImage" data-fancybox></a>
                                    <label for="AdminImage"></label>
                                    <input type="file" id="AdminImage" name="AdminImage" accept="image/*" class="st-upload-input user_edit_items"/>
                                    @Html.HiddenFor(model => model.PathAdminImage)
                                </div>
                            </div>
                            <div class="news-middle-column">
                                <div class="brand-icon-advantages">
                                    <div class="advantage-item">
                                        @{ var additionalImage = Model.PathAdditionalImage1 ?? "/Content/img/news-app-image-upload.png";}
                                        <div class="st-upload icon_img_upload edit addition-icon-href" style="background-image: url(@additionalImage)">
                                            <a class="addition-icon-href" href="@additionalImage" data-fancybox></a>
                                            <label for="AdditionalImage1"></label>
                                            <input type="file" id="AdditionalImage1" name="AdditionalImage1" accept="image/*" class="st-upload-input user_edit_items"/>
                                            @Html.Hidden("InputNumber", "1")
                                        </div>
                                        <div class="adition-icon-handlers">
                                            @Html.TextBoxFor(model => model.AdditionalInfo1, new {@class = "news_edit_items", placeholder = "текст"})
                                            <button class="delete-additional-image">Удалить</button>
                                        </div>
                                    </div>
                                    <div class="advantage-item">
                                        @{ additionalImage = Model.PathAdditionalImage2 ?? "/Content/img/news-app-image-upload.png";}
                                        <div class="st-upload icon_img_upload edit addition-icon-href" style="background-image: url(@additionalImage)">
                                            <a class="addition-icon-href" href="@additionalImage" data-fancybox></a>
                                            <label for="AdditionalImage2"></label>
                                            <input type="file" id="AdditionalImage2" name="AdditionalImage2" accept="image/*" class="st-upload-input user_edit_items" />
                                            @Html.Hidden("InputNumber", "2")
                                        </div>
                                        <div class="adition-icon-handlers">
                                            @Html.TextBoxFor(model => model.AdditionalInfo2, new {@class = "news_edit_items", placeholder = "текст"})
                                            <button class="delete-additional-image">Удалить</button>
                                        </div>
                                    </div>
                                    <div class="advantage-item">
                                        @{ additionalImage = Model.PathAdditionalImage3 ?? "/Content/img/news-app-image-upload.png";}
                                        <div class="st-upload icon_img_upload edit addition-icon-href" style="background-image: url(@additionalImage)">
                                            <a class="addition-icon-href" href="@additionalImage" data-fancybox></a>
                                            <label for="AdditionalImage3"></label>
                                            <input type="file" id="AdditionalImage3" name="AdditionalImage3" accept="image/*" class="st-upload-input user_edit_items" />
                                            @Html.Hidden("InputNumber", "3")
                                        </div>
                                        <div class="adition-icon-handlers">
                                            @Html.TextBoxFor(model => model.AdditionalInfo3, new {@class = "news_edit_items", placeholder = "текст"})
                                            <button class="delete-additional-image">Удалить</button>
                                        </div>
                                    </div>
                                    <div class="advantage-item">
                                        @{ additionalImage = Model.PathAdditionalImage4 ?? "/Content/img/news-app-image-upload.png";}
                                        <div class="st-upload icon_img_upload edit addition-icon-href" style="background-image: url(@additionalImage)">
                                            <a class="addition-icon-href" href="@additionalImage" data-fancybox></a>
                                            <label for="AdditionalImage4"></label>
                                            <input type="file" id="AdditionalImage4" name="AdditionalImage4" accept="image/*" class="st-upload-input user_edit_items" />
                                            @Html.Hidden("InputNumber", "4")
                                        </div>
                                        <div class="adition-icon-handlers">
                                            @Html.TextBoxFor(model => model.AdditionalInfo4, new {@class = "news_edit_items", placeholder = "текст"})
                                            <button class="delete-additional-image">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-bottom">
                            <div class="text-content" style="display: block;">
                                @Html.TextAreaFor(model => model.Description, new {@class = "summernote", style = "display:none;"})
                            </div>
                            <div class="btn-row row no-gutters">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <div class="center-btns btns-wrap">
                                        <div class="st-btn">
                                            <button type="submit" class="bg-danger border-danger" data-fancybox data-src="#brand-delete-popup">Удалить</button>
                                        </div>
                                        <div class="st-btn">
                                            <button type="button" id="create-brand-cancel">Отмена</button>
                                        </div>
                                        <div class="st-btn">
                                            <button type="submit" class="bg-success border-success news-add-btn">Опубликовать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_SidebarPartial")
</div>

<div style="display: none;" id="edit-warning" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Сохраните или отмените редактируемые данные!</div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="brand-delete-popup" class="ban-pop-up-window">
    <form action="#" id="delete-brand-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить бренд?</div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/brand-page-{BundleConfig.Version}")
}