﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  StayTrueWebAdmin.Models.FilterModels.CigaretteBrandsFilteredModel

@{
    ViewBag.Title = "Бренды";
}

<div class="wrap">
    <div class="content brand-packs">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "CigaretteBrands", FormMethod.Post, new {id = "FilterForm"}))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column">
                            <div class="filter-item-title">Название</div>
                            @Html.TextBoxFor(model => model.Filter.BrandName)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Дата создания</div>
                            @Html.TextBoxFor(model => model.Filter.CreationDateFrom, "{0:dd/MM/yyyy}", new {name = "news_published_date_min", @class = "timepicker", placeHolder = "от дд/мм/гггг"})
                            @Html.TextBoxFor(model => model.Filter.CreationDateTo, "{0:dd/MM/yyyy}", new {name = "news_published_date_max", @class = "timepicker", placeHolder = "до дд/мм/гггг"})
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Порядковый номер</div>
                            @Html.TextBoxFor(model => model.Filter.BrandPositionFrom)
                            @Html.TextBoxFor(model => model.Filter.BrandPositionTo)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.DropDownListFor(model => model.Filter.IsActive,
                                new List<SelectListItem>
                                {
                                    new SelectListItem {Value = "False", Text = "Неактивные"},
                                    new SelectListItem {Value = "True", Text = "Активные"}
                                }, "Все")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit"
                                    class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span>
                                <ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button reset-btn" id="reset-filter">
                                <span>Сбросить</span>
                                <ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div id="create-brand" class="add-new-wrap">
                    <div id="add-new-tgl" class="news-add">
                        <span></span>
                        <span>Добавить бренд</span>
                    </div>
                </div>
                @foreach (var item in Model.Brands)
                {
                    <div class="st-row st-gallery">
                        <div class="st-gallery-header">
                            @Html.HiddenFor(modelItem=>item.Id)
                            <div class="header-left">
                                <div class="gallery-thumbnail">
                                    <div class="st-upload"
                                         style="background-image: url(@item.AdminImage)">
                                        <a href="@item.AdminImage" data-fancybox></a>
                                        <label for="item_AdminImage"></label>
                                        <input type="file"
                                               id="item_AdminImage"
                                               accept="image/*"
                                               name="item_AdminImage"
                                               class="st-upload-input user_edit_items"/>
                                    </div>
                                </div>
                                <div class="gallery-title">
                                    @Html.TextBoxFor(modelItem => item.BrandName, new {disabled = "disabled"})
                                    <span>Порядковый номер: @Html.DisplayFor(modelItem => item.BrandPosition)</span>
                                </div>
                            </div>
                            <div class="header-right">
                                <div class="gallery-date">
                                    @Html.TextBoxFor(modelItem => item.CreationDate, "{0:dd/MM/yyyy HH:mm}", new {@class = "datepicker brand-date", disabled = "disabled"})
                                    <ion-icon name="calendar"></ion-icon>
                                </div>
                                @if (item.IsActive)
                                {
                                    <span class="text-success">Активно</span>
                                }
                                else
                                {
                                    <span class="text-danger">Неактивно</span>
                                }
                            </div>
                            <div class="gallery-btns">
                                <div class="st-btn">
                                    <button type="button"
                                            class="gallery-delete bg-danger border-danger"
                                            hidden>
                                        Удалить
                                    </button>
                                </div>
                                <div class="st-btn">
                                    <button type="button"
                                            class="gallery-edit-abort bg-warning border-warning"
                                            hidden>
                                        Отмена
                                    </button>
                                </div>
                                <div class="st-btn">
                                    <button type="button" class="brand-edit bg-info border-info" value="@item.Id">Редактировать</button>
                                    <button type="button"
                                            class="gallery-save bg-success border-succes"
                                            hidden>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model.Brands, page => Url.Action("Index", "CigaretteBrands", new
            {
                Model.Filter.BrandName,
                Model.Filter.CreationDateFrom,
                Model.Filter.CreationDateTo,
                Model.Filter.BrandPositionFrom,
                Model.Filter.BrandPositionTo,
                Model.Filter.IsActive,
                page
            }), new PagedListRenderOptions
            {
                Display = PagedListDisplayMode.IfNeeded,
                ContainerDivClasses = new[] {"pagination"},
                UlElementClasses = new[] {""}
            })
        </div>
    </div>
    @Html.Partial("_SidebarPartial")
</div>

<div style="display: none;" id="edit-warning" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Сохраните или отмените редактируемые данные!</div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="news-delete-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить бренд?</div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/brand-page-{BundleConfig.Version}")
}