﻿@using DataAccessLayer
@model IEnumerable<ChatGroups>

<!-- User Add To Char Group Pop Up Window -->
<div style="display: none;" id="user-add-to-chat-popup" class="ban-pop-up-window">
    <form action="@Url.Action("AddChatUsers", "Users")" id="user-add-to-chat-form">
        <div class="form-inner-wrap">
            @{int i = 0; }
            @foreach (ChatGroups chatGroups in Model)
            {
                i++;
                <div class="chatgroup hidden-group">
                    <div class="chatgroup-avatar" style="background-image: url(@chatGroups.Image);"></div>
                    <div class="chatgroup-content">
                        <div class="chatgroup-name">@chatGroups.Name</div>
                        <div class="chatgroup-date">Создан: @chatGroups.CreationDate.ToShortDateString()</div>
                        <div class="chatgroup-user-count"><span>@chatGroups.ChatPrivateGroupsUsers.Count</span> человек(а)</div>
                    </div>
                    <div class="chatgroup-checkbox-marker">
                        <input type="radio" id="group_@(chatGroups.Id)_mark" name="chatAddGroupId" class="chatgroup-mark" data-id="@chatGroups.Id" value="@chatGroups.Id" @(i == 1 ? "checked" : "") hidden data-hidden="1">
                        <label for="group_@(chatGroups.Id)_mark">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </label>
                    </div>
                </div>

            }

            <div class="st-btn">
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Add To Char Group Pop Up Window End -->
