﻿<input type="hidden" name="entity-id" id="entity-id" value="[]" />
<input type="hidden" name="entity-count" id="entity-count" value="0"/>

<div style="display: none;" id="edit-warning" class="ban-pop-up-window">
    <form action="#" id="canccel-form">
        <div class="form-inner-wrap">
            <div class="title">Сохраните или отмените редактируемые данные!</div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="user-ban-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы хотите забанить пользователя?</div>
            <div class="description">Данный пользователь не сможет заходить на сайт и в приложение пока не будет разбанен.</div>
            <div class="error-message">
                <span></span>
            </div>

            <textarea name="ban-warn-text" class="ban-warn-text" placeholder="Укажите причину бана. Этот текст будет отправлен пользователю на почту и виден ему при входе на сайт и приложение."></textarea>

            <div class="ban-period">
                <div class="ban-end-date item">
                    <span>Срок БАНа</span>
                    <input type="text" name="ban_end_date"  class="ban-end-date-input datepicker timepicker" placeholder="до дд/мм/гггг" autocomplete="off">
                </div>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="user-unban-popup" class="ban-pop-up-window">
    <form action="#" id="user-unban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы хотите разбанить пользователя?</div>
            <div class="description">Данные пользователи вновь смогут заходить на сайт и в приложение.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<!-- User Delete Pop Up Window -->
<div style="display: none;" id="user-delete-popup" class="ban-pop-up-window">
    <form action="#" id="user-delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите удалить выбранных пользователей?</div>
            <div class="description">Данные пользователи не смогут заходить на сайт и в приложение пока не будут восстановлены.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="user-force-delete-popup" class="ban-pop-up-window">
    <form action="#" id="force-delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите Навсегда удалить выбранных пользователей?</div>
            <div class="description">Данные пользователи будут удалены из базы навсегда и их нельзя будет восстановить.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Delete Pop Up Window End -->
<!-- User Confirm Pop Up Window -->
<div style="display: none;" id="user-confirm-popup" class="ban-pop-up-window">
    <form action="#" id="confirm-form">
        <div class="form-inner-wrap">
            <div class="title">Подтвердить выбранных пользователей?</div>
            <div class="description">Данные пользователи автоматически получат SMS с информацией о Логине и Пароле.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<!-- User Confirm Pop Up Window End -->