﻿@using DataAccessLayer
@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions
@using StayTrueWebAdmin.Helpers
@model StayTrueWebAdmin.Models.FilterModels.UsersFilteredModel
@{
    ViewBag.Title = "Пользователи";
}

<div class="wrap">
@Html.Partial("_SidebarPartial")
<div class="content user-page-content">
<div class="container-fluid">

    @Html.Action("GetUsers")
    <div class="users-control-menu">
        <h5>Количество выбранных пользователей:
            <div id="checked-users-amount">0</div></h5>
        <ul>
            <li>
                <a href="#" class="menu-item-confirm" data-fancybox data-src="#user-confirm-popup"><ion-icon name="done-all"></ion-icon> <span>Подтвердить</span></a>
            </li>
            <li>
                <a href="#" class="menu-item-add" data-fancybox data-src="#user-add-to-chat-popup"><ion-icon name="ios-chatbubbles"></ion-icon> <span>Добавить в чат</span></a>
            </li>
            <li>
                <a href="#" class="menu-item-ban" data-fancybox data-src="#user-ban-popup"><ion-icon name="close-circle-outline"></ion-icon> <span>Забанить</span></a>
            </li>
            <li>
                <a href="#" class="menu-item-unban" data-fancybox data-src="#user-unban-popup"><ion-icon name="checkmark-circle-outline"></ion-icon> <span>Разбанить</span></a>
            </li>
            <li>
                <a href="#" class="menu-item-delete" data-fancybox data-src="#user-delete-popup">
                    <ion-icon name="eye-off"></ion-icon> <span>Удалить</span>
                </a>
            </li>
            @if (@User.IsInRole("superadmin"))
            {
                <li>
                    <a href="#" class="menu-item-sms" data-fancybox="sms-send-form" data-src="#sms-send-popup">
                        <ion-icon name="send"></ion-icon>
                        @Html.Action("SmsSendForm", "Sms")
                        <span>СМС рассылка</span>
                    </a>
                </li>
            }
            <!-- <li>
                <a href="#" class="menu-item-force-delete" data-fancybox data-src="#user-force-delete-popup"><ion-icon name="trash"></ion-icon> <span>Удалить навсегда</span></a>
            </li>-->
        </ul>
    </div>
</div>
</div>
</div>
@Html.Partial("_MenuDialogsPartial")
@Html.Action("AddUserToGroup", new {chatGroups = ViewBag.Chats})

@section Scripts {
    @Scripts.Render($"~/bundles/js/user-page-{BundleConfig.Version}")
}
