﻿@model DataAccessLayer.Products

<div class="st-row st-news st-product" style="display: none">

    @using (Html.BeginForm("CreateProductPost", "Shop", FormMethod.Post, new { id = "createProductForm", enctype = "multipart/form-data" }))
    {
    <div class="news-top">
        <div class="news-title news-top-column">
            @Html.DisplayNameFor(model => model.NameRu)
            @Html.TextBoxFor(model => model.NameRu, new { @class = "news_edit_items new-title-field", placeholder = "Название товара" })

            @* @Html.DisplayNameFor(model => model.NameKg)
            @Html.TextBoxFor(model => model.NameKg, new { @class = "news_edit_items new-title-field", placeholder = "Название товара" })*@
        </div>
        <div class="new-section news-top-column">
            <!--<select class="news_edit_items" name="product_section">
            <option value="published">Опубликовано</option>
            <option value="not-published">Не опубликовано</option>
        </select>-->
            @Html.DisplayNameFor(model => model.IsAvailable)
            @Html.EditorFor(model => model.IsAvailable, "ShopPublicationStatus")
        </div>
        <div class="new-section news-top-column">
            @Html.DisplayNameFor(model => model.ShopId)
            @Html.DropDownListFor(model => model.ShopId, (SelectList)ViewBag.ShopsEnum, new { @class = "news_edit_items", placeholder = "Магазин" })

        </div>
        <div class="new-section news-top-column">
            @Html.DisplayNameFor(model => model.CategoryId)
            @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, new { @class = "news_edit_items", placeholder = "Магазин" })

        </div>
        <div class="new-section news-top-column">
            @Html.DisplayNameFor(model => model.IsBrand)
            @Html.EditorFor(model=>model.IsBrand, "BrendingStatus")

        </div>
        <div class="news-language news-top-column">
            <!--
        <select class="news_edit_items" name="product_language">
            <option value="ru">Русский язык</option>
            <option value="kg">Кыргызский язык</option>
        </select>
        -->
            @Html.DisplayNameFor(model => model.LanguageId)
            @Html.EditorFor(model => model.LanguageId, "LanguagesStatus")
        </div>
        <div class="news-date news-top-column">
            <!--<input type="text" name="date" value="11/05/2018" class="news_edit_items datepicker">-->
            @Html.DisplayNameFor(model => model.PublicationDate)
            @Html.TextBoxFor(model => model.PublicationDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "news_edit_items timepicker" })
        </div>
    </div>
        <div class="news-midddle">
            <div class="news-middle-column">
                <div class="st-upload product_img_upload edit" style="background-image: url(/Content/img/upload-plus.png)">
                    <label for="productImage"></label>
                    <input type="file" id="productImage" accept='image/*' name="productImage" class="st-upload-input user_edit_items">

                </div>
            </div>
            <div class="news-middle-column text-content">
                @Html.DisplayNameFor(model => model.InformationRu)
                <div class="txt-description"></div>
                <!--<textarea class="summernote-product" hidden></textarea>-->
                @Html.TextAreaFor(model => model.InformationRu, new { @class = "summernote-product" })
                @* @Html.DisplayNameFor(model=>model.InformationKg)
        @Html.TextAreaFor(model=>model.InformationKg, new { @class = "summernote-product" })*@
            </div>
            <div class="news-middle-column info">
                <p>
                    <span>@Html.DisplayNameFor(model=>model.Price):</span>
                    <span>
                        <!--<input type="text" value="450" class="news_edit_items">-->
                        @Html.TextBoxFor(model => model.Price, new { @class = "news_edit_items" })
                    </span>
                </p>
                <p>
                    <span>@Html.DisplayNameFor(model=>model.Amount):</span>
                    <span>
                        <!--<input type="text" value="500" class="news_edit_items">-->
                        @Html.TextBoxFor(model => model.Amount, new { @class = "news_edit_items" })
                    </span>
                </p>
                <p>
                    <span>@Html.DisplayNameFor(model=>model.AvailableAmount):</span>
                    <span>
                        <!--<input type="text" value="4 шт." class="news_edit_items">-->
                        @Html.TextBoxFor(model => model.AvailableAmount, new { @class = "news_edit_items" })
                    </span>
                </p>
              
            </div>
            <div class="btn-row shop-btns">
                <div class="st-btn">
                    <button type="button" class="product-add-abort bg-warning border-warning">Отмена</button>
                </div>

                <div class="st-btn">
                    <button class="product-add-btn bg-success border-success">Добавить</button>
                </div>
            </div>
        </div>
    }
</div>
