﻿@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions

@model  StayTrueWebAdmin.Models.FilterModels.ProductsFilteredModel
@{
    ViewBag.Title = "Магазин";
}

@section styles{
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Shop", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column">
                            <div class="filter-item-title">Дата публикации</div>
                            @Html.TextBoxFor(model => model.Filter.DateFrom, new { name = "users_birthday_min", @class = "timepicker", placeHolder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.DateTo, new { name = "users_birthday_max", @class = "timepicker", placeHolder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Цена</div>
                            @Html.TextBoxFor(model => model.Filter.PriceFrom, new { name = "price_from", @class = "textbox", type = "number" })
                            @Html.TextBoxFor(model => model.Filter.PriceTo, new { name = "price_to", @class = "textbox", type = "number" })
                            @*<div id="prise-range"></div>*@
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Кол-во в наличии</div>
                            @Html.TextBoxFor(model => model.Filter.AmountFrom, new { name = "amount_from", @class = "textbox", type = "number" })
                            @Html.TextBoxFor(model => model.Filter.AmountTo, new { name = "amount_to", @class = "textbox", type = "number" })
                        </div>

                        <div class="st-column">
                            <div class="filter-item-title">Допустимое кол-во на пользователя</div>
                            @Html.TextBoxFor(model => model.Filter.AvailableAmountFrom, new { name = "available_amount_from", @class = "textbox", type = "number" })
                            @Html.TextBoxFor(model => model.Filter.AvailableAmountTo, new { name = "available_amount_to", @class = "textbox", type = "number" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.EditorFor(model => model.Filter.IsAvailable, "PublicationStatus")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Магазин</div>
                            @Html.DropDownListFor(model => model.Filter.ShopId, Model.Shops, "Все", new { @class = "st-selectize", placeholder = "Магазин" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span>
                                <ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>

                            <button type="button" class="st-button reset-btn">
                                <span>Сбросить</span>
                                <ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div id="add-product" class="add-new-wrap">
                    <div id="add-new-tgl">
                        <span></span>
                        <span>Добавить товар</span>
                    </div>
                    @Html.Action("CreateProduct", new { shopsEnum = ViewBag.ShopsEnum })
                </div>

                @foreach (var item in Model.Products)
                {
                    <div class="st-row st-news st-product">
                        @using (Html.BeginForm("Edit", "Shop", FormMethod.Post, new { enctype = "multipart/form-data", @class = "entity-edit" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(modelItem => item.Id)
                        <div class="news-top">
                            <div class="news-title news-top-column">
                                @Html.TextBoxFor(modelItem => item.NameRu, new { @class = "news_edit_items new-title-field", placeholder = "Название товаар", disabled = "disabled" })
                            </div>
                            <div class="new-section news-top-column">
                                @Html.EditorFor(modelItem => item.IsAvailable, "PublicationProductStatus")

                            </div>
                            <div class="new-section news-top-column">
                                <span data-shop="@item.ShopId" class="news-shop"></span>
                                @Html.DropDownListFor(modelItem => item.ShopId, Model.Shops, new { @class = "news_edit_items", disabled = "disabled" })
                            </div>
                            <div class="new-section news-top-column">
                                <span data-category="@item.CategoryId" class="news-category"></span>
                                @Html.DropDownListFor(modelItem => item.CategoryId, Model.Categories, new { @class = "news_edit_items", disabled = "disabled" })
                            </div>
                            @*<div class="news-branding news-top-column">
            <select class="news_edit_items" name="product_branding" placeholder="Выберите значение" disabled>
                <option value="1" selected>с брендингом</option>
                <option value="2">без брендинга</option>
            </select>
        </div>*@
                            <div class="news-language news-top-column">

                                @Html.EditorFor(modelItem => item.LanguageId, "LanguagesProductStatus")
                            </div>
                            <div class="news-brand news-top-column">

                                @Html.EditorFor(modelItem => item.IsBrand, "BrendingStatus")
                            </div>
                            <div class="news-date news-top-column">
                                @Html.TextBoxFor(modelItem => item.PublicationDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "news_edit_items timepicker", disabled = "disabled" })
                                <!-- <input type="text" name="date" value="11/05/2018" class="news_edit_items datepicker" disabled> -->
                            </div>
                        </div>
                            <div class="news-midddle">
                                <div class="news-middle-column">
                                    <div class="st-upload product_img_upload" style="background-image: url(@item.ImagePath)">
                                        <a href=@item.ImagePath data-fancybox></a>
                                        <label for="productImage_@item.Id"></label>
                                        <input type="file" id="productImage_@item.Id" accept='image/*' name="productImage" class="st-upload-input user_edit_items">
                                    </div>
                                </div>
                                <div class="news-middle-column text-content">
                                    <div class="txt-description">
                                        @item.InformationRu
                                    </div>
                                    @Html.TextAreaFor(modelItem => item.InformationRu, new { @class = "summernote-product", hidden = "hidden" })
                                    <!--<textarea class="summernote-product" hidden></textarea>-->
                                </div>
                                <div class="news-middle-column info">
                                    <p>
                                        <span>Стоимость:</span>
                                        <span>
                                            @Html.TextBoxFor(modelItem => item.Price, new { @class = "news_edit_items", disabled = "disabled" })
                                            <!--<input type="text" value=@item.Price class="news_edit_items" disabled>-->
                                        </span>
                                    </p>
                                    <p>
                                        <span>Количество шт:</span>
                                        <span>
                                            @Html.TextBoxFor(modelItem => item.Amount, new { @class = "news_edit_items", disabled = "disabled" })
                                            <!--<input type="text" value=@item.Amount class="news_edit_items" disabled>-->
                                        </span>
                                    </p>
                                    <p>
                                        <span>Можно взять (шт.):</span>
                                        <span>
                                            @Html.TextBoxFor(modelItem => item.AvailableAmount, new { @class = "news_edit_items", disabled = "disabled" })
                                            <!--<input type="text" value=@item.AvailableAmount class="news_edit_items" disabled>-->
                                        </span>
                                    </p>
                                </div>

                                <div class="btn-row shop-btns">
                                    <div class="st-btn" style="margin-right: 10px;">
                                        Номер
                                    </div>
                                    <div class="st-btn">
                                        <input type="number" class="inputValue"/>
                                    </div>
                                    <div class="filterButton">
                                        <a href="#" type="button" class="filter-shop-btn">Отфильтровать</a>
                                    </div>
                                    <div class="resetFilterButton">
                                        <a href="#" type="button" class="filter-shop-btn">Сбросить</a>
                                    </div>
                                    <div class="st-btn">
                                        <button type="button" class="product-history bg-primary border-primary">История покупки</button>
                                    </div>
                                    <div class="st-btn">
                                        <button class="delete-btn bg-danger delete-btn" data-id="@item.Id" data-fancybox data-src="#delete-popup" hidden>Удалить</button>
                                    </div>
                                    <div class="st-btn">
                                        <button type="button" class="bg-warning border-warning product-abort" hidden>Отмена</button>
                                    </div>
                                    <div class="st-btn">
                                        <button type="button" class="product-edit bg-info border-info">Редактировать</button>
                                        <button type="submit" class="product-save bg-success border-success" hidden>Сохранить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="news-bottom">
                                <div class="list">
                                    <div class="list-header">
                                        <div class="st-row">
                                            <div class="st-column">Кто купил</div>
                                            <div class="st-column">Дата покупки</div>
                                            <div class="st-column">Цена</div>
                                            <div class="st-column">Телефон</div>
                                            <div class="st-column">Кол-во</div>
                                            <div class="st-column">Магазин</div>
                                            <div class="st-column">Кем выдан</div>
                                            <div class="st-column">Статус</div>
                                            <div class="st-column"></div>
                                        </div>
                                    </div>

                                    <div class="list-body">
                                        @foreach (var history in item.PurchaseHistories)
                                        {
                                            using (Html.BeginForm("EditShopHistory", "Shop", FormMethod.Post, new {id = "EditShopHistoryForm", @class="formShopPage" }))
                                            {
                                                 <div class="st-row tableList">
                                                     <div class="st-column">
                                                         @Html.HiddenFor(modelItem => history.Id)
                                                         @Html.DisplayFor(modelItem => history.Users.FirstName)
                                                     </div>
                                                     <div class="st-column">
                                                         @Html.DisplayFor(modelItem => history.CreationDate)
                                                         <!--<input type="text" value="20/08/2018" class="datepicker history-edit-item" disabled>-->
                                                     </div>
                                                     <div class="st-column">
                                                         @Html.DisplayFor(modelItem => history.Price)
                                                     </div>
                                                     <div class="st-column">
                                                         @Html.DisplayFor(modelItem => history.Users.Phone)
                                                     </div>
                                                     <div class="st-column">
                                                         @Html.DisplayFor(modelItem => history.Amount)
                                                     </div>
                                                     <div class="st-column">
                                                         @Html.DisplayFor(modelItem => history.Products.Shops.Name)
                                                     </div>
                                                     <div class="st-column">
                                                         <span id="history_administrator_name">
                                                             @Html.DisplayFor(modelItem => history.Administrators.LastName)
                                                             @Html.Raw(" ")
                                                             @Html.DisplayFor(modelItem => history.Administrators.FirstName)
                                                          </span>
                                                     </div>
                                                     <div class="st-column">
                                                         <span id="history_purchase_status" data-statusid="@history.StatusId"></span>
                                                         @Html.DropDownListFor(modelItem => history.StatusId, (SelectList) ViewBag.PurchaseStatuses, new {@class = "list_status history-edit-item", disabled = "disabled"})
                                                     </div>
                                                     <div class="st-column">
                                                         <button type="button" class="history-item-edit text-white bg-info border-info">Редактировать</button>
                                                         <button type="submit" class="history-item-save text-white bg-success border-success" hidden>Сохранить</button>
                                                     </div>
                                                 </div>
                                             }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            @Html.PagedListPager(Model.Products, page => Url.Action("Index", new
           {

               DateFrom = Model.Filter.DateFrom,
               DateTo = Model.Filter.DateTo,
               ShopId = Model.Filter.ShopId,
               PriceFrom = Model.Filter.PriceFrom,
               PriceTo = Model.Filter.PriceTo,
               AmountFrom = Model.Filter.AmountFrom,
               AmountTo = Model.Filter.AmountTo,
               AvailableAmountFrom = Model.Filter.AvailableAmountFrom,
               AvailableAmountTo = Model.Filter.AvailableAmountTo,
               IsAvailable = Model.Filter.IsAvailable,
               page
           }), new PagedListRenderOptions()
           {
               Display = PagedListDisplayMode.IfNeeded,
               ContainerDivClasses = new[] { "pagination" },
               UlElementClasses = new[] { "" }
           })
        </div>
    </div>
</div>
@Html.Partial("_DeleteConfirmDialogPartial")

@section scripts
{
    @Scripts.Render($"~/bundles/js/shop-page-{BundleConfig.Version}")
}

<script>
    $(function () {
        // ввод цены
        var priseRange = document.getElementById('prise-range');

        if (priseRange) {
            noUiSlider.create(priseRange, {
                start: [0, 99],
                connect: true,
                range: {
                    'min': 0,
                    'max': 99
                }
            });

            var inputNumber1 = document.getElementById('Filter_PriceFrom');
            var inputNumber2 = document.getElementById('Filter_PriceTo');

            priseRange.noUiSlider.on('update', function (values, handle) {

                var value = values[handle];

                if (handle) {
                    inputNumber2.value = Math.round(value);
                } else {
                    inputNumber1.value = Math.round(value);
                }
            });

            inputNumber1.addEventListener('input', function () {
                priseRange.noUiSlider.set([this.value, null]);
            });

            inputNumber2.addEventListener('input', function () {
                priseRange.noUiSlider.set([null, this.value]);
            });
        }

        $('.send__textarea textarea').on('input', function (e) {

            var lengthSms = $('.send__textarea p').text().length + $('.send__textarea textarea').val().length;
            var smsCount = Math.ceil(lengthSms / 70);

            $('.send__textarea span').text(lengthSms + ' символов | ' + smsCount + ' смс');;

        });

    });
</script>
