﻿@model DataAccessLayer.Administrators
<div class="st-row st-user" style="display: none;">
    @using (Html.BeginForm("CreateAdministratorPost", "Administrators", FormMethod.Post, new { id = "createAdministratorForm"}))
    {
        <div class="d-flex justify-content-center st-user-header">
            <div class="st-column num-list">
            </div>
            <div class="st-column">
                 @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "Имя" })
            </div>
            <div class="st-column">
                @*<input type="text" name="last_name" placeholder="Фамилия" class="user_edit_items">*@
                @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Фамилия" })
            </div>
            <div class="st-column">
                @*<input type="text" name="login" placeholder="Логин" class="user_edit_items">*@
                @Html.TextBoxFor(model => model.Login, new { @placeholder = "Логин" })
            </div>
            <div class="st-column">
                @*<input type="text" name="passowrd" placeholder="Пароль" class="user_edit_items">*@
                @Html.TextBoxFor(model => model.Password, new { @placeholder = "Пароль" })
            </div>
            <div class="st-column">
                @*<input type="text" name="phone" placeholder="Телефон" class="user_edit_items">*@
                @Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "Телефон", @class = "mask_field_telephone" })
            </div>
            <div class="st-column">
                @Html.DropDownListFor(model => model.Role,(SelectList) ViewBag.Roles, new { @class = "st-selectize", placeholder = "Доступ" })
                <!--<select name="status" id="status" class="st-selectize" placeholder="Доступ">
                    <option value="all">Все</option>
                    <option value="1">Чат</option>
                    <option value="2">Игры</option>
                    <option value="3">Статистика</option>
                    <option value="5">Новости</option>
                </select>-->
            </div>
            <div class="st-column">
              
                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email" })
            </div>
            @*<div class="st-column">
                <input type="text" name="country" placeholder="Город" class="user_edit_items">
                @Html.TextBoxFor(model => model., new { @placeholder = "Имя" })
            </div>*@

            @*<div class="st-column">
                <input type="text" name="access" placeholder="Доступ" class="user_edit_items">
                @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "Имя" })
            </div>*@
            @*<div class="st-column">
                <input type="text" name="activity" placeholder="чч/мм/гггг" class="user_edit_items">
                @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "Имя" })
            </div>*@
            <div class="st-column">
                <button type="submit" class="st-button bg-success border-success text-white add-admin"><span>Сохранить</span></button>
            </div>
        </div>
    }
</div>