﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model StayTrueWebAdmin.Models.FilterModels.AdministratorFilteredModel
@{
    ViewBag.Title = "Администраторы";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content admin-page-content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Administrators", FormMethod.Post, new { id = "Filter" }))
                {
                <div class=" d-flex justify-content-center">
                    <div class="st-column num-list">
                        <div class="filter-item-title"></div>
                        <div class="num-list-icon">
                            <img src="/Content/img/a-z.png" alt="">
                        </div>
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Имя</div>
                        @Html.TextBoxFor(model => model.Filter.FirstName)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Фамилия</div>
                        @Html.TextBoxFor(model => model.Filter.LastName)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Логин</div>
                        @Html.TextBoxFor(model => model.Filter.Login)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Телефон</div>
                        @Html.TextBoxFor(model => model.Filter.PhoneNumber)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Доступ</div>
                        @Html.DropDownListFor(model => model.Filter.RoleId, Model.Roles, "Все", new { @class = "st-selectize", placeholder = "Доступ" })
                        <!--<select name="status" id="status" class="st-selectize" placeholder="Доступ">
            <option value="all">Все</option>
            <option value="1">Чат</option>
            <option value="2">Игры</option>
            <option value="3">Статистика</option>
            <option value="5">Новости</option>
        </select>-->
                    </div>

                    <div class="st-column">
                        <div class="filter-item-title">Email</div>
                        @Html.TextBoxFor(model => model.Filter.Email)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">
                            @*<a href="#">
            <span>Экспорт .xls</span>
            <ion-icon name="ios-code-download"></ion-icon>
        </a>*@
                        </div>
                            <button class="st-button apply-btn border-primary bg-primary text-white"><span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon></button>
                            <button type="button" class="st-button reset-btn">
                                <span>Сбросить</span>
                                <ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                </div>
                }
            </div>
            <div id="add-new-admin" class="add-new-wrap">
                <div id="add-new-tgl">
                    <span></span>
                    <span>Добавить пользователся</span>
                </div>
                @Html.Action("CreateAdministrator")

            </div>
            <div class="content-body">
                @foreach (var item in Model.Administrators)
                {
                    <div class="st-row st-user">
                        <div class="d-flex justify-content-center st-user-header">
                            <div class="st-column num-list">
                                <span class="txt">@item.Id</span>
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.FirstName, new { @class = "user_edit_items", disabled = "disabled" })
                                <!--<input type="text" name="first_name" value="@item.FirstName" class="user_edit_items" disabled>-->
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.LastName, new { @class = "user_edit_items", disabled = "disabled" })
                                <!--<input type="text" name="last_name" value="@item.LastName" class="user_edit_items" disabled>-->
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Login, new { @class = "user_edit_items", disabled = "disabled" })
                                <!--<input type="text" name="login" value="@item.Login" class="user_edit_items" disabled>-->
                            </div>

                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.PhoneNumber, new { @class = "user_edit_items", disabled = "disabled" })
                                <!--<input type="text" name="phone" value="@item.PhoneNumber" class="user_edit_items" disabled>-->
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Roles.RoleName, new { @class = "user_edit_items", disabled = "disabled" })
                                <!--<input type="text" name="access" value="Чат" class="user_edit_items" disabled>-->
                            </div>
                            <div class="st-column">
                                @Html.TextBoxFor(modelItem => item.Email, new { @class = "user_edit_items", disabled = "disabled" })
                                <!--<input type="text" name="access" value="Чат" class="user_edit_items" disabled>-->
                            </div>

                            <div class="st-column">
                                <!-- Это здесь для того что бы место занимало и ничего не съезжало вправо -->
                            </div>
                        </div>
                        @*<div class="st-user-body activitys_wrap">
                                <ul class="activitys">
                                    <li class="activitys__item">
                                        <div class="activitys__date">
                                            11.05.2018
                                        </div>
                                        <div class="activitys__time">
                                            16:13
                                        </div>
                                        <div class="activitys__text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi facere autem eius et non dolore cum eveniet at atque, voluptatibus debitis voluptatem earum eum obcaecati natus necessitatibus dolorem dignissimos!
                                        </div>
                                    </li>
                                    <li class="activitys__item">
                                        <div class="activitys__date">
                                            11.05.2018
                                        </div>
                                        <div class="activitys__time">
                                            16:13
                                        </div>
                                        <div class="activitys__text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi facere autem eius et non dolore cum eveniet at atque, voluptatibus debitis voluptatem earum eum obcaecati natus necessitatibus dolorem dignissimos!
                                        </div>
                                    </li>
                                    <li class="activitys__item">
                                        <div class="activitys__date">
                                            11.05.2018
                                        </div>
                                        <div class="activitys__time">
                                            16:13
                                        </div>
                                        <div class="activitys__text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi facere autem eius et non dolore cum eveniet
                                        </div>
                                    </li>
                                    <li class="activitys__item">
                                        <div class="activitys__date">
                                            11.05.2018
                                        </div>
                                        <div class="activitys__time">
                                            16:13
                                        </div>
                                        <div class="activitys__text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                        </div>
                                    </li>
                                    <li class="activitys__item">
                                        <div class="activitys__date">
                                            11.05.2018
                                        </div>
                                        <div class="activitys__time">
                                            16:13
                                        </div>
                                        <div class="activitys__text">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi facere autem eius
                                        </div>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                }@Html.PagedListPager(Model.Administrators, page => Url.Action("Index", new
         {
             Model.Filter.FirstName,
             Model.Filter.LastName,
             Model.Filter.Login,
             Model.Filter.PhoneNumber,
             page
         }), new PagedListRenderOptions()
         {
             Display = PagedListDisplayMode.IfNeeded,
             ContainerDivClasses = new[] { "pagination" },
             UlElementClasses = new[] { "" }
         })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/administrators-page-{BundleConfig.Version}")
}