﻿@model IEnumerable<inventory_accounting_system.Models.EventAsset>

@{
    ViewData["Title"] = "View";
}

<h2>События</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <a asp-action="Details" asp-controller="AssetEvent" asp-route-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </a>
        <a asp-action="Details" asp-route-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </a>
    </tr>
}
    </tbody>
</table>
