﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  StayTrueWebAdmin.Models.EditModels.MobileVersionEditModel

@{
    ViewBag.Title = "Мобильные версии";
}

<div class="wrap">
    <div class="content brand-packs">
        <div class="container-fluid">
            <div class="content-body">
                @using (Html.BeginForm("Create", "MobileVersion", FormMethod.Post, new { @class = "add-new-pattern-form", id = "create-cigarette-brand-form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="st-row st-news">
                        <div class="news-top">
                            <div class="news-top-column">
                                @Html.TextBoxFor(model => model.AndroidVersion, new { @class = "news_edit_items new-title-field", placeholder="Версия Андроид"})
                            </div>
                            <div class="news-top-column">
                                @Html.TextBoxFor(model => model.IosVersion, new { @class = "news_edit_items", placeholder = "Версия IOS" })
                            </div>
                        </div>
                        <div class="news-midddle">
                            <div class="game-zip" style="display: block; margin-bottom: 10px;">
                                <span>Загрузите архив Android:</span>
                                @Html.TextBoxFor(modelItem => Model.AndroidBuild, new {type = "file", @class = "add-new-game_zip", accept = ".zip"})
                            </div>
                            <div class="game-zip" style="display: block; margin-bottom: 10px;">
                                <span>Загрузите архив IOS:</span>
                                @Html.TextBoxFor(modelItem => Model.IosBuild, new {type = "file", @class = "add-new-game_zip", accept = ".zip"})
                            </div>
                            <div class="news-middle-column">
                                <div class="brand-icon-advantages">

                                </div>
                            </div>
                        </div>
                        <div class="news-bottom">
                            <div class="btn-row row no-gutters">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <div class="center-btns btns-wrap">
                                        <div class="st-btn"><button type="button" id="create-brand-cancel">Отмена</button></div>
                                        <div class="st-btn">
                                            <button type="submit" class="bg-success border-success news-add-btn">Загрузить</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_SidebarPartial")
</div>

<div style="display: none;" id="edit-warning" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Сохраните или отмените редактируемые данные!</div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="news-delete-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить версию?</div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/mobileversion-page-{BundleConfig.Version}")
}