﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  StayTrueWebAdmin.Models.FilterModels.MobileVersionFilteredModel

@{
    ViewBag.Title = "Мобильные версии";
}

<div class="wrap">
    <div class="content brand-packs">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "MobileVersion", FormMethod.Post, new { id = "FilterForm" }))
                {
                <div class=" d-flex justify-content-center">
                    <div class="st-column">
                        <div class="filter-item-title">Версия Андроид</div>
                        @Html.TextBoxFor(model => model.Filter.AndroidVersion)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Версия IOS</div>
                        @Html.TextBoxFor(model => model.Filter.IosVersion)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Url Андроид</div>
                        @Html.TextBoxFor(model => model.Filter.AndroidPath)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title">Url IOS</div>
                        @Html.TextBoxFor(model => model.Filter.IosPath)
                    </div>
                    <div class="st-column">
                        <div class="filter-item-title"></div>
                        <button type="submit"
                                class="st-button apply-btn border-primary bg-primary text-white">
                            <span>Применить</span>
                            <ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button type="button" class="st-button reset-btn" id="reset-filter">
                            <span>Сбросить</span>
                            <ion-icon name="ios-close-circle"></ion-icon>
                        </button>
                    </div>
                </div>
                }
            </div>
            <div class="content-body">
                <div id="create-brand" class="add-new-wrap">
                    <div id="add-new-tgl" class="news-add">
                        <span></span>
                        <span>Загрузить версию</span>
                    </div>
                </div>
                @foreach (var item in Model.MobileVersions)
                {
                    <div class="st-row st-gallery">
                        <div class="st-gallery-header">
                            @Html.HiddenFor(modelItem => item.Id)
                            <div class="header-left">
                                <div class="gallery-title">
                                    <span>Версия Андроид:</span>
                                    @Html.TextBoxFor(modelItem => item.AndroidVersion, new {disabled = "disabled"})
                                </div>
                                <div class="gallery-title">
                                    <span>Версия IOS:</span>
                                    @Html.TextBoxFor(modelItem => item.IosVersion, new {disabled = "disabled"})
                                </div>
                            </div>
                            <div class="header-right">
                                <div class="gallery-title">
                                    <span>URL IOS: @Html.DisplayFor(modelItem => item.IosPath)</span>
                                </div>
                                <div class="gallery-title">
                                    <span>URL Андроид: @Html.DisplayFor(modelItem => item.AndroidPath)</span>
                                </div>
                            </div>
                            <div class="gallery-btns">
                                <div class="st-btn">
                                    <button type="button"
                                            class="gallery-delete bg-danger border-danger"
                                            hidden>
                                        Удалить
                                    </button>
                                </div>
                                <div class="st-btn">
                                    <button type="button"
                                            class="gallery-edit-abort bg-warning border-warning"
                                            hidden>
                                        Отмена
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model.MobileVersions, page => Url.Action("Index", "MobileVersion", new
            {
                Model.Filter.AndroidPath,
                Model.Filter.AndroidVersion,
                Model.Filter.IosPath,
                Model.Filter.IosVersion,

                page
            }), new PagedListRenderOptions
            {
                Display = PagedListDisplayMode.IfNeeded,
                ContainerDivClasses = new[] {"pagination"},
                UlElementClasses = new[] {""}
            })
        </div>
    </div>
    @Html.Partial("_SidebarPartial")
</div>

<div style="display: none;" id="edit-warning" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Сохраните или отмените редактируемые данные!</div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>

<div style="display: none;" id="news-delete-popup" class="ban-pop-up-window">
    <form action="#" id="ban-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить бренд?</div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/mobileversion-page-{BundleConfig.Version}")
}