﻿@model inventory_accounting_system.Models.Event

@{
ViewData["Title"] = "Create";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Событие</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Offices">Главная</a>
            </li>
            <li class="active">
                <strong>Событие</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<hr />

<div style="margin-bottom: 15px;">
        <div style="margin: auto; width: 40%; padding: 15px; border-radius: 7px; background-color: #F3F3F3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Заголовок</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Содержание</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodicity" class="control-label">Периодичность</label>
                <select asp-for="Periodicity" class="form-control" asp-items="ViewBag.Periods"></select>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-w-m btn-primary" style="margin-top: 100px;" />
            </div>
        </form>
    </div>
</div>
<hr />

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}