﻿@model inventory_accounting_system.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Редактировать событие</h2>
        <ol class="breadcrumb">           
            <li>
                 <a href="~/Events">События</a>
            </li>
            <li class="active">
                <strong>Редактировать событие</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr />

<div style="margin-bottom: 15px;">
        <div style="margin: auto; width: 40%; padding: 15px; border-radius: 7px; background-color: #F3F3F3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Заголовок</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-w-m btn-primary" style="margin-top: 250px;"  />
            </div>
        </form>
    </div>
</div>

<hr/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
