﻿@model DataAccessLayer.Albums
<div class="st-row st-gallery" style="display: none;">
    @using (Html.BeginForm("CreateAlbumPost", "Gallery", FormMethod.Post, new { id = "createAlbumForm", enctype = "multipart/form-data"}))
    {
    <div class="st-gallery-header">
        <div class="header-left">
            <div class="gallery-thumbnail">
                <div class="st-upload edit" style="background-image: url(content/img/gallery-thumbnail.png)">
                    <label for="albumcover"></label>
                    <input type="file" id="albumcover" accept='image/*' name="albumcover" class="st-upload-input user_edit_items">
                </div>
            </div>
            <div class="gallery-title">
                <span>@Html.DisplayNameFor(model=>model.Name)</span>
                @Html.TextBoxFor(model => model.Name, new {@class = "news_edit_items new-title-field", placeholder = "Название альбома"})
            </div>
        </div>
        <div class="header-middle">
            <div class="gallery-selects">
                <div class="gallery-status gallery-select">
                    <span>@Html.DisplayNameFor(model=>model.IsActive)</span>
                    @Html.EditorFor(model => model.IsActive, "PublicationStatus")
                </div>
                <div class="gallery-branding gallery-select">
                    <span>@Html.DisplayNameFor(model=>model.IsBrended)</span>
                    @Html.EditorFor(model => model.IsBrended, "BrandStatus")
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="gallery-date">
                <span>@Html.DisplayNameFor(model=>model.PublicationDate)</span>
                @Html.TextBoxFor(model => model.PublicationDate, "{0:dd/MM/yyyy}", new {@class = "datepicker"})
                <!--<input type="text" class="datepicker" value="11/05/2018">-->
                <ion-icon name="calendar"></ion-icon>
            </div>
        </div>
        <div class="gallery-btns">
            <div class="st-btn">
                <button type="button" class="gallery-add-abort bg-warning border-warning">Отмена</button>
            </div>
            <div class="st-btn">
                <button type="submit" class="gallery-add-new bg-success border-succes">Сохранить</button>
            </div>
        </div>
    </div>
        <div class="st-gallery-footer" style="display: block">
            <div class="gallery-images">
                <div class="gallery-item">
                    <div class="st-upload gallery-image-upload edit">
                        <label for="albumImgs"></label>
                        <input type="file" multiple="multiple" id="albumImgs" accept='image/*|video/*' name="albumImgs" class="st-upload-input gallery-upload">
                    </div>
                </div>
            </div>
        </div>
    }
</div>