﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  StayTrueWebAdmin.Models.FilterModels.AlbumsFilteredModel
@{
    ViewBag.Title = "Галерея";
}

@section styles{
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Gallery", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column">
                            <div class="filter-item-title">Дата публикации</div>
                            @Html.TextBoxFor(model => model.Filter.DateFrom, new { name = "news_published_date_min", @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.DateTo, new { name = "news_published_date_max", @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Заголовок</div>
                            @Html.TextBoxFor(model => model.Filter.Name)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.EditorFor(model => model.Filter.IsActive, "SearchPublicationStatus")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span>
                                <ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button class="st-button reset-btn">
                                <span>Сбросить</span>
                                <ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div id="add-gallery" class="add-new-wrap">
                    <div id="add-new-tgl">
                        <span></span>
                        <span>Добавить альбом</span>
                    </div>
                    @Html.Action("CreateAlbum")
                </div>
                @foreach (var item in Model.Albums)
                {
                    <div class="st-row st-gallery">
                        @using (Html.BeginForm("Edit", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data", @class = "entity-edit" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(modelItem => item.Id)
                        <div class="st-gallery-header">
                            <div class="header-left">

                                <div class="gallery-thumbnail">
                                    <div class="st-upload" style="background-image: url(@item.Image)">
                                        <a href="@item.Image" data-fancybox></a>
                                        <label for="albumcover_@item.Id"></label>
                                        <input type="file" id="albumcover_@item.Id" accept='image/*' name="albumcover" class="st-upload-input user_edit_items">
                                    </div>
                                </div>

                                <div class="gallery-title">
                                    @Html.TextBoxFor(modelItem => item.Name, new { disabled = "disabled" })
                                </div>
                            </div>
                            <div class="header-middle">
                                <div class="middle-item">
                                    <div class="item-label">Количество изображений:</div>
                                    <span>@item.AlbumImages.Count(x => x.Image != null)</span>
                                    <div class="item-icon"><ion-icon name="ios-image"></ion-icon></div>
                                </div>
                                <div class="middle-item">
                                    <div class="item-label">Количество видео:</div>
                                    <span>@item.AlbumImages.Count(x => x.Video != null)</span>
                                    <div class="item-icon">
                                        <ion-icon name="ios-videocam"></ion-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="header-right">
                                <div class="gallery-date">
                                    @Html.TextBoxFor(modelItem => item.PublicationDate, "{0:dd/MM/yyyy}", new { @id = item.Id, @class = "datepicker", disabled = "disabled" })
                                    <ion-icon name="calendar"></ion-icon>
                                </div>
                            </div>
                            <div class="gallery-btns">
                                <div class="st-btn">
                                    <button type="button" data-id="@item.Id" class="delete-btn bg-danger border-danger" data-fancybox data-src="#delete-popup" hidden>Удалить</button>
                                </div>
                                <div class="st-btn">
                                    <button type="button" class="gallery-edit-abort bg-warning border-warning" hidden>Отмена</button>
                                </div>
                                <div class="st-btn">
                                    <button type="button" class="gallery-edit bg-info border-info">Редактировать</button>
                                    <button type="submit" class="gallery-save bg-success border-succes" hidden>Сохранить</button>
                                </div>
                            </div>
                        </div>
                            <div class="st-gallery-footer">
                                <div class="gallery-selects">
                                    <div class="gallery-status gallery-select">
                                        <span>Статус</span>
                                        @Html.EditorFor(modelItem => item.IsActive, "PublicationStatus")
                                    </div>
                                    <div class="gallery-branding gallery-select">
                                        <span>Брендинг</span>
                                        @Html.EditorFor(modelItem => item.IsBrended, "BrandStatus")
                                    </div>
                                </div>
                                <div class="gallery-images">
                                    <div class="gallery-item">
                                        <div class="st-upload gallery-image-upload">
                                            <label for="albumImgs_@item.Id"></label>
                                            <input type="file" multiple="multiple" id="albumImgs_@item.Id" accept='image/*|video/*' name="albumImgs" class="st-upload-input gallery-upload">
                                        </div>
                                    </div>

                                    @foreach (var image in item.AlbumImages)
                                    {
                                        if (image.Image != null)
                                        {
                                            <div class="gallery-item">
                                                <div class="image-wrap" style="background-image: url(@image.Image);">
                                                    <a href="@image.Image" data-fancybox="gallery"></a>
                                                    <div class="gallery-item-controls">
                                                        <input type="hidden" name="image-id" id="image-id" value="@image.Id" />
                                                        <div class="item-off">
                                                            <span>Скрыть:</span>
                                                            <span>
                                                                @Html.CheckBoxFor(itemModel => image.IsActive, new {@class="image-status-checkbox"})
                                                            </span>
                                                        </div>
                                                        <div class="item-delete" id="item-delete">
                                                            <span>Удалить:</span>
                                                            <span>
                                                                <ion-icon name="ios-close-circle-outline"></ion-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>@item.CreationDate.ToShortDateString()</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="gallery-item">
                                                <div class="image-wrap">
                                                    <video controls="false" id="new-added-video-@image.Id">
                                                        <source src="@image.Video" type="video/mp4">
                                                    </video>
                                                    <a href="#new-added-video-@image.Id" data-fancybox="gallery"></a>
                                                    <div class="gallery-item-controls">
                                                        <input type="hidden" name="image-id" id="image-id" value="@image.Id" />
                                                        <div class="item-off">
                                                            <span>Скрыть:</span>
                                                            <span>
                                                                @Html.CheckBoxFor(itemModel => image.IsActive, new { @class = "image-status-checkbox" })
                                                            </span>
                                                        </div>
                                                        <div class="item-delete" id="item-delete">
                                                            <span>Удалить:</span>
                                                            <span>
                                                                <ion-icon name="ios-close-circle-outline"></ion-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>@item.CreationDate.ToShortDateString()</p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }@Html.PagedListPager(Model.Albums, page => Url.Action("Index", new
             {
                 Model.Filter.Name,
                 Model.Filter.IsActive,
                 DateFrom = Model.Filter.DateFrom.ToShortDateString(),
                 DateTo = Model.Filter.DateTo.ToShortDateString(),
                 page
             }), new PagedListRenderOptions()
             {
                 Display = PagedListDisplayMode.IfNeeded,
                 ContainerDivClasses = new[] { "pagination" },
                 UlElementClasses = new[] { "" }
             })
            </div>
        </div>
    </div>
</div>

@Html.Partial("_DeleteConfirmDialogPartial")
@section Scripts {
    @Scripts.Render($"~/bundles/js/gallery-page-{BundleConfig.Version}")
}