﻿@using Microsoft.AspNetCore.Identity
@using inventory_accounting_system.ViewModel
@model EmployeeOrderViewModel

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Index";
}


<div class="row wrapper border-bottom white-bg page-heading" style="margin-bottom: 15px;">
            <div class="col-lg-10">
                <h2>Заявки</h2>
                <ol class="breadcrumb" style="margin-bottom: 10px;">
                    <li>
                        <a href="~/Offices">Главная</a>
                    </li>
                    <li class="active">
                        <strong>Заявки</strong>                        
                    </li>
                </ol>
            </div>
            <div class="col-lg-2"> </div>
        </div>
        <hr/>

<div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            
                            <div class="space-25"></div>
                            <h5>Почта</h5>
                                <ul class="folder-list m-b-md" style="padding: 0">

                                <li><a asp-controller="OrderEmployees" 
                                    asp-action="ListOrderMsgAll" 
                                    asp-route-status="All"> <i class="fa fa-inbox ">                                    
                                </i>Все заявки <span class="label label-primary pull-right"> 
                                    @await Component.InvokeAsync("OrderEmployeeVM") /
                                    @await Component.InvokeAsync("OrderEmployeeVMOpen")</span></a>
                                </li>
                                   
                                <li><a asp-controller="OrderEmployees" asp-action="Index"  asp-route-status="New"> <i class="fa fa-envelope">                                    
                                </i>Непрочитанные <span class="label label-warning pull-right">@await Component.InvokeAsync("OrderEmployeeVM")</span></a>
                                </li>

                                
                                <li><a asp-controller="OrderEmployees" asp-action="Index" asp-route-status="Open"> <i class="fa fa-envelope-open">
                                </i> Прочитанные <span class="label label-success pull-right">@await Component.InvokeAsync("OrderEmployeeVMOpen")</span> 
                                </a></li>


                                   
                                   
                                </ul>
                         
                          
                        <div class="clearfix"></div>
                         
                    </div>
                </div>
            </div>
        </div>

        

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    Непрочитанные ( <span style="color: #f8ac59">@await Component.InvokeAsync("OrderEmployeeVM")</span> / <span style="color: #1c84c6">@await Component.InvokeAsync("OrderEmployeeVMOpen")</span>)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" href="~/OrderEmployees/ListOrderMsg?id=@ViewBag.UserNameOrderF" title="Refresh inbox"><i class="fa fa-refresh"></i> Обновить</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
                <div class="mail-box">

@foreach (var item in Model.SotringEmployeeOrderViewModel)
{
    if (item.StatusVM == "New")
    {
                <table class="table table-hover table-mail">
                <tbody>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks">
                    </td>
                    <td class="mail-ontact">

                    @if (@item.Id == null)
                        {
                            <a asp-controller="OrderEmployees" 
                        asp-action="Details" 
                        asp-route-id="@item.Id"
                        data-id="@item.Id" onclick="GetMessageId(this)">Отправитель неизвестен</a>
                        }else{
                        
                        <a asp-controller="OrderEmployees" 
                        asp-action="ListOrderMsg" id="employeeIdOrder"
                        asp-route-id="@item.Id">@item.SendFromName (@item.OrderCount)</a>
                        }


                        
                        <span class="label label-primary pull-right" id="statusMsg">New</span></td>
                    <td class="mail-subject"><a asp-controller="OrderEmployees" 
                    asp-action="Details" 
                    asp-route-id="@item.Id"
                    data-id="@item.Id" id="getUpdate" onclick="GetMessageId(this)">@Html.DisplayFor(modelItem => item.AssetVM.Name)</a></td>
                    <td class=""></td>
                    <td class="text-right mail-date">@Html.DisplayFor(modelItem => item.DateFromVM)</td>
                </tr>
                </tbody>
                </table>
    }

    if (item.StatusVM == "Open")
    {
               
                <table class="table table-hover table-mail">
                <tbody>
                <tr class="unread">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks" id="newInprogresCheck" value="@item.Id" onchange="OnChangeCheckBoxFuncOrderOpen(this)">
                    </td>
                    <td class="mail-ontact">

                    @if (@item.Id == null)
                        {
                            <a asp-controller="OrderEmployees" 
                        asp-action="Details" 
                        asp-route-id="@item.Id"
                        data-id="@item.Id" onclick="GetMessageId(this)">Отправитель неизвестен</a>
                        }else{
                        
                        <a asp-controller="OrderEmployees" 
                        asp-action="ListOrderMsgOpen" 
                        asp-route-id="@item.Id">@item.SendFromName (@item.OrderCount)</a>
                        }


                        
                        <span class="label label-success pull-right" id="statusMsg">New</span></td>
                    <td class="mail-subject"><a asp-controller="OrderEmployees" 
                    asp-action="Details" 
                    asp-route-id="@item.Id"
                    data-id="@item.Id" id="getUpdate" onclick="GetMessageId(this)">@Html.DisplayFor(modelItem => item.AssetVM.Name)</a></td>
                    <td class=""></td>
                    <td class="text-right mail-date">@Html.DisplayFor(modelItem => item.DateFromVM)</td>
                </tr>
                
                </tbody>
                </table>

                <div style="margin: 20px 10px 15px 17px">
                    <button type="submit" onclick="GetOrderEmployeeAdminOpen()" class="btn btn-danger">Отправить</button>
                </div>
    }
}

</div>
</div>
</div>
</div>



<!-- <strong>В процессе</strong><br /><hr /> -->

@foreach (var item in Model.SotringEmployeeOrderViewModel)
{
    if (item.StatusVM == "Inprogress")
    {
        <div class="panel panel-default" data-id="@item.Id" onclick="GetMessageIdInprogress(this)">
            <div class="panel-heading">
                <a class="btn" style="background-color: #c55058; color: white; width: 100%" data-toggle="collapse" id="clickIdInInprogress" href="#imageGallery-@item.Id">

                    <h4 style="color: white; text-align: left; width: auto; z-index: 3">
                        От: @Html.DisplayFor(modelItem => item.SendFromName) -
                        <strong> @Html.DisplayFor(modelItem => item.TitleSort)</strong>
                    </h4>
                </a>
            </div>
            <div class="panel-body collapse" id="imageGallery-@item.Id">
                <strong style="color: dimgrey">Заголовок:</strong><h5> @Html.DisplayFor(modelItem => item.TitleSort)</h5><br />
                <div style="width: 100%">
                    <strong style="color: dimgrey">Содержимое</strong> <h4>@Html.DisplayFor(modelItem => item.ContentVM)</h4>
                </div> <br /><hr />
                <p style="color: dimgrey">Дата отправки: @Html.DisplayFor(modelItem => item.DateFromVM) </p>
                <p style="color: dimgrey">Отправленно администратору: @Html.DisplayFor(modelItem => item.DateToVM) </p>

                <a class="btn" style="background-color: #2c4267; color: white" onclick="showModalSendOrderAdmin()">Переслать</a>

            </div>
        </div>
    }
}


@*Modal Window*@

<div class="modal fade" id="newModalOrderAdmin">
    <div class="modal-dialog modal-lg" style=" width: 500px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Отправить заявку</h4>
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="form-group hidden" id="officeSelectAdmin">
                                <label class="control-label">Офисы</label>
                                <select class="form-control" id="officeIdSelectAdmin"
                                        onchange="OnChangeOfficeIdAdmin(this)"
                                        style=" width: 270px !important;"
                                        asp-items="ViewBag.OfficeIdAdmin"></select>
                            </div>

                            <div class="form-group" id="officeSelect" style="width: 150px">

                                <h5>Менеджер - @ViewBag.OfficeIdTitleAdmin</h5>
                                <p>@ViewBag.UserIdAdmin</p>
                                <strong>Кому:</strong><p> @ViewBag.EmployeeFromIdNameAdmin </p><br />


                                <select class="form-control hidden" id="EmployeeToIdSelectAdmin"
                                        onchange="OnChangeEmployeeToIdAdmin(this)"
                                        style=" width: 270px !important;"
                                        asp-items="ViewBag.EmployeeToIdAdmin"></select>

                            </div>


                            <div class="form-group">
                                <label class="control-label">Заголовок</label>
                                <input style=" width: 270px !important;" class="form-control" id="titleContentAdmin" />
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group hidden" id="EmployeeSelectAdmin">
                                <label class="control-label">Кому:</label>
                                <select class="form-control" id="EmployeeIdSelectAdmin"
                                        onchange="OnChangeEmployeeIdAdmin(this)"
                                        style=" width: 270px !important;"
                                        asp-items="ViewBag.EmployeeFromIdAdmin"></select>
                            </div>

                            <div class="form-group" id="contentOrder">
                                <label class="control-label">Такст заявки</label>
                                <textarea class="form-control" id="contentOrderIAdmin"
                                          style=" width: 270px !important;"
                                          asp-items="ViewBag.OfficeIdAdmin"></textarea>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <form id="NewAssetForm">

                <div class="modal-footer">
                    <div>
                        <button id="CreateMethod" type="submit" onclick="GetOrderEmployeeAdmin()" class="btn" style="background-color: #2c4267; color: white">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    
    //window.onload = function() {
//
    //};

     checkedCheckBoxOrderOpen = [];
        //checkedCheckBoxOrderOpen = document.getElementById("employeeIdOrder");
        
        function OnChangeCheckBoxFuncOrderOpen(e) {
            var orderId = e.value;
            if (checkedCheckBoxOrderOpen.indexOf(orderId) > -1) {
                var elementIndex = checkedCheckBoxOrderOpen.indexOf(orderId);
                checkedCheckBoxOrderOpen.splice(elementIndex, 1);
            } else {
                checkedCheckBoxOrderOpen.push(orderId);
            }
        }

        //console.log(checkedCheckBoxOrderOpen);
        //debugger;
        
        function GetOrderEmployeeAdminOpen() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("OrderSendAdminOrder", "OrderEmployeeAdmins")',
                    data: {
                        checkedCheckBoxOrderOpen: checkedCheckBoxOrderOpen
                    },
                    success: function (data) {
                        console.log('success!');
                    }
                });
            }

    
    var idMessage;
    var idMessageOpen;
    function GetMessageId(event) {
        idMessage = event.getAttribute('data-id');
       
        $.ajax({
            type: 'POST',
            url: '@Url.Action("OrderStatus", "OrderEmployees")',
            data: {
                idMessage: idMessage
            },
            success: function (data) {
            }
        });
    }

    function GetMessageStatus(idMessage) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetMsgOrderStatus", "OrderEmployees")',
            contentType: "application/json",
            data: {
                idMessage: idMessage
            },
            success: function (result) {
                var status = JSON.parse(result);
                if (status === "Open") {
//                    setTimeout(function () { window.location = window.location; }, 100);
                    window.location.reload();
                }
                console.log(status);
            }
        });
    }

    
    function GetMessageIdOpen(event) {
        idMessageOpen = event.getAttribute('data-id');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("OrderStatusOpen", "OrderEmployees")',
            data: {
                idMessageOpen: idMessageOpen
            },
            success: function (data) {
                console.log('success!');
            }
        });
    }


    var officeIdAdmin;
    var employeeFromIdAdmin;
    var employeeToIdAdmin;

    var messageOnIdOpen = [];
    var messageOnIdOpenUser;


    function showModalSendOrderAdmin() {
        $("#newModalOrderAdmin").modal();
        officeIdAdmin = document.getElementById('officeIdSelectAdmin').children[0].value;
        employeeFromIdAdmin = document.getElementById('EmployeeIdSelectAdmin').children[0].value;
        employeeToIdAdmin = document.getElementById('EmployeeToIdSelectAdmin').children[0].value;

    }

    function OnChangeOfficeIdAdmin(e) {
        officeIdAdmin = e.value;
    }
    function OnChangeEmployeeIdAdmin(e) {
        employeeFromIdAdmin = e.value;
    }
    function OnChangeEmployeeToIdAdmin(e) {
        employeeToIdAdmin = e.value;
    }


    function GetOrderEmployeeAdmin() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("OrderSendAdmin", "OrderEmployees")',
            data: {
                idMessageOpen: idMessageOpen,
                messageOnIdOpenUser: messageOnIdOpenUser,
                officeIdAdmin: officeIdAdmin,
                employeeFromIdAdmin: employeeFromIdAdmin,
                employeeToIdAdmin: employeeToIdAdmin,
                titleAdmin: $("#titleContentAdmin").val(),
                contentAdmin: $("#contentOrderIAdmin").val()
            },
            success: function (data) {
                console.log('success!');
            }
        });
    }

</script>