﻿@model StayTrueWebAdmin.Models.EditModels.PartyCreateEditModel
@{
    ViewBag.Title = "Великая вечеринка-создание";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
<div class="content create-poll-page-content">
@using (Html.BeginForm("Create", "Party", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="container-fluid">
    <div class="content-header">
        <div id="poll-title">
            <h5>
                <span>Название вечеринки</span>
                <div class="right-side">
                    <button type="submit"
                            class="border-success bg-success text-white">
                        Сохранить вечеринку
                    </button>
                    <button type="button"
                            class="border-danger bg-danger text-white ml-3 abort-edit-create">
                        Отмена
                    </button>
                </div>
            </h5>
            @Html.TextBoxFor(model => model.Name, new {placeholder = "Напишите название вечеринки", id = "poll-title-input"})
        </div>
        <div class="poll-description-wrap">
            <span>Описание</span>
            @Html.TextAreaFor(model => model.Description, new { @class = "summernote"})
        </div>
        <div class="party-page-header-bottom">
            <div class="thumbnails">
                <div class="thumbnail-for-web thumbnail-wrap">
                    <span>Изображение для сайта</span>
                    <div class="st-upload game_img_upload edit">
                        <label for="add-party-web-thumbnail"></label>
                        @Html.TextBoxFor(model=>model.Image, new { type = "file", accept = "image/*", @class = "st-upload-input user_edit_items", id= "add-party-web-thumbnail" })
                    </div>
                </div>
               <div class="thumbnail-for-mobile thumbnail-wrap">
                    <span>Изображение для приложения</span>
                    <div class="st-upload game_img_upload edit">
                        <label for="add-party-mobile-thumbnail"></label>
                        @Html.TextBoxFor(model=>model.MobileImage, new { type = "file", @class = "st-upload-input user_edit_items", accept = "image/*", id = "add-party-mobile-thumbnail", name= "party_mobile_thumbnail" })
                    </div>
                </div>
            </div>
            <div class="party-page-header-bottom-right">
                <div class="party-period">
                    <div class="party-date">
                        <span>Дата начала: </span>
                        @Html.TextBoxFor(modelItem => Model.RegistrationBeginDate, "{0:dd/MM/yyyy HH:mm}", new { placeholder = "{0:dd/MM/yyyy HH:mm}", @class = "datepicker" })
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                    <div class="party-date">
                        <span>Дата конца: </span>
                        @Html.TextBoxFor(modelItem => Model.EndDate, "{0:dd/MM/yyyy HH:mm}", new { placeholder = "{0:dd/MM/yyyy HH:mm}", @class = "datepicker game-edit-item" })
                        <ion-icon name="calendar"></ion-icon>
                    </div>
                </div>
                <div class="party-status">
                    <span>Статус:</span>
                    @Html.CheckBoxFor(model => model.IsActive, new {id = "party-status-checkbox"})
                    <div class="checkbox-toggle">
                        <label for="party-status-checkbox">
                            <div class="btn btn-success active-status-btn">
                                Активно
                            </div>
                            <div class="btn btn-danger hidden-status-btn d-block">
                                Скрыто
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body battle-body">
        <div id="battle-questions">
            <div class="row">
                <div class="col-12" id="battle-question-list">
                    @for (int i = 0; i < Model.PartyQuestionnaireModels.Length; i++)
                    {
                        <div class="battle-question">
                            @Html.HiddenFor(modelItem => Model.PartyQuestionnaireModels[i].Id)
                            <div class="question-title">
                                <label for="">Вопросы</label>
                                @Html.TextBoxFor(modelItem => Model.PartyQuestionnaireModels[i].Question, new { placeholder = "Введите вопрос", @class = "poll_edit_items" })
                            </div>
                            <button type="button" class="border-danger bg-danger text-white delete-question" data-id="@Model.PartyQuestionnaireModels[i].Id">Удалить вопрос</button>
                        </div>
                    }
                </div>
                <div class="col-md-10">
                    <div class="row d-flex align-items-end">
                        <div class="col-md-10">
                            <div class="scores">
                                <span>Количество очков за прохождения опроса: </span>
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="border-primary bg-primary text-white add-battle-question">Добавить</button>
                </div>
            </div>
        </div>
        <div class="battle-levels">
            <div id="add-battle-level" class="add-new-wrap">
                <div id="add-new-tgl">
                    <span></span>
                    <span>Добавить игру</span>
                </div>
            </div>

            <div class="party-entertainment-list">
                <div class="entertainment-section">
                    <div class="st-upload entertainment_img_upload edit">
                        <label for="add-new-quiz-thumb"></label>
                        @Html.TextBoxFor(modelItem => Model.QuizzImage, new { type = "file", @class = "st-upload-input", accept = "image/*", name = "quiz_thumb", id = "add-new-quiz-thumb" })
                    </div>

                    <div class="entertainment-section-right">
                        <div class="game-title">
                            <span>Добавить викторину:</span>
                            <br/>
                            @Html.TextBoxFor(modelItem => Model.QuizzName, new { placeholder = "Название викторины", @class = "game-edit-item" })
                        </div>

                        <div class="game-zip">
                            <span>Загрзуите архив викторины:</span>
                            <br/>
                            @Html.TextBoxFor(modelItem => Model.QuizzArchive, new { type = "file", @class = "add-new-quiz_zip", accept = ".zip"})
                        </div>
                    </div>
                </div>
                @{
                <div class="entertainment-section game-section" id="entertainment-party">

                        @for (int i = 0; i < Model.PartyGameModels.Length; i++)
                        {
                            <div class="st-upload entertainment_img_upload edit">
                                <label for="add-new-game-thumb1"></label>
                                @Html.TextBoxFor(modelItem => Model.PartyGameModels[i].GameImage, new {type = "file", @class = "st-upload-input", accept = "image/*", id= "add-new-game-thumb1" })
                            </div>

                                <div class="entertainment-section-right">
                                    <div class="game-title">
                                        <span>Добавить игру:</span>
                                        <br/>
                                        @Html.TextBoxFor(modelItem => Model.PartyGameModels[i].GameName, new {placeholder = "Название игры", @class = "game-edit-item"})
                                    </div>
                                    <div class="game-zip">
                                        <span>Загрзуите архив игры:</span>
                                        <br/>
                                        @Html.TextBoxFor(modelItem => Model.PartyGameModels[i].GameArchive, new {type = "file", @class = "add-new-game_zip", accept = ".zip"})
                                    </div>
                                </div>
                        }
                </div>
                }
            </div>
        </div>
    </div>
    </div>
}
</div>
</div>

@section Scripts {
    @Scripts.Render($"~/bundles/js/party-page-{BundleConfig.Version}")
}