﻿<div style="display: none;" id="delete-popup" class="ban-pop-up-window">
    <form action="#" id="delete-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить ?</div>
            <input type="hidden" name="entity-id"  id="entity-id"/>
            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>