﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - StayTrue админ</title>

    @Styles.Render($"~/bundles/css/jquery-ui-{BundleConfig.Version}")
    @Styles.Render("~/bundles/css/fonts")
    @Styles.Render("~/Content/css/libs.min.css")
    @Styles.Render($"~/bundles/css-{BundleConfig.Version}")

    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render($"~/bundles/js/loader-{BundleConfig.Version}")
    
</head>
<body>
<div style="display: none;" id="edit-warning" class="ban-pop-up-window">
    <form action="#" id="needcancel-form">
        <div class="form-inner-wrap">
            <div class="title">Сохраните или отмените редактируемые данные!</div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/js/libs.min.js")

@RenderBody()

@Scripts.Render("https://unpkg.com/ionicons@4.5.0/dist/ionicons.js")
@Scripts.Render($"~/bundles/js/jquery-ui-{BundleConfig.Version}")
@Scripts.Render($"~/bundles/js/jquery-datetimepicker-{BundleConfig.Version}")
@Scripts.Render($"~/bundles/js/jquery-datetimepicker-lang-{BundleConfig.Version}")
@Scripts.Render($"~/bundles/js/common-{BundleConfig.Version}")
@RenderSection("scripts", required: false)

</body>
</html>