﻿<div id="logo">
    <a href="/">
        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 70.4 32.3" style="enable-background:new 0 0 70.4 32.3;" xml:space="preserve">
        <style type="text/css">
            .st0 {
                fill: #31479D;
            }

            .st1 {
                fill: #B92A1D;
            }
</style>
        <path class="st0" d="M59.5,2.2H57V12c0,0.4,0,0.7-0.1,0.9c-0.1,0.2-0.1,0.4-0.3,0.6c-0.1,0.1-0.3,0.2-0.5,0.3
                            c-0.2,0.1-0.4,0.1-0.7,0.1c-0.2,0-0.4,0-0.6-0.1c-0.2-0.1-0.3-0.2-0.5-0.3c-0.1-0.1-0.2-0.3-0.3-0.6c-0.1-0.2-0.1-0.5-0.1-0.9V2.2
                            h-2.4v9.5c0,0.8,0.1,1.5,0.3,2c0.2,0.6,0.4,1,0.7,1.4c0.3,0.3,0.7,0.6,1.2,0.8c0.5,0.2,1,0.2,1.7,0.2c1.3,0,2.3-0.3,2.9-1
                            c0.7-0.7,1-1.8,1-3.4V2.2z M44.8,8.9V4.4h0.9c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.4,0.3,0.6
                            c0.1,0.3,0.1,0.6,0.1,1c0,0.9-0.1,1.5-0.3,1.8c-0.2,0.3-0.6,0.5-1.1,0.5H44.8z M47.5,15.8h2.5l-1.9-5.3c0.6-0.2,1.1-0.7,1.3-1.3
                            c0.2-0.6,0.4-1.5,0.4-2.7c0-0.9-0.1-1.6-0.2-2.1c-0.1-0.6-0.4-1-0.6-1.3c-0.3-0.3-0.6-0.6-1-0.7c-0.4-0.1-0.9-0.2-1.4-0.2h-4.2v13.6
                            h2.5V11H46L47.5,15.8z M68.4,15.8v-2.2h-4.1V10h2.9V7.8h-2.9V4.5h4V2.2h-6.5v13.6H68.4z M31.1,2.3h-2.5L27,7.3l-1.6-5.1h-2.6
                            l2.9,8.5v5.1h2.5v-5.1L31.1,2.3z M19.1,5.6l0.9,5.1h-1.8L19.1,5.6z M20.7,2.3h-2.8l-3.1,13.6h2.5l0.5-2.7h2.7l0.5,2.7h2.6L20.7,2.3z
                            M15.5,2.3H8.3v2.2h2.3v11.4h2.5V4.4h2.4V2.3z M5.9,15.9c0.5-0.2,0.9-0.4,1.2-0.8c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.2-1.1,0.2-1.8
                            c0-0.6-0.1-1.1-0.2-1.5c-0.1-0.4-0.4-0.8-0.6-1.1C6.8,9,6.4,8.8,6,8.5C5.6,8.3,5,8.1,4.5,7.9C4.1,7.8,3.8,7.7,3.6,7.6
                            C3.3,7.5,3.2,7.4,3,7.2C2.9,7.1,2.8,6.9,2.7,6.7C2.7,6.5,2.6,6.3,2.6,6c0-0.6,0.1-1,0.3-1.3C3.1,4.4,3.4,4.2,4,4.2
                            c0.5,0,0.8,0.1,1,0.4c0.2,0.2,0.3,0.6,0.4,1.2h2.4c0-0.8-0.1-1.4-0.3-1.9C7.4,3.5,7.1,3.1,6.8,2.8C6.5,2.5,6.1,2.3,5.6,2.2
                            C5.2,2.1,4.6,2,4,2H3.9C2.7,2,1.8,2.3,1.2,2.9c-0.7,0.6-1,1.6-1,3c0,0.6,0.1,1.1,0.2,1.6C0.5,7.9,0.7,8.3,1,8.6
                            c0.3,0.3,0.6,0.6,1,0.8C2.4,9.6,2.8,9.8,3.4,10c0.4,0.1,0.8,0.3,1.1,0.4c0.3,0.1,0.5,0.3,0.6,0.5c0.2,0.2,0.3,0.4,0.3,0.6
                            c0,0.2,0.1,0.4,0.1,0.7c0,0.6-0.1,1.1-0.3,1.4c-0.2,0.3-0.7,0.4-1.3,0.4c-0.4,0-0.8-0.1-1-0.4c-0.2-0.3-0.4-0.7-0.4-1.4H0
                            c0,0.8,0.1,1.4,0.3,1.9c0.2,0.5,0.4,0.9,0.8,1.2c0.3,0.3,0.7,0.5,1.2,0.7c0.5,0.1,1,0.2,1.6,0.2C4.7,16.1,5.3,16,5.9,15.9z M41,2.2
                            h-7.2v2.2h2.3v11.4h2.5V4.4H41V2.2z" />



        <path class="st1" d="M31.1,18.4h-2.5L27,23.5l-1.6-5.1h-2.6l2.9,8.5V32h2.5v-5.1L31.1,18.4z M19.1,21.8l0.9,5.1h-1.8L19.1,21.8z
                            M20.7,18.4h-2.8L14.8,32h2.5l0.5-2.7h2.7L21,32h2.6L20.7,18.4z M15.5,18.4H8.3v2.2h2.3V32h2.5V20.6h2.4V18.4z M35.6,18.4h6.6v2.2
                            h-4.1V24h2.9v2.1h-2.9v5.9h-2.5V18.4z M47.4,27.2h-1.1v4.8h-2.5V18.4H48c0.5,0,1,0.1,1.4,0.2c0.4,0.1,0.8,0.4,1.1,0.7
                            c0.3,0.3,0.5,0.8,0.7,1.3c0.1,0.6,0.2,1.3,0.2,2.1c0,0.6,0,1.1-0.1,1.5c-0.1,0.4-0.2,0.8-0.3,1.1c-0.1,0.3-0.3,0.6-0.5,0.8
                            c-0.2,0.2-0.5,0.4-0.8,0.5l1.9,5.4H49L47.4,27.2z M47.4,25c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.3-0.2,0.5-0.4c0.1-0.2,0.2-0.4,0.3-0.7
                            c0.1-0.3,0.1-0.7,0.1-1.1c0-0.4,0-0.8-0.1-1c-0.1-0.3-0.2-0.5-0.3-0.7c-0.1-0.2-0.3-0.3-0.5-0.3c-0.2-0.1-0.5-0.1-0.8-0.1h-1V25
                            H47.4z M53.1,18.4h6.6v2.2h-4.1V24h3v2.2h-3v3.6h4.2v2.2h-6.7V18.4z M61.6,18.4h6.6v2.2h-4.1V24h3v2.2h-3v3.6h4.2v2.2h-6.7V18.4z
                            M5.9,32c0.5-0.2,0.9-0.4,1.2-0.8c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.2-1.1,0.2-1.8c0-0.6-0.1-1.1-0.2-1.5c-0.1-0.4-0.4-0.8-0.6-1.1
                            c-0.3-0.3-0.6-0.6-1.1-0.8c-0.4-0.2-0.9-0.4-1.5-0.6c-0.4-0.1-0.7-0.2-0.9-0.3c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1-0.1-0.2-0.3-0.3-0.5
                            c-0.1-0.2-0.1-0.4-0.1-0.7c0-0.6,0.1-1,0.3-1.3c0.2-0.3,0.5-0.4,1.1-0.4c0.5,0,0.8,0.1,1,0.4C5.2,21,5.3,21.4,5.4,22h2.4
                            c0-0.8-0.1-1.4-0.3-1.9c-0.2-0.5-0.4-0.9-0.7-1.2c-0.3-0.3-0.7-0.5-1.2-0.6c-0.5-0.1-1-0.2-1.7-0.2c-1.2,0-2.1,0.3-2.8,0.9
                            c-0.7,0.6-1,1.6-1,3c0,0.6,0.1,1.1,0.2,1.6c0.1,0.4,0.3,0.8,0.6,1.1c0.3,0.3,0.6,0.6,1,0.8c0.4,0.2,0.9,0.4,1.4,0.6
                            c0.4,0.1,0.8,0.3,1.1,0.4C4.7,26.7,5,26.8,5.1,27c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2,0.1,0.4,0.1,0.7c0,0.6-0.1,1.1-0.3,1.4
                            C4.9,29.9,4.5,30,3.8,30c-0.4,0-0.8-0.1-1-0.4c-0.2-0.3-0.4-0.7-0.4-1.4H0c0,0.8,0.1,1.4,0.3,1.9c0.2,0.5,0.4,0.9,0.8,1.2
                            c0.3,0.3,0.7,0.5,1.2,0.7c0.5,0.1,1,0.2,1.6,0.2C4.7,32.3,5.3,32.2,5.9,32z" />



                    </svg>
    </a>
</div>
