﻿@using StayTrueWebAdmin.Extentions

<nav>
    <ul>
        @if (User.IsInRole("administrator") || User.IsInRole("superadmin"))
        {
            <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">
                @Html.ActionLink("Статистика", "Index", "Home")
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Users")">
                @Html.ActionLink("Пользователи", "Index", "Users")
            </li>
            <li class="nav-section">
                <span>Новости</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "News")">
                        @Html.ActionLink("Новости", "Index", "News")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Banner")">
                        @Html.ActionLink("Баннеры", "Index", "Banner")
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Chat")">
                @Html.ActionLink("Чат", "Index", "Chat")
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "PaymentReport")">
                @Html.ActionLink("Отчет платежей", "Index", "PaymentReport")
            </li>
            <li class="nav-section">
                <span>Развлечения</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Game")">
                        @Html.ActionLink("Игры", "Index", "Game")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "PvpGames")">
                        @Html.ActionLink("Pvp Игры", "Index", "PvpGames")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Quiz")">
                        @Html.ActionLink("Викторины", "Index", "Quiz")
                    </li>
                </ul>
            </li>
            <li class="nav-section">
                <span>Опрос</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Questionnaire")">
                        @Html.ActionLink("Опрос", "Index", "Questionnaire")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Questionnaire")">
                        @Html.ActionLink("Отчет по опросам", "Index", "QuestionnaireReport")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "QuizzSessionAnswer")">
                        @Html.ActionLink("Ответы викторин", "Index", "QuizzSessionAnswer")
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Gallery")">
                @Html.ActionLink("Галерея", "Index", "Gallery")
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Shop")">
                @Html.ActionLink("Магазин", "Index", "Shop")
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "CigaretteBrands")">
                @Html.ActionLink("Бренды", "Index", "CigaretteBrands")
            </li>
            <li class="nav-section">
                <span>Активности</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "GreatBattle")">
                        @Html.ActionLink("Великая битва", "Index", "GreatBattle")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Party")">
                        @Html.ActionLink("Вечеринка", "Index", "Party")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Lottery")">
                        @Html.ActionLink("Шанс", "Index", "Lottery")
                    </li>
                </ul>
            </li>
            if (User.IsInRole("superadmin"))
             {
                 <li class="nav-section">
                     <span>Смс рассылка</span>
                     <ul class="sub-nav">
                         <li class="@Html.IsSelected(actions: "SmsTemplateList", controllers: "Sms")">
                             @Html.ActionLink("Шаблоны", "SmsTemplateList", "Sms")
                         </li>
                         <li class="@Html.IsSelected(actions: "GetSmsReports", controllers: "Sms")">
                             @Html.ActionLink("Рассылки", "GetSmsReports", "Sms")
                         </li>
                     </ul>
                 </li>
             }
            <li class="nav-section">
                <span>Push уведомления</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "PushTemplates")">
                        @Html.ActionLink("Push шаблоны", "Index", "PushTemplates")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Push")">
                        @Html.ActionLink("Push рассылка", "Index", "Push")
                    </li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "PushReport")">
                        @Html.ActionLink("Push отчеты", "Index", "PushReport")
                    </li>
                </ul>
            </li>
            <li class="nav-section">
                <span>Поддержка</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Support")">
                        @Html.ActionLink("Обратная связь", "Index", "Support")
                    </li>
                    <li class="@Html.IsSelected(actions: "ResetUserPasswordIndex", controllers: "Support")">
                        @Html.ActionLink("Сброс пароля", "ResetUserPasswordIndex", "Support")
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Administrators")">
                @Html.ActionLink("Администраторы", "Index", "Administrators")
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "MobileVersion")">
                @Html.ActionLink("Мобильные версии", "Index", "MobileVersion")
            </li>
        }
        @if (User.IsInRole("moderator"))
        {
            <li class="@Html.IsSelected(actions: "Index", controllers: "Users")">
                @Html.ActionLink("Пользователи", "Index", "Users")
            </li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Chat")">
                @Html.ActionLink("Чат", "Index", "Chat")
            </li>
            <li class="nav-section">
                <span>Поддержка</span>
                <ul class="sub-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Support")">
                        @Html.ActionLink("Обратная связь", "Index", "Support")
                    </li>
                    <li class="@Html.IsSelected(actions: "ResetUserPasswordIndex", controllers: "Support")">
                        @Html.ActionLink("Сброс пароля", "ResetUserPasswordIndex", "Support")
                    </li>
                </ul>
            </li>
        }
        @if (User.IsInRole("retailer"))
        {
            <li class="@Html.IsSelected(actions: "Index", controllers: "Shop")">
                @Html.ActionLink("Магазин", "Index", "Shop")
            </li>
        }
    </ul>
</nav>

