﻿ <div class="sidebar">
    @Html.Partial("_LogoPartial")
     @Html.Partial("_NavbarPartial")
     <div class="sidebar-profile">
         @using (Html.BeginForm("Logout", "Account"))
         {
             @Html.AntiForgeryToken()
             <div class="st-btn">
                 <div class="st-btn">
                     <button type="submit">Выход</button>
                 </div>
             </div>
         }
    </div>
 </div>
