﻿@using StayTrueWebAdmin.Models
@model  StayTrueWebAdmin.Models.FilterModels.StaticticsFilteredModel
@{
    ViewBag.Title = "Главная страница";
}
@{ var data = (StatisticsModel)ViewBag.Statistics;}
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "FilterForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class=" d-flex justify-content-center">
                        <div class="st-column">
                            <div class="filter-item-title">Новые пользователи</div>
                            @Html.TextBoxFor(model => model.Filter.NewUsersFromDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.NewUsersToDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeholder = "от дд/мм/гггг" })

                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Пол</div>
                            @Html.DropDownListFor(model => model.Filter.Gender, Model.Genders, "Все", new { @class = "st-selectize" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Паспорт</div>
                            @Html.EditorFor(model => model.Filter.PasportStatus, "PassportStatuses")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.DropDownListFor(model => model.Filter.Status, Model.AccountStatuses, "Все", new { @class = "st-selectize" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Город</div>
                            @Html.DropDownListFor(model => model.Filter.City, Model.Cities, "Все", new { @class = "st-selectize" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Возраст</div>
                            @Html.DropDownListFor(model => model.Filter.AgeRange, Model.Age, "Все", new { @class = "st-selectize" })
                        </div>
                        @*<div class="st-column">
                                <div class="filter-item-title">Активные пользователи</div>
                                <input type="text" name="active_users_min" class="datepicker" placeholder="от дд/мм/гггг">
                                <input type="text" name="active_users_max" class="datepicker" placeholder="до дд/мм/гггг">
                            </div>*@
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white"><span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon></button>
                            <button type="button" class="st-button reset-btn">
                                <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div id="charts">
                    @{
                        var amountJson =  data.ByGender.Select(x=>new []{x.Key.Name, x.Value.ToString()});
                        var passportJson =  data.ByPassport.Select(x=>new []{x.Key.ToString(), x.Value.ToString()});
                        var citiesJson = data.ByCity.Select(x => new[] { x.Key.CityName.ToString(), x.Value.ToString() });
                        var ageJson = data.ByAge.Select(x => new[] { x.Key.ToString(), x.Value.ToString() });
                    }
                    <div id="users-amount" class="chart-item"  data-amount="@Json.Encode(amountJson)"></div>
                    <div id="users-passport" class="chart-item" data-passport="@Json.Encode(passportJson)"></div>
                    <div id="users-age" class="chart-item" data-age="@Json.Encode(ageJson)"></div>
                    <div id="users-city" class="chart-item" data-cities="@Json.Encode(citiesJson)"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartUsers);

    function drawChartUsers() {
        var userAmountArr = $('#users-amount').data("amount");
        userAmountArr.forEach(function (item, i, userAmountArr) {
            item[1] = parseInt(item[1]);
        });
        userAmountArr.unshift(['Количество', 'составляет']);
        var data = google.visualization.arrayToDataTable(
            userAmountArr
        );

        var options = {
            title: 'Всего пользователей @Model.Users.Count()',
            sliceVisibilityThreshold: 0
            
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-amount'));

        chart.draw(data, options);
    }

    //--------------------------------------------

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartPassport);

    function drawChartPassport() {
        var userPassportArr = $('#users-passport').data("passport");
        userPassportArr.forEach(function (item, i, userAmountArr) {
            item[1] = parseInt(item[1]);
        });
        userPassportArr.unshift(['Количество', 'составляет']);

        var data = google.visualization.arrayToDataTable(userPassportArr);

        var options = {
            title: 'Паспорта у пользователей @Model.Users.Count(x=>x.PassportBack!=null && x.PassportFront!=null)',
            sliceVisibilityThreshold : 0
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-passport'));

        chart.draw(data, options);
    }

    //--------------------------------------------

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartAge);

    function drawChartAge() {
        var userAgeArr = $('#users-age').data("age");
        userAgeArr.forEach(function (item, i, userAgeArr) {
            item[1] = parseInt(item[1]);
        });
        userAgeArr.unshift(['Количество', 'составляет']);
        var data = google.visualization.arrayToDataTable(userAgeArr);

        var options = {
            title: 'Возрасть пользователей: 18 - 40+',
            sliceVisibilityThreshold: 0
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-age'));

        chart.draw(data, options);
    }

    //--------------------------------------------

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartCity);

    function drawChartCity() {

        var userCitiesArr = $('#users-city').data("cities");
        userCitiesArr.forEach(function (item, i, userCitiesArr) {
            item[1] = parseInt(item[1]);
        });
        userCitiesArr.unshift(['Количество', 'составляет']);


        var data = google.visualization.arrayToDataTable(userCitiesArr);
        var options = {
            title: 'Города пользователей',
            sliceVisibilityThreshold: 0
        };

        var chart = new google.visualization.PieChart(document.getElementById('users-city'));

        chart.draw(data, options);
    }
</script>