﻿@model StayTrueWebAdmin.Models.EditModels.PushTemplateEditModel
@{ Layout = null; }
@using (Html.BeginForm("Create", "PushTemplates", FormMethod.Post, new { @class = "add-new-pattern-form", id = "create-push-template", enctype = "multipart/from-data"}))
{
    @Html.AntiForgeryToken()
    <div class="st-pattern-body">
        <div class="pattern-title">
            <span>Название шаблона</span>
            @Html.TextBoxFor(model=>model.Name, new { @class = "pattern_edit_items pattern-title-field", placeholder= "Название шаблона" })
           
        </div>
        <div class="notification-title">
            <span>Заголовок уведомления</span>
            @Html.TextBoxFor(model => model.PushCaption, new { @class = "pattern_edit_items pattern-title-field", placeholder = "Заголовок уведомления" })
        </div>
        <div class="pattern-text">
            <span>Текст рассылки</span>
            @Html.TextAreaFor(model=>model.PushContent, new { @class = "summernote"})
        </div>
        <div class="bottom-row">
            <div class="buttons-wrap bottom-items">
                <button type="submit" class="pattern-save border-success bg-success text-white">Сохранить</button>
                <button type="reset" class="pattern-add-abort border-warning bg-warning text-white">Отмена</button>
            </div>
        </div>
    </div>
}
<div class="formError" id="form-error" style="display: none;">
    <span><ion-icon name="alert" role="img" class="hydrated" aria-label="alert"></ion-icon> </span>
</div>