﻿@using DataAccessLayer
@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions
@using StayTrueWebAdmin.Helpers
@model StayTrueWebAdmin.Models.FilterModels.PushTemplatesFilteredModel
@{
    ViewBag.Title = "Push-шаблоны";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content support-page-content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "PushTemplates", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column num-list"></div>
                        <div class="st-column">
                            <div class="filter-item-title">Название шаблона</div>
                            @Html.TextBoxFor(model => model.Filter.Name)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Дата редактирования</div>
                            @Html.TextBoxFor(model => model.Filter.CreationDateFrom, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeHolder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.CreationDateTo, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeHolder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit"
                                    class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button reset-btn">
                                <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                        <div class="st-column"></div>
                    </div>
                }
            </div>
            <div class="content-body">
                <div id="add-pattern" class="add-new-wrap">
                    <div id="add-new-tgl" class="pattern-add">
                        <span></span>
                        <span>Добавить шаблон</span>
                    </div>
                    @Html.Action("CreatePushTemplate")
                </div>

                @foreach (var item in Model.PushTemplates)
                {
                    <div class="st-row st-pattern">

                        @using (Html.BeginForm("Edit", "PushTemplates", FormMethod.Post, new { @class = "add-new-pattern-form", id = "edit-push-template", enctype = "multipart/from-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(modelItem => item.Id)
                            <div class="d-flex justify-content-center st-pattern-header">
                                <div class="st-column num-list">
                                    <span class="txt">@Html.DisplayFor(modelItem => item.Id)</span>
                                </div>
                                <div class="st-column">
                                    @Html.TextBoxFor(modelItem => item.Name, new { @class = "user_edit_items", disabled = "disabled", required = "required" })
                                </div>
                                <div class="st-column">
                                    @Html.TextBoxFor(modelItem => item.CreationDate, "{0:dd/MM/yyyy}", new { @class = "datepicker", placeHolder = "от дд/мм/гггг", disabled = "disabled", required = "required" })
                                </div>
                                <div class="st-column btn-column">
                                    <button type="button" class="pattern-edit border-info bg-info text-white">Редактировать</button>
                                </div>
                                <div class="st-column btn-column">
                                    <button type="button" class="send-notification border-primary bg-primary text-white" data-fancybox data-src="#sms-send-popup">Отправить уведомление</button>
                                </div>
                                <div class="st-column btn-column">
                                    <button type="button" class="delete-template border-danger bg-danger text-white" data-fancybox data-src="#delete-template-popup">Удалить</button>
                                </div>
                            </div>
                            <div class="st-pattern-body">
                                <div class="pattern-title">
                                    <span>Название шаблона</span>
                                    @Html.TextBoxFor(modelItem => item.Name, new { @class = "pattern_edit_items pattern-title-field", placeholder = "Название шаблона" })
                                </div>
                                <div class="notification-title">
                                    <span>Название уведомления</span>
                                    @Html.TextBoxFor(modelItem => item.PushCaption, new { @class = "pattern_edit_items notification-title-field", placeholder = "Заголовок уведомления" })
                                </div>
                                <div class="pattern-text">
                                    <span>Текст рассылки</span>
                                    @Html.TextAreaFor(modeItem => item.PushContent, new { @class = "summernote" })
                                </div>
                                <div class="bottom-row">
                                    <div class="buttons-wrap bottom-items">
                                        <button type="submit" class="pattern-save border-success bg-success text-white">Сохранить</button>
                                        <button type="reset" class="pattern-change-abort border-warning bg-warning text-white">Отмена</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="formError" id="form-error" style="display: none;">
                            <span><ion-icon name="alert" role="img" class="hydrated" aria-label="alert"></ion-icon> </span>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Html.PagedListPager(Model.PushTemplates, page => Url.Action("Index", "PushTemplates", new
        {
            Model.Filter.Name,
            Model.Filter.CreationDateFrom,
            Model.Filter.CreationDateTo,
            page
        }), new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] {"pagination"},
            UlElementClasses = new[] {""}
        })
    </div>
</div>
@Html.Action("CreatePushNotification", "Push")
<div style="display: none;" id="delete-template-popup" class="ban-pop-up-window">
    <form action="#" id="delete-template-form">
        <div class="form-inner-wrap">
            <div class="title">Вы действительно хотите удалить шаблон?</div>
            @Html.Hidden("Id")
            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render($"~/bundles/js/push-templates-page-{BundleConfig.Version}");
}