﻿@using PagedList.Mvc
@using StayTrueWebAdmin.Extentions
@using StayTrueWebAdmin.Models.ViewModels
@model StayTrueWebAdmin.Models.FilterModels.PartyMembersFilteredModel

<div id="content">
<div class="content-header">
    @using (Html.BeginForm("GetMembers", "PartyMembers", FormMethod.Post, new {id = "FilterForm"}))
    {
        <input type="hidden" value="@ViewBag.PartyId" id="partyId" name="partyId"/>
        <div class="d-flex">
            <div class="st-column checkbox-column">
                <div class="filter-item-title"></div>
                @Html.CheckBoxFor(model => model.Filter.IsAllSelected, new { id = "select-all-users" })
            </div>
            <div class="st-column num-list">
                <div class="filter-item-title"></div>
            </div>
            <div class="st-column">
                <div class="filter-item-title">Имя</div>
                @Html.TextBoxFor(model => model.Filter.FirstName, new {placeholder = "Имя"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Фамилия</div>
                @Html.TextBoxFor(model => model.Filter.LastName, new {placeholder = "Фамилия"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Дата рождения</div>
                @Html.TextBoxFor(model => model.Filter.BirthDateFrom, "{0:dd/MM/yyyy}", new {@class = "datepicker", placeholder = "от дд/мм/гггг"})
                @Html.TextBoxFor(model => model.Filter.BirthDateTo, "{0:dd/MM/yyyy}", new {@class = "datepicker", placeholder = "до дд/мм/гггг"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Город</div>
                @Html.TextBoxFor(model => model.Filter.City, new {placeholder = "Город"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Последнее посещение</div>
                @Html.TextBoxFor(model => model.Filter.LastSignInFrom, "{0:dd/MM/yyyy}", new {@class = "datepicker", placeholder = "от дд/мм/гггг"})
                @Html.TextBoxFor(model => model.Filter.LastSignInTo, "{0:dd/MM/yyyy}", new {@class = "datepicker", placeholder = "до дд/мм/гггг"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Номер телефона</div>
                @Html.TextBoxFor(model => model.Filter.Phone, new {placeholder = "Телефон"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Баллы</div>
                @Html.TextBoxFor(model => model.Filter.PointsFrom, new {placeholder = "Колличество баллов"})
                @Html.TextBoxFor(model => model.Filter.PointsTo, new {placeholder = "Колличество баллов"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Ответ на вопрос 1</div>
                @Html.TextBoxFor(model => model.Filter.Answer1, new {placeholder = "Ответ"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Ответ на вопрос 2</div>
                @Html.TextBoxFor(model => model.Filter.Answer2, new {placeholder = "Ответ"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Ответ на вопрос 3</div>
                @Html.TextBoxFor(model => model.Filter.Answer3, new {placeholder = "Ответ"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Ответ на вопрос 4</div>
                @Html.TextBoxFor(model => model.Filter.Answer4, new {placeholder = "Ответ"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Ответ на вопрос 5</div>
                @Html.TextBoxFor(model => model.Filter.Answer5, new {placeholder = "Ответ"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Ответ на вопрос 6</div>
                @Html.TextBoxFor(model => model.Filter.Answer6, new {placeholder = "Ответ"})
            </div>
            <div class="st-column">
                <div class="filter-item-title">Заблокирован</div>
                <div>
                    @Html.DropDownListFor(model => model.Filter.IsBlocked,
                        new SelectList( new List<SelectListItem>
                        {
                            new SelectListItem {Value = "", Text = "Все", Selected = Model.Filter.IsBlocked == null},
                            new SelectListItem {Value = "False", Text = "Незаблокированные"},
                            new SelectListItem {Value = "True", Text = "Заблокированные"}
                        }, "Value", "Text", Model.Filter.IsBlocked.ToString()))
                </div>
            </div>
            <div class="st-column">
                <div class="filter-item-title">Приглашение</div>
                <div>
                    @Html.DropDownListFor(model => model.Filter.IsInvited,
                        new SelectList(new List<SelectListItem>
                        {
                            new SelectListItem {Value = "", Text = "Все", Selected = Model.Filter.IsInvited == null},
                            new SelectListItem {Value = "False", Text = "Не отправленно"},
                            new SelectListItem {Value = "True", Text = "Отправленно"}
                        }, "Value", "Text", Model.Filter.IsInvited.ToString()))
                </div>
            </div>
            <div class="st-column">
                <div class="filter-item-title">Пришли</div>
                <div>
                    @Html.DropDownListFor(model => model.Filter.HasCome,
                        new SelectList(new List<SelectListItem>
                        {
                            new SelectListItem {Value = "", Text = "Все", Selected = Model.Filter.HasCome == null},
                            new SelectListItem {Value = "False", Text = "Не пришли"},
                            new SelectListItem {Value = "True", Text = "Пришли"}
                        }, "Value", "Text", Model.Filter.HasCome.ToString()))
                </div>
            </div>
            <div class="st-column">
                <div class="filter-item-title">
                    <a href="#" id="excel-export-users">
                        <span>Экспорт .xls</span>
                        <ion-icon name="ios-code-download"></ion-icon>
                    </a>
                </div>
                <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                    <span>Применить</span><ion-icon name="ios-checkmark-circle"></ion-icon>
                </button>
                <button type="button" class="st-button reset-btn-bypath">
                    <span>Сбросить</span><ion-icon name="ios-close-circle"></ion-icon>
                </button>
            </div>
        </div>
    }
</div>
<div content-body>
    @foreach (var item in (List<PartyMembersViewModel>) ViewBag.Members)
    {
        <div class="st-row st-user">
            <div class="d-flex st-user-header">
                <div class="st-column checkbox-column" id="operation-checkbox-column">
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.HiddenFor(modelItem => item.User.Id)
                    <input type="checkbox" class="operation_checkbox" id="operation_checkbox_@item.User.Id">
                </div>
                <div class="st-column num-list">
                    <span class="txt">@item.User.Id</span>
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.User.FirstName, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.User.LastName, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.User.BirthDate, "{0:dd/MM/yyyy}", new {@class = "datepicker user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.User.Cities.CityName, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.User.LastSignInP, "{0:dd/MM/yyyy}", new {@class = "datepicker user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.User.Phone, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Points, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Answer1, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Answer2, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Answer3, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Answer4, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Answer5, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.TextBoxFor(modelItem => item.Answer6, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.CheckBoxFor(modelItem => item.IsBlocked, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.CheckBoxFor(modelItem => item.IsInvited, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column">
                    @Html.CheckBoxFor(modelItem => item.HasCome, new {@class = "user_edit_items", disabled = "disabled"})
                </div>
                <div class="st-column"></div>
            </div>
        </div>
    }
    <div id="content-list-pager">
        @Html.PagedListPager(Model.PartyMembers, page => Url.Action("GetMembers", "PartyMembers", new
        {
            Model.Filter.FirstName,
            Model.Filter.LastName,
            BirthDateFrom = Model.Filter.BirthDateFrom.ToShortDateString(),
            BirthDateTo = Model.Filter.BirthDateTo.ToShortDateString(),
            Model.Filter.City,
            LastSignInFrom = Model.Filter.LastSignInFrom.ToShortDateString(),
            LastSignInTo = Model.Filter.LastSignInTo.ToShortDateString(),
            Model.Filter.Phone,
            Model.Filter.PointsFrom,
            Model.Filter.PointsTo,
            Model.Filter.Answer1,
            Model.Filter.Answer2,
            Model.Filter.Answer3,
            Model.Filter.Answer4,
            Model.Filter.Answer5,
            Model.Filter.Answer6,
            Model.Filter.IsBlocked,
            Model.Filter.IsInvited,
            Model.Filter.HasCome,
            page,
            ViewBag.PartyId
        }), new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] {"pagination"},
            UlElementClasses = new[] {""}
        })
    </div>
</div>
</div>