﻿@using PagedList.Mvc
@using StayTrueWebAdmin.Models.ViewModels

@{
    ViewBag.Title = "Участники вечеринки";
}
<input type="hidden" name="entity-id" id="entity-id" value="[]" />
<input type="hidden" name="entity-count" id="entity-count" value="0" />

<!-- User Block Pop Up Window -->
<div style="display: none;" id="user-block-popup" class="ban-pop-up-window">
    <form action="#" id="user-block-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите заблокировать пользователей?</div>
            <div class="description">Эти пользователи не смогут учавствовать в вечеринке.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="block-party-user">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Block Pop Up Window End -->
<!-- User Unblock Pop Up Window -->
<div style="display: none;" id="user-unblock-popup" class="ban-pop-up-window">
    <form action="#" id="user-unblock-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите разблокировать пользователей?</div>
            <div class="description">Эти пользователи смогут учавствовать в вечеринке.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="unblock-party-user">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Unblock Pop Up Window End -->
<!-- User Invite Pop Up Window -->
<div style="display: none;" id="party-invite-user-popup" class="ban-pop-up-window">
    <form action="#" id="user-block-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите отправить приглашение этим пользователям?</div>
            <div class="description">Эти пользователи будут приглашены на вечеринку.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="invite-party-user">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Block Pop Up Window End -->
<!-- User Unblock Pop Up Window -->
<div style="display: none;" id="party-cancel-invitation-popup" class="ban-pop-up-window">
    <form action="#" id="user-unblock-form">
        <div class="form-inner-wrap">
            <div class="title">Вы уверены, что хотите отменить приглашение пользователей?</div>
            <div class="description">Эти пользователи не будут приглашены на вечеринку.</div>
            <div class="error-message">
                <span></span>
            </div>

            <div class="st-btn">
                <button type="button" data-fancybox-close>Нет</button>
                <button type="submit" id="cancel-party-users-invitation">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Unblock Pop Up Window End -->
<!-- User Add To Char Group Pop Up Window -->
<div style="display: none;" id="user-add-to-chat-popup" class="ban-pop-up-window">
    <form action="@Url.Action("AddChatUsers", "PartyMembers")" id="user-add-to-chat-form">
        <div class="form-inner-wrap">
            @{int i = 0; }
            @foreach (var chatGroups in ViewBag.Chats)
            {
                i++;
                <div class="chatgroup hidden-group">
                    <div class="chatgroup-avatar" style="background-image: url(@chatGroups.Image);"></div>
                    <div class="chatgroup-content">
                        <div class="chatgroup-name">@chatGroups.Name</div>
                        <div class="chatgroup-date">Создан: @chatGroups.CreationDate.ToShortDateString()</div>
                        <div class="chatgroup-user-count">@chatGroups.ChatPrivateGroupsUsers.Count человек(а)</div>
                    </div>
                    <div class="chatgroup-checkbox-marker">
                        <input type="radio" id="group_@(chatGroups.Id)_mark" name="chatAddGroupId" class="chatgroup-mark" data-id="@chatGroups.Id" value="@chatGroups.Id" @(i == 1 ? "checked" : "") hidden data-hidden="1">
                        <label for="group_@(chatGroups.Id)_mark">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </label>
                    </div>
                </div>

            }

            <div class="st-btn">
                <button type="submit">Да</button>
            </div>
        </div>
    </form>
    <div class="pop-up-message">
        <div class="title"></div>
        <div class="st-btn">
            <button data-fancybox-close class="message-btn">OK</button>
        </div>
    </div>
</div>
<!-- User Add To Char Group Pop Up Window End -->
<div class="wrap">
    @Html.Partial("_SidebarPartial")
    <div class="content user-page-content">
        <div class="container-fluid">
            @Html.Action("GetMembers")
            <div class="users-control-menu">
                <h5>
                    Количество выбранных пользователей:
                    <div id="checked-users-amount">0</div>
                </h5>
                <ul>
                    @*<li>
                            <a href="#" class="menu-item-delete" data-fancybox data-src="#user-block-popup"><ion-icon name="close-circle-outline"></ion-icon> <span>Заблокировать</span></a>
                        </li>
                        <li>
                            <a href="#" class="menu-item-unblock" data-fancybox data-src="#user-unblock-popup"><ion-icon name="checkmark-circle-outline"></ion-icon> <span>Разблокировать</span></a>
                        </li>*@
                    <li>
                        <a href="#" class="menu-item-add" data-fancybox data-src="#user-add-to-chat-popup"><ion-icon name="ios-chatbubbles"></ion-icon> <span>Добавить в чат</span></a>
                    </li>
                    <li>
                        <a href="#" class="menu-item-unblock" data-fancybox data-src="#party-invite-user-popup"><ion-icon name="checkmark-circle-outline"></ion-icon> <span>Пригласить</span></a>
                    </li>
                    <li>
                        <a href="#" class="menu-item-unblock" data-fancybox data-src="#party-cancel-invitation-popup"><ion-icon name="checkmark-circle-outline"></ion-icon> <span>Отменить приглашение</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render($"~/bundles/js/party-members-page-{BundleConfig.Version}")
}