﻿@model DataAccessLayer.News
<div class="st-row st-news" style="display: none;">
    @using (Html.BeginForm("CreateNewsPost", "News", FormMethod.Post, new { id = "createNewsForm", enctype = "multipart/from-data" }))
    {

        <div class="news-top">
            <div class="news-title news-top-column">
                @Html.DisplayNameFor(model => model.NameRu)
                <input type="text" name="NameRu" id="NameRu" class="news_edit_items new-title-field" placeholder="Заголовок новости">
                @*@Html.TextBoxFor(model => model.NameRu, new { @class = "news_edit_items new-title-field", @placeholder = "Заголовок новости" })*@
            </div>
            @*<div class="news-title news-top-column">
                    @Html.TextBoxFor(model => model.NameKg, new { @placeholder = "Название альбома" })
                </div>*@
            <div class="new-section news-top-column">
                @Html.DisplayNameFor(model=>model.NewsCategory)
                @Html.DropDownListFor(model => model.NewsCategory, (SelectList) ViewBag.NewsCategories, new {@class = "news_edit_items"})
            </div>
            <div class="new-section news-top-column">
                @Html.DisplayNameFor(model=>model.NewsType)
                @Html.DropDownListFor(model => model.NewsType, (SelectList) ViewBag.NewsTypes, new {@class = "news_edit_items"})
            </div>

            <div class="news-branding news-top-column">
                @Html.DisplayNameFor(model => model.IsBrand)
                @Html.EditorFor(model => model.IsBrand, "BrendingStatus", new {@class = "news_edit_items st-selectize"})
            </div>
            @*<div class="news-language news-top-column">
                @Html.TextBoxFor(model=>model.)
            </div>*@

            <div class="news-date news-top-column">
                @Html.DisplayNameFor(model => model.PublicationDate)
                @Html.TextBoxFor(model => model.PublicationDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "news_edit_items timepicker" })
                @*<input type="text" name="CreationDate" id="CreationDate" class="news_edit_items datepicker" placeholder="Дата публикации">*@
            </div>
        </div>
        <div class="news-midddle">
            <div class="news-middle-column">
                <div class="st-upload news_img_upload edit" id="uploadip" name="uploadip" style="background-image: url(/Content/img/news-web-image-upload.png)">
                    <label for="ImageP"></label>
                    @*<input type="file" multiple="multiple" id="albumImgs" accept='image/*' name="albumImgs" class="st-upload-input">*@
                    <input type="file" id="ImageP" accept='image/*' name="ImageP" class="st-upload-input">
                </div>
            </div>
            <div class="news-middle-column" >
                <div class="st-upload news_img_upload edit" id="uploadvp" name="uploadvp" style="background-image: url(/Content/img/news-web-video-upload.png)">
                    <label for="VideoP"></label>
                    <input type="file" id="VideoP" accept='video/*' name="VideoP" class="st-upload-input">
                </div>
            </div>
            <div class="news-middle-column">
                <div class="st-upload news_img_upload edit" id="uploadim" name="uploadim" style="background-image: url(/Content/img/news-app-image-upload.png)">
                    <label for="ImageM"></label>
                    <input type="file" id="ImageM" accept='image/*' name="ImageM" class="st-upload-input">
                </div>
            </div>
            <div class="news-middle-column">
                <div class="st-upload news_img_upload edit" id="uploadvm" name="uploadvm" style="background-image: url(/Content/img/news-app-video-upload.png)">
                    <label for="VideoM"></label>
                    <input type="file" id="VideoM" accept='video/*' name="VideoM" class="st-upload-input">
                </div>
            </div>
            <div class="news-middle-column" style="display: none">
                <!--<p>
        <span>Количество лайков:</span>
        <span>
            158
            <ion-icon name="thumbs-up"></ion-icon>
        </span>
    </p>
    <p>
        <span>Количество просмотров:</span>
        <span>
            9999
            <ion-icon name="eye"></ion-icon>
        </span>
    </p>-->
            </div>
        </div>
        <div class="news-bottom">
            <div class="text-content">
                <div class="news-checkboxes-on-editor">
                    <!-- <div class="mark-as-main item">
         <input type="checkbox" class="checkbox" name="NewsType" id="NewsType" value="1">
         <label class="testlabel" for="NewsType">Главная новость</label>
     </div>-->
                    <div class="news-visibility item">
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox", @id = "news-visibility-add" })
                        <!--<input type="checkbox" class="checkbox" name="as_main_news" id="news-visibility-add">-->
                        <label class="testlabel" for="news-visibility-add">Показать новость</label>
                    </div>
                </div>

                @*<textarea class="summernote" id="DescriptionRu" name="DescriptionRu"></textarea>*@
                @Html.TextAreaFor(model => model.DescriptionRu, new { @class = "summernote" })
            </div>
            <div class="btn-row row no-gutters">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="center-btns btns-wrap">
                        <div class="st-btn">
                            <button type="button" class="news-adding-abort">Отмена</button>
                        </div>
                        <div class="st-btn">
                            <button type="submit" class="bg-success border-success news-add-btn">Сохранить</button>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    }
</div>
<div class="formError" style="display: none;">
    <span><ion-icon name="alert" role="img" class="hydrated" aria-label="alert"></ion-icon> </span>
</div>