﻿@using StayTrueWebAdmin.Extentions
@using PagedList.Mvc
@model  StayTrueWebAdmin.Models.FilterModels.NewsFilteredModel

@{
    ViewBag.Title = "Новости";
}

<div class="wrap">
    @Html.Partial("_SidebarPartial")

    <div class="content">
        <div class="container-fluid">
            <div class="content-header">
                @using (Html.BeginForm("Index", "News", FormMethod.Post, new { id = "FilterForm" }))
                {
                    <div class=" d-flex justify-content-center">
                        <div class="st-column">
                            <div class="filter-item-title">Дата публикации</div>
                            @Html.TextBoxFor(model => model.Filter.CreationDateFrom, "{0:dd/MM/yyyy}", new { name = "news_published_date_min", @class = "timepicker", placeHolder = "от дд/мм/гггг" })
                            @Html.TextBoxFor(model => model.Filter.CreationDateTo, "{0:dd/MM/yyyy}", new { name = "news_published_date_max", @class = "timepicker", placeHolder = "до дд/мм/гггг" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Заголовок</div>
                            @Html.TextBoxFor(model => model.Filter.Header)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Разделы</div>

                            @Html.DropDownListFor(model => model.Filter.Category, Model.NewsCategories, "Все", new { @class = "st-selectize" })
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Статус</div>
                            @Html.EditorFor(model => model.Filter.IsActive, "SearchPublicationStatus")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Брендинг</div>
                            @Html.EditorFor(model => model.Filter.IsBrand, "SearchBrandStatus")
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title">Количество лайков</div>
                            @Html.TextBoxFor(model => model.Filter.CountLikesFrom)
                            @Html.TextBoxFor(model => model.Filter.CountLikesTo)
                        </div>
                        <div class="st-column">
                            <div class="filter-item-title"></div>
                            <button type="submit" class="st-button apply-btn border-primary bg-primary text-white">
                                <span>Применить</span>
                                <ion-icon name="ios-checkmark-circle"></ion-icon>
                            </button>
                            <button type="button" class="st-button reset-btn">
                                <span>Сбросить</span>
                                <ion-icon name="ios-close-circle"></ion-icon>
                            </button>
                        </div>
                    </div>
                }

            </div>
            <div class="content-body">
                <div id="add-news" class="add-new-wrap">
                    <div id="add-new-tgl">
                        <span></span>
                        <span>Добавить новость</span>
                    </div>
                    @Html.Action("CreateNews")
                </div>
                @foreach (var item in Model.News)
                {
                    <div class="st-row st-news">
                        @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data", @class = "entity-edit" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(modelItem => item.Id)

                            @Html.HiddenFor(modelItem => item.IsDeleted)
                            <div class="news-top">
                                <div class="news-title news-top-column">
                                    @Html.TextBoxFor(modelItem => item.NameRu, new { @class = "news_edit_items new-title-field", disabled = "disabled" })
                                </div>
                                <div class="new-section news-top-column">
                                    <span style="display: none;" data-category="@item.NewsCategory" class="news-category"></span>
                                    @Html.DropDownListFor(modelItem => item.NewsCategory, Model.NewsCategories, new { @class = "news_edit_items", disabled = "disabled" })
                                </div>
                                <div class="new-section news-top-column">
                                    <span style="display: none;" data-type="@item.NewsType" class="news-type"></span>
                                    @Html.DropDownListFor(modelItem => item.NewsType,(SelectList) ViewBag.NewsTypes, new { @class = "news_edit_items", disabled = "disabled" })
                                </div>
                                <div class="news-branding news-top-column">
                                    @Html.EditorFor(modelItem => item.IsBrand, "BrendingStatus", new { @class = "news_edit_items new-title-field", disabled = "disabled" })

                                </div>
                                <!-- <div class="news-language news-top-column">
                        <select class="news_edit_items" name="news_language" id="news_language" disabled>
                            <option value="ru">Русский язык</option>
                            <option value="kg">Кыргызский язык</option>
                        </select>
                    </div>-->
                                <div class="news-date news-top-column">
                                    @Html.TextBoxFor(modelItem => item.PublicationDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "news_edit_items timepicker", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="news-midddle">
                                <div class="news-middle-column">
                                    <div class="st-upload news_img_upload" style="background-image: url(@item.ImageP)">
                                        <a href="@item.ImageP" data-fancybox></a>
                                        <label for="imageP_@item.Id"></label>
                                        <input type="file" id="imageP_@item.Id" accept='image/*' name="imageP" class="st-upload-input user_edit_items">
                                    </div>
                                </div>
                                <div class="news-middle-column">
                                    <div class="st-upload news_img_upload" style="background-image: url(@item.VideoP)">
                                        <a href="#news-web-video-@item.Id" data-fancybox></a>
                                        <label for="videoP_@item.Id"></label>
                                        <input type="file" id="videoP_@item.Id" accept='video/*' name="videoP" class="st-upload-input user_edit_items">

                                        <video controls="false" id="news-web-video-@item.Id">
                                            <source src="@item.VideoP" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <div class="news-middle-column">
                                    <div class="st-upload news_img_upload" style="background-image: url(@item.ImageM)">
                                        <a href="@item.ImageM" data-fancybox></a>
                                        <label for="imageM_@item.Id"></label>
                                        <input type="file" id="imageM_@item.Id" accept='image/*' name="imageM" class="st-upload-input user_edit_items">
                                    </div>
                                </div>
                                <div class="news-middle-column">
                                    <div class="st-upload news_img_upload" style="background-image: url(@item.VideoM)">
                                        <a href="#news-app-video-@item.Id" data-fancybox></a>
                                        <label for="videoM_@item.Id"></label>
                                        <input type="file" id="videoM_@item.Id" accept='video/*' name="videoM" class="st-upload-input user_edit_items">

                                        <video controls="false" id="news-app-video-@item.Id">
                                            <source src="@item.VideoM" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <div class="news-middle-column">
                                    <p>
                                        <span>Количество лайков:</span>
                                        <span>
                                            @item.Likes.Count()
                                            <ion-icon name="thumbs-up"></ion-icon>
                                        </span>
                                    </p>
                                    <!-- <p>
                            <span>Количество просмотров:</span>
                            <span>
                                9999
                                <ion-icon name="eye"></ion-icon>
                            </span>
                        </p>-->
                                </div>
                            </div>
                            <div class="news-bottom">
                                <div class="text-content">
                                    <div class="news-checkboxes-on-editor">
                                        <!--  <div class="mark-as-main item">
                                <input type="checkbox" class="checkbox" name="NewsType" value="@Html.DisplayFor(modelItem => item.NewsType)" id="mainNewsTypenews_@item.Id">
                                <label class="testlabel" for="mainNewsTypenews_@item.Id">Главная новость</label>
                            </div>-->
                                        <div class="news-visibility item">
                                            @Html.CheckBoxFor(modelItem => item.IsActive, new { @class = "checkbox", @id = "item_IsActive_" + item.Id })
                                            <!--<input type="checkbox" class="checkbox" name="as_main_news" id="news-visibility_@item.Id">-->
                                            <label class="testlabel" for="item_IsActive_@item.Id">Показать новость</label>
                                        </div>
                                    </div>
                                    @Html.TextAreaFor(modelItem => item.DescriptionRu, new { @class = "summernote" })

                                </div>
                                <div class="btn-row row no-gutters">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <div class="center-btns btns-wrap">
                                            <div class="st-btn">
                                                <button type="button" class="news-abort" hidden>Отмена</button>
                                            </div>
                                            <div class="st-btn">
                                                <button type="submit" class="bg-success border-success news-publish" hidden>Сохранить</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="right-btns btns-wrap">
                                            <div class="st-btn">
                                                <button type="button" data-id="@item.Id" class="news-delete delete-btn bg-danger border-danger" data-fancybox data-src="#delete-popup" hidden>Удалить</button>
                                            </div>
                                            <div class="st-btn">
                                                <button type="button" class="news-edit bg-info border-info">Редактировать</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="formError" style="display: none;">
                        <span><ion-icon name="alert" role="img" class="hydrated" aria-label="alert"></ion-icon> </span>
                    </div>
                }

            </div>
            @Html.PagedListPager(Model.News, page => Url.Action("Index", new
             {
                 Model.Filter.CreationDateFrom,
                 Model.Filter.CreationDateTo,
                 Model.Filter.Header,
                 Model.Filter.Category,
                 Model.Filter.IsActive,
                 Model.Filter.IsBrand,
                 Model.Filter.CountLikesFrom,
                 Model.Filter.CountLikesTo,
                 page
             }), new PagedListRenderOptions()
             {
                 Display = PagedListDisplayMode.IfNeeded,
                 ContainerDivClasses = new[] { "pagination" },
                 UlElementClasses = new[] { "" }
             })
        </div>
    </div>
</div>
@Html.Partial("_DeleteConfirmDialogPartial")
@section Scripts {
    @Scripts.Render($"~/bundles/js/news-page-{BundleConfig.Version}")
}
